Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamFieldMeta.test.ts
  src/components/editor/param-renderer/useParamFieldMeta.ts
Due: eslint --fix, stylelint --fix

🐛 修复可视化编辑器语句内联参数区的 placeholder 回退与宽度布局 (#154)
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamFieldMeta.test.ts
  src/components/editor/param-renderer/useParamFieldMeta.ts
  src/components/editor/statement-editor/StatementCommandFieldsSection.vue
  src/features/editor/command-registry/display.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

⚡️ 优化可视化编辑器动态选项下拉性能
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
Due: eslint --fix, stylelint --fix

🚨 修复 lint 问题
  src/components/primitives/Combobox.spec.ts
Due: eslint --fix

⚡️ 优化可视化编辑器动态选项下拉性能 (#155)
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
Due: eslint --fix, stylelint --fix

✨ 支持可视化编辑器级联选择 Combobox
  bun.lock
  package.json
  src/components.d.ts
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/primitives/combobox/FloatingSubpanel.vue
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/components/primitives/combobox/useCascadingComboboxState.ts
  src/components/primitives/combobox/useCascadingSubmenuFloating.ts
  src/components/settings/form/fields/InputField.vue
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/schema.ts
  src/features/settings/__tests__/edit-settings.test.ts
  src/features/settings/edit-settings.ts
  src/features/settings/schema.ts
  src/lib/__tests__/cascading-combobox.test.ts
  src/lib/cascading-combobox.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/edit-settings.test.ts
Due: eslint --fix, stylelint --fix

🐛 解决报告问题
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
Due: eslint --fix, stylelint --fix

🚨 解决 lint 问题
  src/components/primitives/CascadingCombobox.vue
Due: eslint --fix, stylelint --fix

🐛 解决报告问题
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
Due: eslint --fix, stylelint --fix

✨ 支持可视化编辑器级联选择 Combobox (#156)
  bun.lock
  package.json
  src/components.d.ts
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/primitives/combobox/FloatingSubpanel.vue
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/components/primitives/combobox/useCascadingComboboxState.ts
  src/components/primitives/combobox/useCascadingSubmenuFloating.ts
  src/components/settings/form/fields/InputField.vue
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/schema.ts
  src/features/settings/__tests__/edit-settings.test.ts
  src/features/settings/edit-settings.ts
  src/features/settings/schema.ts
  src/lib/__tests__/cascading-combobox.test.ts
  src/lib/cascading-combobox.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/edit-settings.test.ts
Due: eslint --fix, stylelint --fix

✨ 支持 Combobox 与 CascadingCombobox 多关键词搜索
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/primitives/combobox/__tests__/cascading-combobox-data.test.ts
  src/components/primitives/combobox/__tests__/search.test.ts
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/components/primitives/combobox/cascading-combobox-data.ts
  src/components/primitives/combobox/search.ts
  src/components/primitives/combobox/useCascadingComboboxState.ts
Due: eslint --fix, stylelint --fix

✨ 支持 Combobox 与 CascadingCombobox 多关键词搜索 (#157)
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/primitives/combobox/__tests__/cascading-combobox-data.test.ts
  src/components/primitives/combobox/__tests__/search.test.ts
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/components/primitives/combobox/cascading-combobox-data.ts
  src/components/primitives/combobox/search.ts
  src/components/primitives/combobox/useCascadingComboboxState.ts
Due: eslint --fix, stylelint --fix

🐛 修复编辑器预览异常整页刷新并收敛预览会话状态
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-picker/FilePicker.vue
  src/services/__tests__/config-manager.test.ts
  src/services/config-manager.ts
  src/services/platform/__tests__/asset-url.test.ts
  src/services/platform/asset-url.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/__tests__/workspace.test.ts
  src/stores/editor.ts
  src/stores/preview-session.ts
  src/stores/workspace.ts
Due: eslint --fix, stylelint --fix

♻️ 整理测试
  src/components/editor/AssetView.spec.ts
  src/stores/__tests__/workspace.test.ts
Due: eslint --fix

🐛 修复编辑器预览异常整页刷新并收敛预览会话状态 (#158)
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-picker/FilePicker.vue
  src/services/__tests__/config-manager.test.ts
  src/services/config-manager.ts
  src/services/platform/__tests__/asset-url.test.ts
  src/services/platform/asset-url.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/__tests__/workspace.test.ts
  src/stores/editor.ts
  src/stores/preview-session.ts
  src/stores/workspace.ts
Due: eslint --fix, stylelint --fix

🐛 修复动画时间线刻度对齐与拖拽边界行为
  src/components/editor/animation/AnimationTimeline.spec.ts
  src/components/editor/animation/AnimationTimeline.vue
  src/components/editor/animation/__tests__/animation-timeline-layout.test.ts
  src/components/editor/animation/animation-timeline-layout.ts
  src/composables/__tests__/usePointerDrag.test.ts
  src/composables/usePointerDrag.ts
  src/features/editor/animation/__tests__/useVisualEditorAnimation.test.ts
  src/features/editor/animation/useVisualEditorAnimation.ts
Due: eslint --fix, stylelint --fix

🐛 修复单个时间标记的错误定位问题
  src/components/editor/animation/AnimationTimeline.spec.ts
  src/components/editor/animation/AnimationTimeline.vue
Due: eslint --fix, stylelint --fix

♻️ 改进优化
  src/components/editor/animation/AnimationTimeline.vue
Due: eslint --fix, stylelint --fix

🐛 修复动画时间线刻度对齐与拖拽边界行为 (#159)
  src/components/editor/animation/AnimationTimeline.spec.ts
  src/components/editor/animation/AnimationTimeline.vue
  src/components/editor/animation/__tests__/animation-timeline-layout.test.ts
  src/components/editor/animation/animation-timeline-layout.ts
  src/composables/__tests__/usePointerDrag.test.ts
  src/composables/usePointerDrag.ts
  src/features/editor/animation/__tests__/useVisualEditorAnimation.test.ts
  src/features/editor/animation/useVisualEditorAnimation.ts
Due: eslint --fix, stylelint --fix

✨ 新增共享基础设施 (types / utils / composables)
  src/components/ui/context-menu/ContextMenuItem.vue
  src/components/ui/dropdown-menu/DropdownMenuItem.vue
  src/components/ui/select/SelectLabel.vue
  src/composables/useDeleteConfirmation.ts
  src/services/platform/__tests__/storage-defaults.test.ts
  src/services/platform/app-paths.ts
  src/services/platform/asset-url.ts
  src/services/platform/storage-defaults.ts
  src/types/__tests__/errors.test.ts
  src/types/errors.ts
  src/types/menu-item.ts
  src/utils/path.ts
Due: eslint --fix, stylelint --fix

🐛 修复删除确认竞态与隐藏文件去重命名异常
  src/composables/useDeleteConfirmation.ts
  src/utils/path.ts
Due: eslint --fix

🚨 修复 lint 问题
  src/composables/useDeleteConfirmation.ts
Due: eslint --fix

✨ 新增 VFS 共享基础设施与通用路径/错误处理 (#160)
  src/components/ui/context-menu/ContextMenuItem.vue
  src/components/ui/dropdown-menu/DropdownMenuItem.vue
  src/components/ui/select/SelectLabel.vue
  src/composables/useDeleteConfirmation.ts
  src/services/platform/__tests__/storage-defaults.test.ts
  src/services/platform/app-paths.ts
  src/services/platform/asset-url.ts
  src/services/platform/storage-defaults.ts
  src/types/__tests__/errors.test.ts
  src/types/errors.ts
  src/types/menu-item.ts
  src/utils/path.ts
Due: eslint --fix, stylelint --fix

✨ 引入 VFS 后端与项目配置命令
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/project_config.rs
  src-tauri/src/commands/vfs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/fs.ts
  src/commands/project-config.ts
  src/commands/vfs.ts
  src/types/project-config.ts
Due: eslint --fix

🔥 移除 standalone 模板绑定的冗余 version 字段
  src-tauri/src/vfs.rs
Due: none

🔥 移除 OverlayFactoryCache 避免引擎/模板目录变更后残留旧 canonical 路径
  src-tauri/src/commands/vfs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
Due: none

🔒️ 移除读取路径的快速校验以阻断 lower 层 symlink 逃逸
  src-tauri/src/vfs.rs
Due: none

⚡️ 优化 is_whiteouted 逐级校验避免每次重扫祖先链
  src-tauri/src/vfs.rs
Due: none

♻️ 统一 vfsCmds API 风格为对象参数
  src/commands/vfs.ts
Due: eslint --fix

🔥 移除 PR3 server 重构启用的死代码与未使用依赖
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/error.rs
  src-tauri/src/vfs.rs
Due: none

✅ VFS 测试改用 tempfile::TempDir 自动清理临时目录
  src-tauri/src/commands/vfs.rs
  src-tauri/src/vfs.rs
Due: none

🎨 格式化 rust 后端代码
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/vfs.rs
  src-tauri/src/vfs.rs
Due: none

🐛 修复安装/创建流程不刷新已存在目标文件
  src-tauri/src/commands/fs.rs
  src/commands/fs.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
Due: eslint --fix

♻️ 简化代码逻辑，消除重复和冗余注释
  src-tauri/src/commands/fs.rs
  src-tauri/src/vfs.rs
Due: none

🎨 格式化 rust 后端代码
  src-tauri/src/commands/fs.rs
Due: none

🔒️ write_project_config 强制 version 为当前 schema 版本
  src-tauri/src/vfs.rs
Due: none

✨ VfsError 为 AlreadyExists 单独暴露错误码
  src-tauri/src/vfs.rs
Due: none

📝 OverlayFs::new 注释补充目录必须存在的前提
  src-tauri/src/vfs.rs
Due: none

🎨 格式化 rust 后端代码
  src-tauri/src/vfs.rs
Due: none

🐛 build_overlay 显式传入的无效 template_path 不再静默回退默认模板
  src-tauri/src/commands/vfs.rs
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
