Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🐛 修复关闭编辑器抽屉后焦点未回到编辑器表面
  src/components/editor/StatementAnimationEditorPanel.spec.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
Due: eslint --fix

♻️ 收敛抽屉快捷键上下文入参与焦点兜底注释
  src/components/editor/EditorDrawer.vue
  src/components/editor/StatementAnimationEditorPanel.vue
Due: eslint --fix, stylelint --fix

✅ 去重焦点用例并修掉会被 lint 改坏的断言
  src/components/editor/StatementAnimationEditorPanel.spec.ts
Due: eslint --fix

🐛 抽屉关闭后立即释放快捷键上下文
  src/components/editor/EditorDrawer.vue
  src/components/editor/EditorPanel.spec.ts
Due: eslint --fix, stylelint --fix

✨ 高级动画编辑器改为锚定编辑面板的非模态抽屉 (#356)
  src/components.d.ts
  src/components/editor/EditorDrawer.vue
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/EffectEditorPanel.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/StatementAnimationEditorPanel.spec.ts
  src/components/editor/StatementAnimationEditorPanel.vue
  src/components/editor/VisualEditorAnimation.vue
  src/components/editor/animation/AnimationEditorPane.vue
  src/components/modals/StatementAnimationSubDialog.vue
  src/components/ui/sheet/SheetContent.vue
  src/components/ui/sheet/index.ts
  src/features/editor/shared/useDrawerDismissLayers.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
Due: eslint --fix, stylelint --fix

🐛 修复资源浏览器列表模式无法显示文件大小与时间属性
  integration/support/mock-tauri.ts
  src-tauri/src/vfs.rs
  src/stores/__tests__/file.test.ts
  src/stores/file.ts
  src/types/project-config.ts
Due: eslint --fix

🐛 修复资源浏览器列表模式无法显示文件大小与时间属性 (#357)
  integration/support/mock-tauri.ts
  src-tauri/src/vfs.rs
  src/stores/__tests__/file.test.ts
  src/stores/file.ts
  src/types/project-config.ts
Due: eslint --fix

💄 预览面板底部工具栏改为悬浮样式
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复缺少入口时悬浮控件遮挡提示遮罩
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复空格平移模式误捕获悬浮工具栏按下
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复悬浮读数区域误触发空格平移
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修正悬浮读数的平移判定范围
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修正悬浮工具栏的空格平移光标反馈
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

💄 预览面板底部工具栏改为悬浮样式 (#358)0
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

💄 预览面板底部工具栏改为悬浮样式 (#358)
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复引擎绑定修复后状态栏与模板标签仍停留在旧值
  src/components/editor/EditorStatusBar.spec.ts
  src/components/editor/EditorStatusBar.vue
  src/composables/__tests__/useTemplateLabel.test.ts
  src/composables/useTemplateLabel.ts
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/template-switch.test.ts
  src/services/game-manager.ts
Due: eslint --fix, stylelint --fix

🐛 修复卸载引擎未校验项目配置引用导致误删在用引擎
  src/components/modals/DeleteEngineGroupModal.spec.ts
  src/components/modals/DeleteEngineGroupModal.vue
  src/components/modals/DeleteEngineModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix, stylelint --fix

✨ 增加设置帮助页以重置全部引导进度
  src/components.d.ts
  src/components/modals/SettingsModal.vue
  src/components/settings/HelpSettings.vue
  src/features/onboarding/__tests__/tour-state.test.ts
  src/features/onboarding/__tests__/useOnboardingTour.test.ts
  src/features/onboarding/tour-state.ts
  src/features/onboarding/tour.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 增加切换引擎与模板的新手引导
  src/components/editor/EditorStatusBar.vue
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.vue
  src/features/onboarding/__tests__/resource-switch-availability.test.ts
  src/features/onboarding/__tests__/useEditorWorkspaceTour.test.ts
  src/features/onboarding/__tests__/useResourceSwitchTour.test.ts
  src/features/onboarding/__tests__/useSidebarCollapseTour.test.ts
  src/features/onboarding/resource-switch-availability.ts
  src/features/onboarding/tour-state.ts
  src/features/onboarding/tour-version.ts
  src/features/onboarding/tour.ts
  src/features/onboarding/useEditorTour.ts
  src/features/onboarding/useEditorWorkspaceTour.ts
  src/features/onboarding/useOnboardingTour.ts
  src/features/onboarding/useResourceSwitchTour.ts
  src/features/onboarding/useSidebarCollapseTour.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/modal.ts
  src/styles/tour.css
  src/views/edit/[gameId].vue
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix, stylelint --fix

🐛 修复重置引导进度时未清除未挂载引导的完成记录
  src/features/onboarding/__tests__/tour-state.test.ts
  src/features/onboarding/tour-state.ts
Due: eslint --fix

✅ 补齐编辑页壳层测试对资源切换引导的 mock
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix

🔖 v1.0.0-beta.2
  package.json
Due: none

🔧 修正 YAML 注释被 @stylistic/spaced-comment 误报
  eslint.config.js
Due: eslint --fix

🔧 修正 YAML 注释被 @stylistic/spaced-comment 误报 (#361)
  eslint.config.js
Due: eslint --fix

👷 抽取构建环境准备为共享 composite action
  .github/actions/prepare-build/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

👷 抽取构建环境准备为共享 composite action (#362)
  .github/actions/prepare-build/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

🐛 修复引擎或模板切换进行中可关闭弹窗并重复切换的问题
  src/__tests__/browser-dialog.ts
  src/components/modals/SwitchEngineModal.spec.ts
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.spec.ts
  src/components/modals/SwitchTemplateModal.vue
  src/components/ui/dialog/DialogContent.spec.ts
  src/components/ui/dialog/DialogContent.vue
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-switch-guard.test.ts
  src/services/engine-switch.ts
  src/services/game-switch-guard.ts
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

🐛 修复引擎或模板切换进行中可关闭弹窗并重复切换的问题 (#363)
  src/__tests__/browser-dialog.ts
  src/components/modals/SwitchEngineModal.spec.ts
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.spec.ts
  src/components/modals/SwitchTemplateModal.vue
  src/components/ui/dialog/DialogContent.spec.ts
  src/components/ui/dialog/DialogContent.vue
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-switch-guard.test.ts
  src/services/engine-switch.ts
  src/services/game-switch-guard.ts
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

🔖 v1.0.0-beta.2 (#364)
  package.json
Due: none

💬 资源面板空状态补充拖放导入提示
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerState.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🚨 修正资源面板空状态提示的 UnoCSS 类顺序
  src/components/file-viewer/FileViewerState.vue
Due: eslint --fix, stylelint --fix

💬 资源面板空状态补充拖放导入提示 (#366)
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerState.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复删除游戏弹窗勾选后确认按钮文案切换导致的布局抖动
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/DeleteGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复删除游戏弹窗勾选后确认按钮文案切换导致的布局抖动 (#367)
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/DeleteGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复多行语句中选区高亮被整行高亮盖住的问题
  src/__tests__/mocks/monaco.ts
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/features/editor/text-editor/__tests__/text-editor-statement-highlight.browser.test.ts
  src/features/editor/text-editor/__tests__/text-editor-statement-highlight.test.ts
  src/features/editor/text-editor/text-editor-statement-highlight.ts
Due: eslint --fix, stylelint --fix

🐛 修复多行语句中选区高亮被整行高亮盖住的问题 (#368)
  src/__tests__/mocks/monaco.ts
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/features/editor/text-editor/__tests__/text-editor-statement-highlight.browser.test.ts
  src/features/editor/text-editor/__tests__/text-editor-statement-highlight.test.ts
  src/features/editor/text-editor/text-editor-statement-highlight.ts
Due: eslint --fix, stylelint --fix

🐛 修复 Combobox 与 CascadingCombobox 点击关联标签时展开候选面板
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/ComboboxTriggerAppearance.spec.ts
  src/components/primitives/combobox/useComboboxTrigger.ts
Due: eslint --fix, stylelint --fix

🐛 修复组合框触发器拖出后残留打开意图的问题
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/combobox/useComboboxTrigger.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
