Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复问题
  src/services/__tests__/document-write-intents.test.ts
  src/stores/__tests__/command-panel.test.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/file.test.ts
  src/stores/__tests__/general-settings.test.ts
  src/stores/__tests__/preview-settings.test.ts
  src/stores/__tests__/workspace.test.ts
  src/stores/internal/__tests__/editor-document-actions.test.ts
  src/stores/internal/__tests__/editor-file-lifecycle.test.ts
  src/stores/workspace.ts
Due: eslint --fix

🚨 修复类型错误
  src/stores/__tests__/editor.test.ts
  src/stores/internal/__tests__/editor-file-lifecycle.test.ts
Due: eslint --fix

♻️ 改进
  src/stores/__tests__/file.test.ts
  src/stores/__tests__/preview-settings.test.ts
  src/stores/internal/__tests__/editor-file-lifecycle.test.ts
Due: eslint --fix

🧪 为编辑器 composables 与动画会话补充单元测试覆盖
  src/components/edit/animation/__tests__/animation-timeline-layout.test.ts
  src/components/edit/animation/__tests__/useAnimationEditorSession.test.ts
  src/composables/__tests__/statement-editor-test-utils.ts
  src/composables/__tests__/useControlId.test.ts
  src/composables/__tests__/useEditorPanelBindings.test.ts
  src/composables/__tests__/useEffectColorControl.test.ts
  src/composables/__tests__/useEffectContinuousControls.test.ts
  src/composables/__tests__/useEffectDurationControl.test.ts
  src/composables/__tests__/useEffectEditorProvider-preview.test.ts
  src/composables/__tests__/useEffectEditorProvider-queue.test.ts
  src/composables/__tests__/useFileClipboard.test.ts
  src/composables/__tests__/useSettingsForm.test.ts
  src/composables/__tests__/useStatementAnimationDialog.test.ts
  src/composables/__tests__/useStatementAnimationEditorBridge.test.ts
  src/composables/__tests__/useStatementEditor.test.ts
  src/composables/__tests__/useStatementEditorContent.test.ts
  src/composables/__tests__/useStatementEditorParams.test.ts
  src/composables/__tests__/useStatementEditorScrub.test.ts
  src/composables/__tests__/useStatementEffectEditorBridge.test.ts
  src/composables/__tests__/useTabsWatcher.test.ts
  src/composables/__tests__/useTextEditorBindings.test.ts
  src/composables/__tests__/useTextEditorHistory.test.ts
  src/composables/__tests__/useTextEditorPanel.test.ts
  src/composables/__tests__/useTextEditorRuntime.test.ts
  src/composables/__tests__/useTextEditorSaveShortcut.test.ts
  src/composables/__tests__/useTextEditorWorkspace.test.ts
  src/composables/__tests__/useVisualEditorSaveShortcut.test.ts
Due: eslint --fix

🐛 修复报告问题
  src/composables/__tests__/useControlId.test.ts
  src/composables/__tests__/useEffectColorControl.test.ts
  src/composables/__tests__/useEffectContinuousControls.test.ts
  src/composables/__tests__/useEffectEditorProvider-preview.test.ts
  src/composables/__tests__/useEffectEditorProvider-queue.test.ts
  src/composables/__tests__/useFileClipboard.test.ts
  src/composables/__tests__/useStatementAnimationDialog.test.ts
  src/composables/__tests__/useStatementAnimationEditorBridge.test.ts
  src/composables/__tests__/useStatementEditorScrub.test.ts
  src/composables/__tests__/useStatementEffectEditorBridge.test.ts
  src/composables/__tests__/useTabsWatcher.test.ts
  src/composables/__tests__/useTextEditorHistory.test.ts
  src/composables/__tests__/useTextEditorRuntime.test.ts
  src/composables/__tests__/utils/createTestRenderer.ts
Due: eslint --fix

🐛 修复报告问题
  src/composables/__tests__/useEffectColorControl.test.ts
  src/composables/__tests__/useEffectEditorProvider-preview.test.ts
  src/composables/__tests__/useEffectEditorProvider-queue.test.ts
  src/composables/__tests__/useStatementAnimationEditorBridge.test.ts
  src/composables/__tests__/useStatementEditorScrub.test.ts
  src/composables/__tests__/useStatementEffectEditorBridge.test.ts
  src/composables/__tests__/useTabsWatcher.test.ts
Due: eslint --fix

🐛 修复报告问题
  src/composables/__tests__/useEffectColorControl.test.ts
  src/composables/__tests__/useStatementAnimationEditorBridge.test.ts
Due: eslint --fix

👷 拆分前端类型检查工作流并收紧 CI 权限
  .github/workflows/build.yml
  .github/workflows/code-suggestions.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/typecheck.yml
Due: none

🔥 清理现有单元测试中的别名与重复 mock
  src/composables/__tests__/statement-editor-test-utils.ts
  src/composables/__tests__/useEffectColorControl.test.ts
  src/composables/__tests__/useEffectContinuousControls.test.ts
  src/composables/__tests__/useStatementEditorContent.test.ts
  src/composables/__tests__/useTextEditorRuntime.test.ts
  src/helper/__tests__/dynamic-options.test.ts
  src/helper/__tests__/preview-media-session.test.ts
  src/helper/__tests__/text-editor-history-adapter.test.ts
  src/helper/__tests__/text-editor-play-to-line.test.ts
  src/helper/__tests__/text-editor-view-state.test.ts
  src/helper/statement-editor/__tests__/helpers.test.ts
  src/helper/statement-editor/__tests__/visibility.test.ts
  src/helper/webgal-script/__tests__/arg-utils.test.ts
  src/helper/webgal-script/__tests__/command-node-update-extra-args.test.ts
  src/helper/webgal-script/__tests__/parser.test.ts
  src/helper/webgal-script/__tests__/roundtrip.test.ts
  src/models/__tests__/file-codec.test.ts
  src/models/__tests__/text-projection.test.ts
  src/services/__tests__/config-manager.test.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/resource.test.ts
  src/stores/__tests__/tabs.test.ts
  src/stores/internal/__tests__/editor-document-state.test.ts
  src/utils/__tests__/path.test.ts
  src/utils/__tests__/sort.test.ts
Due: eslint --fix

♻️ 调整导入
  src/stores/__tests__/editor.test.ts
Due: eslint --fix

🧪 引入 Vitest browser runner 及最小浏览器测试基线
  bun.lock
  package.json
  src/__tests__/browser.ts
  src/__tests__/mocks/monaco.ts
  src/composables/__tests__/useTextEditorWorkspace.browser.test.ts
  vite.config.ts
Due: eslint --fix

🐛 修复报告问题
  src/__tests__/browser.test.ts
  src/__tests__/browser.ts
  src/__tests__/mocks/monaco.test.ts
  src/__tests__/mocks/monaco.ts
  src/composables/__tests__/useTextEditorWorkspace.browser.test.ts
Due: eslint --fix

🐛 修复问题
  src/__tests__/browser.test.ts
  src/__tests__/mocks/monaco.test.ts
Due: eslint --fix

♻️ 改进
  src/__tests__/mocks/monaco.test.ts
  src/__tests__/mocks/monaco.ts
Due: eslint --fix

♻️ 补充
  src/__tests__/mocks/monaco.test.ts
Due: eslint --fix

🧪 为编辑器与模态框组件补充浏览器测试覆盖
  src/__tests__/mocks/tauri-commands.ts
  src/components/FilePicker.spec.ts
  src/components/edit/AssetPreview.spec.ts
  src/components/edit/CommandPanel.spec.ts
  src/components/edit/EditorPanel.spec.ts
  src/components/edit/EditorStatusBar.spec.ts
  src/components/edit/EditorTabs.spec.ts
  src/components/edit/EditorToolbar.spec.ts
  src/components/edit/FileEditor.spec.ts
  src/components/edit/FileTree.spec.ts
  src/components/edit/LeftPanel.spec.ts
  src/components/edit/PreviewPanel.spec.ts
  src/components/edit/ScenePanel.spec.ts
  src/components/edit/StatementAnimationEditorPanel.spec.ts
  src/components/edit/StatementEditorPanel.spec.ts
  src/components/edit/TextEditor.spec.ts
  src/components/edit/VisualEditorAnimation.spec.ts
  src/components/edit/VisualEditorScene.spec.ts
  src/components/edit/animation/AnimationEditorPane.spec.ts
  src/components/edit/effect-editor/EffectDraftForm.spec.ts
  src/components/edit/special-content/PairListEditor.spec.ts
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/modals/CommandDefaultsModal.spec.ts
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/SaveChangesModal.spec.ts
  src/components/modals/StatementAnimationSubDialog.spec.ts
  src/components/modals/StatementGroupModal.spec.ts
Due: eslint --fix, stylelint --fix

🚨 修复警告
  src/__tests__/mocks/monaco.test.ts
  src/__tests__/mocks/monaco.ts
Due: eslint --fix

🐛 修复报告问题
  src/components/edit/AssetPreview.spec.ts
  src/components/edit/EditorPanel.spec.ts
  src/components/edit/EditorTabs.spec.ts
  src/components/edit/EditorToolbar.spec.ts
  src/components/edit/EditorToolbar.vue
  src/components/edit/FileTree.spec.ts
  src/components/edit/PreviewPanel.spec.ts
  src/components/edit/StatementAnimationEditorPanel.spec.ts
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/components/modals/SaveChangesModal.spec.ts
Due: eslint --fix, stylelint --fix

🔥 清理过时测试
  src/components/edit/EditorStatusBar.spec.ts
  src/components/edit/animation/AnimationEditorPane.spec.ts
Due: eslint --fix

♻️ 改进
  src/components/edit/EditorTabs.spec.ts
  src/components/edit/FileTree.spec.ts
  src/components/edit/PreviewPanel.spec.ts
Due: eslint --fix

🧪 建立集成测试基础设施并覆盖游戏创建与编辑器主流程
  .gitignore
  integration/fixtures/.gitkeep
  integration/playwright.config.ts
  integration/support/editor-flow.ts
  integration/support/mock-tauri.ts
  integration/tests/game-creation-and-editor-flow.spec.ts
  integration/tests/smoke.spec.ts
  package.json
  vite.config.ts
Due: eslint --fix

🐛 修复报告问题
  integration/fixtures/.gitkeep
  integration/support/editor-flow.ts
  integration/support/mock-tauri.ts
  integration/tests/game-creation-and-editor-flow.spec.ts
  integration/tests/smoke.spec.ts
Due: eslint --fix

🧪 提取浏览器组件测试的多模式 i18n 基线
  src/__tests__/browser.test.ts
  src/__tests__/browser.ts
Due: eslint --fix

🐛 添加 i18nMode 兼容层
  src/__tests__/browser.test.ts
  src/__tests__/browser.ts
Due: eslint --fix

♻️ 拆分 `FilePicker` 与 `FileViewer` 的状态和布局逻辑
  src/components.d.ts
  src/components/FilePicker.spec.ts
  src/components/FilePicker.vue
  src/components/FileViewer.spec.ts
  src/components/FileViewer.vue
  src/components/file-picker/FilePickerRecentHistory.spec.ts
  src/components/file-picker/FilePickerRecentHistory.vue
  src/components/file-picker/FilePickerToolbar.spec.ts
  src/components/file-picker/FilePickerToolbar.vue
  src/components/file-picker/__tests__/useFilePickerController.test.ts
  src/components/file-picker/useFilePickerController.ts
  src/components/file-picker/useFilePickerHistory.ts
  src/components/file-viewer/FileViewerBody.vue
  src/components/file-viewer/FileViewerHeader.vue
  src/components/file-viewer/FileViewerState.vue
  src/composables/useFileViewerLayout.ts
  src/composables/useFileViewerVirtualizer.ts
  src/helper/__tests__/file-picker.test.ts
  src/helper/file-picker.ts
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/FileViewer.spec.ts
  src/components/FileViewer.vue
  src/components/file-picker/__tests__/useFilePickerController.test.ts
  src/components/file-picker/__tests__/useFilePickerHistory.test.ts
  src/components/file-picker/useFilePickerController.ts
  src/components/file-picker/useFilePickerHistory.ts
  src/components/file-viewer/FileViewerBody.vue
  src/components/file-viewer/FileViewerHeader.vue
  src/composables/useFileViewerLayout.ts
  src/helper/file-picker.ts
Due: eslint --fix, stylelint --fix

♻️ 改进
  src/components/FileViewer.spec.ts
  src/components/file-picker/__tests__/useFilePickerController.test.ts
  src/components/file-picker/useFilePickerController.ts
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/file-picker/__tests__/useFilePickerController.test.ts
Due: eslint --fix

♻️ 提取首页游戏/引擎列表与创建游戏表单控制器
  src/components.d.ts
  src/components/home/EnginesTab.spec.ts
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.spec.ts
  src/components/home/GamesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/components/home/engines-tab/useEnginesTabController.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/home/games-tab/__tests__/useGamesTabController.test.ts
  src/components/home/games-tab/useGamesTabController.ts
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/CreateGameModal.vue
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/__tests__/useCreateGameForm.test.ts
  src/components/modals/useCreateGameForm.ts
  src/helper/__tests__/create-game-modal.test.ts
  src/helper/__tests__/engines-tab.test.ts
  src/helper/__tests__/games-tab.test.ts
  src/helper/create-game-modal.ts
  src/helper/engines-tab.ts
  src/helper/games-tab.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/home/EnginesTab.spec.ts
  src/components/home/GamesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/home/games-tab/__tests__/useGamesTabController.test.ts
  src/components/home/games-tab/useGamesTabController.ts
  src/components/modals/__tests__/useCreateGameForm.test.ts
  src/components/modals/useCreateGameForm.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/home/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/__tests__/useCreateGameForm.test.ts
  src/components/modals/useCreateGameForm.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/modals/__tests__/useCreateGameForm.test.ts
  src/components/modals/useCreateGameForm.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 提取编辑器外围面板与派生 helper
  src/components/edit/AssetPreview.spec.ts
  src/components/edit/AssetPreview.vue
  src/components/edit/CommandPanel.spec.ts
  src/components/edit/CommandPanel.vue
  src/components/edit/EditorPanel.spec.ts
  src/components/edit/EditorStatusBar.spec.ts
  src/components/edit/EditorStatusBar.vue
  src/components/edit/EditorTabs.spec.ts
  src/components/edit/EditorTabs.vue
  src/components/edit/EditorToolbar.spec.ts
  src/components/edit/EditorToolbar.vue
  src/components/edit/FileEditor.spec.ts
  src/components/edit/FileTree.spec.ts
  src/components/edit/FileTree.vue
  src/components/edit/LeftPanel.spec.ts
  src/components/edit/PreviewPanel.spec.ts
  src/components/edit/PreviewPanel.vue
  src/components/edit/ScenePanel.spec.ts
  src/components/edit/ScenePanel.vue
  src/components/edit/TextEditor.spec.ts
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/composables/__tests__/useTextEditorWorkspace.browser.test.ts
  src/helper/__tests__/asset-preview.test.ts
  src/helper/__tests__/command-panel.test.ts
  src/helper/__tests__/editor-status-bar.test.ts
  src/helper/__tests__/editor-tabs.test.ts
  src/helper/__tests__/file-tree.test.ts
  src/helper/__tests__/preview-media-session.test.ts
  src/helper/__tests__/preview-panel.test.ts
  src/helper/__tests__/scene-panel.test.ts
  src/helper/asset-preview.ts
  src/helper/command-panel.ts
  src/helper/editor-status-bar.ts
  src/helper/editor-tabs.ts
  src/helper/file-tree.ts
  src/helper/preview-media-session.ts
  src/helper/preview-panel.ts
  src/helper/scene-panel.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/EditorPanel.spec.ts
  src/components/edit/EditorTabs.spec.ts
  src/components/edit/TextEditor.spec.ts
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/helper/__tests__/editor-tabs.test.ts
  src/helper/__tests__/file-tree.test.ts
  src/helper/file-tree.ts
Due: eslint --fix

♻️ 拆分 statement、effect 与 animation 编辑器逻辑
  src/components.d.ts
  src/components/edit/StatementAnimationEditorPanel.spec.ts
  src/components/edit/StatementAnimationEditorPanel.vue
  src/components/edit/StatementEditorInline.spec.ts
  src/components/edit/StatementEditorInline.vue
  src/components/edit/StatementEditorPanel.spec.ts
  src/components/edit/StatementEditorPanel.vue
  src/components/edit/VisualEditorAnimation.spec.ts
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/VisualEditorScene.spec.ts
  src/components/edit/animation/__tests__/useAnimationEditorSession.test.ts
  src/components/edit/effect-editor/EffectDraftCategorySection.vue
  src/components/edit/effect-editor/EffectDraftForm.spec.ts
  src/components/edit/effect-editor/EffectDraftForm.vue
  src/components/edit/effect-editor/effectDraftForm.types.ts
  src/components/edit/param-renderer/ParamChoiceField.spec.ts
  src/components/edit/param-renderer/ParamChoiceField.vue
  src/components/edit/param-renderer/ParamRenderer.vue
  src/components/edit/param-renderer/useParamFieldMeta.spec.ts
  src/components/edit/param-renderer/useParamFieldMeta.ts
  src/components/edit/statement-editor/StatementCommandFieldsSection.vue
  src/components/edit/statement-editor/types.ts
  src/components/modals/CommandDefaultsModal.spec.ts
  src/components/modals/SaveChangesModal.spec.ts
  src/components/modals/StatementAnimationSubDialog.spec.ts
  src/components/modals/StatementGroupModal.spec.ts
  src/components/modals/StatementGroupModal.vue
  src/components/modals/useStatementGroupDraft.spec.ts
  src/components/modals/useStatementGroupDraft.ts
  src/helper/__tests__/animation-frame-editor.test.ts
  src/helper/__tests__/effect-draft-form.test.ts
  src/helper/animation-frame-editor.ts
  src/helper/effect-draft-form.ts
  src/helper/statement-editor/__tests__/panel.test.ts
  src/helper/statement-editor/panel.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/param-renderer/ParamChoiceField.spec.ts
  src/components/edit/param-renderer/ParamChoiceField.vue
  src/components/edit/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/edit/statement-editor/StatementCommandFieldsSection.vue
  src/components/modals/useStatementGroupDraft.spec.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/param-renderer/ParamChoiceField.spec.ts
  src/components/edit/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/modals/useStatementGroupDraft.spec.ts
  src/components/modals/useStatementGroupDraft.ts
Due: eslint --fix

♻️ 进一步减少重复
  src/__tests__/browser-render.browser.test.ts
  src/__tests__/browser-render.test.ts
  src/__tests__/browser-render.ts
  src/components/edit/CommandPanel.spec.ts
  src/components/edit/FileEditor.spec.ts
  src/components/edit/LeftPanel.spec.ts
  src/components/edit/PreviewPanel.spec.ts
  src/components/edit/StatementAnimationEditorPanel.spec.ts
  src/components/edit/StatementEditorInline.spec.ts
  src/components/edit/StatementEditorPanel.spec.ts
  src/components/edit/VisualEditorAnimation.spec.ts
  src/components/edit/VisualEditorScene.spec.ts
  src/components/edit/effect-editor/EffectDraftForm.spec.ts
  src/components/edit/param-renderer/ParamChoiceField.spec.ts
  src/components/edit/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/file-picker/FilePickerRecentHistory.spec.ts
  src/components/file-picker/FilePickerToolbar.spec.ts
  src/components/home/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/modals/CommandDefaultsModal.spec.ts
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/StatementAnimationSubDialog.spec.ts
  src/components/modals/StatementGroupModal.spec.ts
Due: eslint --fix

👷 前端新增独立测试 CI 工作流
  .github/workflows/test.yml
Due: none
