Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🐛 修复自动发现资源导入失败仅显示计数
  src/components/home/WelcomeSection.vue
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/home/useDiscoverResources.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复自动发现资源导入失败仅显示计数 (#310)
  src/components/home/WelcomeSection.vue
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/home/useDiscoverResources.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复调用场景空参数被解析为 0
  src/domain/script/update.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
Due: eslint --fix

🐛 修复调用场景参数在编辑器视图间不同步
  src/components/editor/StatementEditorInlineCallScene.spec.ts
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/modals/CommandDefaultsModal.vue
  src/domain/document/__tests__/visual-projection.test.ts
  src/domain/script/__tests__/roundtrip.test.ts
  src/domain/script/sentence.ts
  src/features/editor/__tests__/statement-editor-test-utils.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
Due: eslint --fix, stylelint --fix

🐛 切换文本模式时清理调用场景临时空参数
  src/stores/__tests__/editor.test.ts
  src/stores/editor.ts
Due: eslint --fix

🐛 修复旧版 WebGAL 中 return 的解析与高亮
  src/components/editor/CommandPanel.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.vue
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorInlineCallScene.spec.ts
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorStatementCard.spec.ts
  src/components/modals/ExternalDocumentChangeModal.vue
  src/domain/document/__tests__/scene-selection.test.ts
  src/domain/document/__tests__/visual-projection.test.ts
  src/domain/document/visual-projection.ts
  src/domain/script/__tests__/parser.test.ts
  src/domain/script/parser.ts
  src/domain/script/sentence.ts
  src/features/editor/__tests__/statement-editor-test-utils.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/text-editor/__tests__/scene-text-panel.test.ts
  src/features/editor/text-editor/__tests__/text-editor-language.test.ts
  src/features/editor/text-editor/scene-text-panel.ts
  src/features/editor/text-editor/text-editor-language.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/plugins/editor/index.ts
  src/stores/__tests__/editor.test.ts
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix, stylelint --fix

🐛 修复集成测试受开发工具插件干扰的问题
  integration/playwright.config.ts
  vite.config.ts
Due: eslint --fix

✨ 支持变量作用域选择器并兼容旧版运行时
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/params.ts
  src/domain/script/update.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/command-registry/system.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修复集成测试复用未标记开发服务器的问题
  integration/playwright.config.ts
Due: eslint --fix

🐛 修复旧运行时显示不支持的嵌套参数字段
  src/features/editor/command-registry/__tests__/schema.test.ts
  src/features/editor/command-registry/schema.ts
Due: eslint --fix

🐛 修复修改原始语句时复用旧草稿的问题
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/useStatementEditor.ts
Due: eslint --fix

🐛 修复场景补全未传递运行时能力的问题
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
  src/plugins/editor/index.ts
Due: eslint --fix

🔖 v1.0.0-alpha.4
  package.json
Due: none

🔖 v1.0.0-alpha.4 (#312)
  package.json
Due: none

🐛 移除切换引擎时多余的模板重载请求
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/template-switch.test.ts
  src/services/engine-switch.ts
  src/services/template-switch.ts
Due: eslint --fix

✨ 为同名编辑器标签计算最短路径提示
  src/features/editor/editor-tabs/__tests__/editor-tab-path-hints.test.ts
  src/features/editor/editor-tabs/editor-tab-path-hints.ts
Due: eslint --fix

✨ 在编辑器标签显示同名文件路径提示
  src/components/editor/EditorTabButton.vue
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
Due: eslint --fix, stylelint --fix

🐛 补充引擎切换日志中的版本信息
  src/services/__tests__/engine-switch.test.ts
  src/services/engine-switch.ts
Due: eslint --fix

🐛 优化引擎切换时的预览刷新与日志信息 (#313)
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/template-switch.test.ts
  src/services/engine-switch.ts
  src/services/template-switch.ts
Due: eslint --fix

✨ 优化资源引用计数角标显示
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

✨ 在资源管理器中显示资源引用计数
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/components/file-viewer/FileViewerHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

✨ 优化资源引用角标配色
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

✨ 调整编辑器标签路径提示样式
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
Due: eslint --fix, stylelint --fix

✨ 使用归一化路径显示编辑器标签提示
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
Due: eslint --fix, stylelint --fix

🐛 修正资源引用计数英文文案
  src/locales/en.yml
Due: eslint --fix

🐛 隐藏模板层文件引用计数
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

🐛 隐藏动画表文件引用计数
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/services/__tests__/animation-table-sync.test.ts
  src/services/animation-table-sync.ts
Due: eslint --fix, stylelint --fix

✨ 在资源管理器中显示资源引用计数 (#314)
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/components/file-viewer/FileViewerHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/animation-table-sync.test.ts
  src/services/animation-table-sync.ts
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

✨ 按资源根计算编辑器标签路径提示
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
  src/features/editor/editor-tabs/__tests__/editor-tab-path-hints.test.ts
  src/features/editor/editor-tabs/editor-tab-path-hints.ts
Due: eslint --fix, stylelint --fix

✨ 精简编辑器标签路径提示逻辑
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
  src/features/editor/editor-tabs/__tests__/editor-tab-path-hints.test.ts
  src/features/editor/editor-tabs/editor-tab-path-hints.ts
Due: eslint --fix, stylelint --fix

🐛 移除编辑器标签未要求的路径标题
  src/components/editor/EditorTabButton.vue
  src/components/editor/EditorTabs.spec.ts
Due: eslint --fix, stylelint --fix

🐛 修正编辑器标签根路径提示
  src/features/editor/editor-tabs/__tests__/editor-tab-path-hints.test.ts
  src/features/editor/editor-tabs/editor-tab-path-hints.ts
Due: eslint --fix

✨ 在编辑器标签中为同名文件追加路径提示 (#315)
  src/components/editor/EditorTabButton.vue
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
  src/features/editor/editor-tabs/__tests__/editor-tab-path-hints.test.ts
  src/features/editor/editor-tabs/editor-tab-path-hints.ts
Due: eslint --fix, stylelint --fix

✨ 保护场景入口文件并完善预览状态
  src/components/editor/FileTree.vue
  src/components/editor/FileTreeContextMenu.vue
  src/components/editor/FileTreeContextMenuContent.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/ScenePanel.vue
  src/components/editor/ViewportControls.vue
  src/domain/scene/__tests__/entry-point.test.ts
  src/domain/scene/entry-point.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/file-tree/__tests__/useFileTreeController.test.ts
  src/features/editor/file-tree/useFileTreeController.ts
  src/features/editor/scene-entry/useSceneEntryStatus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/path-operation.test.ts
  src/services/game-fs.ts
  src/services/path-operation-feedback.ts
  src/services/path-operation.ts
Due: eslint --fix, stylelint --fix

✨ 保护场景入口文件并完善预览状态 (#316)
  src/components/editor/FileTree.vue
  src/components/editor/FileTreeContextMenu.vue
  src/components/editor/FileTreeContextMenuContent.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/ScenePanel.vue
  src/components/editor/ViewportControls.vue
  src/domain/scene/__tests__/entry-point.test.ts
  src/domain/scene/entry-point.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/file-tree/__tests__/useFileTreeController.test.ts
  src/features/editor/file-tree/useFileTreeController.ts
  src/features/editor/scene-entry/useSceneEntryStatus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/path-operation.test.ts
  src/services/game-fs.ts
  src/services/path-operation-feedback.ts
  src/services/path-operation.ts
Due: eslint --fix, stylelint --fix

✨ 支持语句组文本与可视化编辑
  src/components.d.ts
  src/components/modals/StatementGroupModal.spec.ts
  src/components/modals/StatementGroupModal.vue
  src/components/modals/StatementGroupTextEditor.vue
  src/features/modals/statement-group/__tests__/useStatementGroupDraft.test.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 支持语句组文本编辑模式 (#317)
  src/components.d.ts
  src/components/modals/StatementGroupModal.spec.ts
  src/components/modals/StatementGroupModal.vue
  src/components/modals/StatementGroupTextEditor.vue
  src/features/modals/statement-group/__tests__/useStatementGroupDraft.test.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复编辑页入口校验期间误显示缺失遮罩
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/domain/scene/entry-point.ts
  src/features/editor/scene-entry/useSceneEntryStatus.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
