Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复历史 diff 切换竞态与卸载未释放 monaco
  src/components/modals/BackupTimelineDialog.vue
Due: eslint --fix, stylelint --fix

🐛 场景历史迁移失败不阻断 move/rename 流程
  src/stores/file.ts
Due: eslint --fix

✅ 补充 BackupManifestCorrupted 序列化测试
  src-tauri/src/commands/error.rs
Due: none

🔒 校验 restore_backup 的 backup_path 归属
  src-tauri/src/commands/backup.rs
Due: none

🔒 read_manifest 校验条目路径与时间戳
  src-tauri/src/commands/backup.rs
Due: none

✨ 实现场景文件本地备份与历史恢复 (#168)
  integration/support/mock-tauri.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/backup.ts
  src/components.d.ts
  src/components/editor/EditorStatusBar.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/modals/BackupTimelineDialog.vue
  src/components/modals/SettingsModal.vue
  src/components/settings/BackupSettings.vue
  src/features/settings/backup-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/backup-manager.test.ts
  src/services/backup-manager.ts
  src/stores/__tests__/backup-settings.test.ts
  src/stores/__tests__/backup.test.ts
  src/stores/backup-settings.ts
  src/stores/backup.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/stores/modal.ts
Due: eslint --fix, stylelint --fix

🐛 修复 ScenePanel 刷新失效：将响应式依赖前置至首个 await 之前
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复 ScenePanel 刷新模式队列与触发解耦导致的语义错位
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
Due: eslint --fix, stylelint --fix

✏️ 整理注释
  src/components/editor/ScenePanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复 ScenePanel 手动刷新与文件系统事件无法触发场景树重算 (#169)
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复 VFS 模式新建项重命名浮层定位失败：统一物理与逻辑路径分隔符
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

🐛 修复资源浏览器在 VFS 模式下新建项重命名浮层无法弹出 (#170)
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

🐛 统一资源身份键并收紧路径去重约束
  src/__tests__/factories.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/database/db.spec.ts
  src/database/db.ts
  src/database/model.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
Due: eslint --fix

🚨 修复 lint 和 typecheck 警告
  src/__tests__/factories.ts
  src/services/game-manager.ts
Due: eslint --fix

✅ 修复单元测试
  src/stores/__tests__/workspace.test.ts
Due: eslint --fix

♻️ 抽取 pathKey 公共工具并并行化游戏预览资源探测
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/resource-health.ts
Due: eslint --fix

🐛 修正游戏图标缺失警告语义
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/services/resource-health.ts
Due: eslint --fix

🐛 规范化游戏封面路径中的反斜杠
  src/services/game-manager.ts
Due: eslint --fix

✅ 复用生产路径规范化以对齐 useDiscoverResources 测试桩
  src/features/home/__tests__/useDiscoverResources.test.ts
Due: eslint --fix

🐛 规范化标题图健康检查路径
  src/services/game-manager.ts
Due: eslint --fix

✅ 收紧 importGame 路径归一化断言
  src/services/__tests__/game-manager.test.ts
Due: eslint --fix

🐛 统一资源身份键并优化游戏预览资源探测 (#171)
  src/__tests__/factories.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/database/db.spec.ts
  src/database/db.ts
  src/database/model.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/resource-health.ts
  src/stores/__tests__/workspace.test.ts
Due: eslint --fix

🐛 固化场景文件树中键打开的预览标签
  src/stores/__tests__/tabs.test.ts
  src/stores/tabs.ts
Due: eslint --fix

🐛 固化场景文件树中键打开的预览标签 (#172)
  src/stores/__tests__/tabs.test.ts
  src/stores/tabs.ts
Due: eslint --fix

🐛 修复编辑页返回主页时未保存更改丢失的问题
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复编辑页返回主页时保存失败缺少反馈的问题
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
Due: eslint --fix, stylelint --fix

🧪 稳定 EditHeader 返回主页保存测试
  src/components/editor/EditHeader.spec.ts
Due: eslint --fix

🧪 稳定 EditHeader 返回主页放弃保存测试
  src/components/editor/EditHeader.spec.ts
Due: eslint --fix

🐛 修复编辑页返回主页时未保存更改丢失的问题 (#173)
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复主窗口状态恢复前闪现默认大小和位置
  src-tauri/src/window.rs
Due: none

🐛 修复主窗口状态恢复前闪现默认大小和位置 (#174)
  src-tauri/src/window.rs
Due: none

💄 统一关于弹窗版本按钮样式
  src/components/modals/AboutModal.vue
Due: eslint --fix, stylelint --fix

💄 统一关于弹窗版本按钮样式 (#175)
  src/components/modals/AboutModal.vue
Due: eslint --fix, stylelint --fix

♻️ 统一测试文案并规范测试样例数据
  src/__tests__/factories.test.ts
  src/__tests__/mocks/tauri-path.test.ts
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/combobox/__tests__/cascading-combobox-data.test.ts
  src/components/primitives/combobox/__tests__/search.test.ts
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/database/db.spec.ts
  src/domain/engine/__tests__/version.test.ts
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/file-picker/__tests__/useFilePickerHistory.test.ts
  src/features/home/__tests__/home-tabs.test.ts
  src/features/home/engines-tab/__tests__/engine-group-view-model.test.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
Due: eslint --fix

🐛 修复仅变更大小写时的文件重命名冲突
  src-tauri/src/commands/fs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/__tests__/fs.test.ts
  src/commands/fs.ts
Due: eslint --fix

🎨 格式化后端代码
  src-tauri/src/vfs.rs
Due: none

♻️ 统一测试文案并规范测试样例数据 (#176)
  src/__tests__/factories.test.ts
  src/__tests__/mocks/tauri-path.test.ts
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/combobox/__tests__/cascading-combobox-data.test.ts
  src/components/primitives/combobox/__tests__/search.test.ts
  src/components/primitives/combobox/__tests__/useCascadingComboboxState.test.ts
  src/database/db.spec.ts
  src/domain/engine/__tests__/version.test.ts
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/file-picker/__tests__/useFilePickerHistory.test.ts
  src/features/home/__tests__/home-tabs.test.ts
  src/features/home/engines-tab/__tests__/engine-group-view-model.test.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
Due: eslint --fix

🐛 修复 VFS 重命名错误掩盖缺失源路径
  src-tauri/src/vfs.rs
Due: none

🐛 修复文件重命名覆盖竞态
  src-tauri/src/commands/fs.rs
Due: none

🐛 修复仅变更大小写时的文件重命名冲突 (#177)
  src-tauri/src/commands/fs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/__tests__/fs.test.ts
  src/commands/fs.ts
Due: eslint --fix
