Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🐛 效果编辑器会话内屏蔽保存与预览切换快捷键
  src/features/editor/shortcut/__tests__/definitions.test.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/shortcut/definitions.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

🐛 场景内容变化或运行时就绪后重建预览基线
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-baseline-lifetime.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
Due: eslint --fix

🐛 修复变换浮层引用框查询失败后控件不出现
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
Due: eslint --fix

🐛 屏蔽效果编辑器会话内的保存/预览切换并重建失效基线 (#381)
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-baseline-lifetime.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/shortcut/__tests__/definitions.test.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/shortcut/definitions.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

✨ 变换命令支持引擎 4.6.5 的 transformFrom 参数
  bun.lock
  package.json
  src/components/editor/TextEditor.spec.ts
  src/domain/engine/__tests__/runtime-capabilities.test.ts
  src/domain/engine/__tests__/transform-args.test.ts
  src/domain/engine/runtime-capabilities.ts
  src/domain/engine/transform-args.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/params.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/__tests__/schema.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-baseline-lifetime.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-resolution/__tests__/baseline-session.test.ts
  src/features/editor/transform-resolution/__tests__/model.test.ts
  src/features/editor/transform-resolution/baseline-session.ts
  src/features/editor/transform-resolution/model.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/resource.test.ts
  src/stores/editor.ts
Due: eslint --fix

🐛 修复含旧写入参数时变换起点选择「当前状态」不生效
  src/domain/engine/transform-args.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
Due: eslint --fix

📝 修正变换写入兼容诊断注释对覆盖判据的描述
  src/features/editor/command-registry/diagnostics.ts
Due: eslint --fix

🐛 关闭 animationFlag 时清除残留的口型眨眼图参数
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/params.ts
  src/domain/script/update.ts
Due: eslint --fix

🐛 关闭 animationFlag 时清除口型眨眼图参数 (#383)
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/params.ts
  src/domain/script/update.ts
Due: eslint --fix

🐛 预览全屏的事件等窗口形态查询落定后再处理
  src/features/editor/preview/__tests__/preview-fullscreen.test.ts
  src/features/editor/preview/preview-fullscreen.ts
Due: eslint --fix

🐛 修复 4.6.3 / 4.6.4 引擎把 return 当旁白
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/domain/engine/runtime-capabilities.ts
  src/domain/script/__tests__/parser.test.ts
  src/domain/script/__tests__/roundtrip.test.ts
  src/domain/script/parser.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/text-editor/__tests__/scene-text-panel.test.ts
  src/features/editor/text-editor/__tests__/text-editor-language.test.ts
  src/features/editor/text-editor/text-editor-language.ts
  src/plugins/editor/index.ts
Due: eslint --fix

♻️ 预览面板去掉 Tauri 兼容层并补全屏回归测试
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

♻️ 预览全屏的窗口驱动去掉预采样与事件挂起机制
  src/features/editor/preview/__tests__/preview-fullscreen.test.ts
  src/features/editor/preview/preview-fullscreen.ts
Due: eslint --fix

🐛 预览全屏退出后还原窗口进入前的形态
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preview_fullscreen.rs
  src-tauri/src/lib.rs
  src/commands/preview-fullscreen.ts
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/features/editor/preview/__tests__/preview-fullscreen.test.ts
  src/features/editor/preview/preview-fullscreen.ts
Due: eslint --fix, stylelint --fix

🐛 预览全屏的窗口形态采样不再被镜像带偏
  src/features/editor/preview/__tests__/preview-fullscreen.test.ts
  src/features/editor/preview/preview-fullscreen.ts
Due: eslint --fix

🐛 预览全屏的兜底不再被残留的最大化标志误判
  src-tauri/src/commands/preview_fullscreen.rs
Due: none

✨ 编辑器预览支持游戏内全屏 (#377)
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preview_fullscreen.rs
  src-tauri/src/lib.rs
  src/commands/preview-fullscreen.ts
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/features/editor/preview/__tests__/preview-fullscreen.test.ts
  src/features/editor/preview/preview-fullscreen.ts
Due: eslint --fix, stylelint --fix

🐛 修复空 say 语句带参数后退化为上一条语句的续行
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/__tests__/serialize.test.ts
  src/domain/script/codec.ts
  src/domain/script/serialize.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
Due: eslint --fix

🐛 修复空 say 语句带参数后退化为上一条语句的续行 (#385)
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/__tests__/serialize.test.ts
  src/domain/script/codec.ts
  src/domain/script/serialize.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
Due: eslint --fix

🐛 修复含变量插值的内容触发错误诊断
  src/domain/script/__tests__/diagnostics.test.ts
  src/domain/script/__tests__/variable-interpolation.test.ts
  src/domain/script/diagnostics.ts
  src/domain/script/variable-interpolation.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/services/resource-index/__tests__/values.test.ts
  src/services/resource-index/values.ts
Due: eslint --fix

🐛 修复含变量插值的内容触发错误诊断 (#386)
  src/domain/script/__tests__/diagnostics.test.ts
  src/domain/script/__tests__/variable-interpolation.test.ts
  src/domain/script/diagnostics.ts
  src/domain/script/variable-interpolation.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/services/resource-index/__tests__/values.test.ts
  src/services/resource-index/values.ts
Due: eslint --fix

🐛 修复默认命令弹窗文件选择器宽度溢出
  integration/tests/command-defaults-modal.spec.ts
  src/components/editor/StatementEditorPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复默认命令弹窗文件选择器宽度溢出 (#387)
  integration/tests/command-defaults-modal.spec.ts
  src/components/editor/StatementEditorPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复级联选择器子菜单宽度继承与浮层层级异常
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/CascadingComboboxSubmenu.spec.ts
  src/components/primitives/combobox/FloatingSubpanel.vue
  src/components/primitives/combobox/useCascadingSubmenuFloating.ts
Due: eslint --fix, stylelint --fix

🐛 修复级联选择器子菜单宽度继承与浮层层级异常 (#388)
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/CascadingComboboxSubmenu.spec.ts
  src/components/primitives/combobox/FloatingSubpanel.vue
  src/components/primitives/combobox/useCascadingSubmenuFloating.ts
Due: eslint --fix, stylelint --fix

🐛 修复鼠标关闭切换引擎/模板弹窗后状态栏入口仍弹出 tooltip
  src/components/editor/EditorStatusBar.vue
Due: eslint --fix, stylelint --fix

🐛 修复鼠标关闭切换引擎/模板弹窗后状态栏入口仍弹出 tooltip (#389)
  src/components/editor/EditorStatusBar.vue
Due: eslint --fix, stylelint --fix

✨ 官方引擎下载支持取消
  src-tauri/src/commands/engine.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/lib.rs
  src/commands/engine.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/resource-import/__tests__/useManagedImportStatus.test.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/engine-manager.ts
  src/types/errors.ts
Due: eslint --fix, stylelint --fix

🐛 修复解压收尾阶段取消仍会完成安装
  src-tauri/src/commands/engine.rs
Due: none

🐛 修复取消下载在网络等待期间不即时生效
  src-tauri/src/commands/engine.rs
Due: none

✨ 官方引擎下载支持取消 (#391)
  src-tauri/src/commands/engine.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/lib.rs
  src/commands/engine.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/resource-import/__tests__/useManagedImportStatus.test.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/engine-manager.ts
  src/types/errors.ts
Due: eslint --fix, stylelint --fix

✨ 预览面板关闭后保持浏览器预览同步
  scripts/generate-editor-preview-protocol-rs.mjs
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
  src-tauri/src/generated/editor_preview_protocol.rs
  src/components/editor/PreviewPanel.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/preview/__tests__/useExternalPreviewReadySync.test.ts
  src/features/editor/preview/preview-ready-sync-target.ts
  src/features/editor/preview/useExternalPreviewReadySync.ts
  src/services/__tests__/preview-protocol-client.test.ts
  src/services/__tests__/template-switch.test.ts
  src/services/preview-protocol-client.ts
  src/services/template-switch.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
  src/types/editorPreviewProtocol.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

✨ 预览面板关闭后保持浏览器预览同步 (#392)
  scripts/generate-editor-preview-protocol-rs.mjs
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
  src-tauri/src/generated/editor_preview_protocol.rs
  src/components/editor/PreviewPanel.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/preview/__tests__/useExternalPreviewReadySync.test.ts
  src/features/editor/preview/preview-ready-sync-target.ts
  src/features/editor/preview/useExternalPreviewReadySync.ts
  src/services/__tests__/preview-protocol-client.test.ts
  src/services/__tests__/template-switch.test.ts
  src/services/preview-protocol-client.ts
  src/services/template-switch.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
  src/types/editorPreviewProtocol.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

♻️ 统一改用 Tooltip 组件替换原生 title 提示
  src/App.vue
  src/__tests__/browser-render.ts
  src/components/editor/AssetPanel.vue
  src/components/editor/CommandPanel.spec.ts
  src/components/editor/CommandPanel.vue
  src/components/editor/EditHeader.vue
  src/components/editor/EditorStatusBar.vue
  src/components/editor/EditorToolbar.vue
  src/components/editor/ExternalDocumentDiffEditor.vue
  src/components/editor/FileTree.vue
  src/components/editor/PreviewPanel.vue
  src/components/editor/PreviewToolbar.vue
  src/components/editor/StatementDiagnosticTooltip.vue
  src/components/editor/ViewportControls.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/components/editor/animation/AnimationEditorPane.vue
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/param-renderer/controls/FigurePositionControl.vue
  src/components/export/ExportDialog.vue
  src/components/export/ExportOutputDirectoryField.vue
  src/components/file-picker/FilePickerRecentHistory.vue
  src/components/file-picker/FilePickerToolbar.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerImageHoverCard.vue
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/modals/AboutModal.spec.ts
  src/components/modals/AboutModal.vue
  src/components/modals/BackupTimelineDialog.vue
  src/components/modals/CreateGameModal.vue
  src/components/modals/DiscoveredResourcesModal.vue
  src/components/modals/StatementGroupModal.vue
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/components/primitives/color-picker/ColorPickerPanel.vue
  src/components/settings/ExperimentalFeatureTooltip.vue
  src/components/shared/ExpandableSearchInput.vue
  src/components/ui/hover-card/HoverCardContent.spec.ts
Due: eslint --fix, stylelint --fix

💄 悬停预览卡片长文件名换行完整显示
  src/components/file-viewer/FileViewerImageHoverCard.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
