Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

♻️ 调整 VFS 元数据目录位置
  src-tauri/src/vfs.rs
Due: none

♻️ 调整 VFS 元数据目录位置 (#219)
  src-tauri/src/vfs.rs
Due: none

♻️ 重构效果编辑器 set-effect 重置语义
  src/components/editor/StatementEditorPanel.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
Due: eslint --fix, stylelint --fix

♻️ 重构效果编辑器 set-effect 重置语义 (#220)
  src/components/editor/StatementEditorPanel.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
Due: eslint --fix, stylelint --fix

🌐 清理状态栏遗留多语言键并规范英文文案引号
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🌐 清理状态栏遗留多语言键并规范英文文案引号 (#221)
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 避免效果编辑器无操作时标记为已修改
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 避免效果编辑器无操作时标记为已修改 (#222)
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 打开效果编辑器前选中目标语句
  src/components/editor/VisualEditorStatementCard.spec.ts
  src/components/editor/VisualEditorStatementCard.vue
Due: eslint --fix, stylelint --fix

🐛 打开效果编辑器前选中目标语句 (#223)
  src/components/editor/VisualEditorStatementCard.spec.ts
  src/components/editor/VisualEditorStatementCard.vue
Due: eslint --fix, stylelint --fix

♻️ 精简编辑设置并统一命令点击插入行为
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/useTextEditorBindings.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/settings/__tests__/schema.test.ts
  src/features/settings/edit-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/edit-settings.test.ts
Due: eslint --fix, stylelint --fix

♻️ 精简编辑设置并统一命令点击插入行为 (#224)
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/useTextEditorBindings.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/settings/__tests__/schema.test.ts
  src/features/settings/edit-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/edit-settings.test.ts
Due: eslint --fix, stylelint --fix

🐛 修复效果编辑器连续控件拖拽卡顿
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 清理滑条默认值的待发射变更
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 清理联动滑条默认值的待发射变更
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 记录连续变更实际触碰路径
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 修复效果编辑器连续控件拖拽卡顿 (#225)
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix

🐛 为即时指针拖拽添加指针捕获
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/useImmediatePointerDrag.ts
Due: eslint --fix

🐛 修复效果编辑器持续时间拖拽丢失问题 (#226)
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/useImmediatePointerDrag.ts
Due: eslint --fix

🐛 避免窗口状态恢复时闪烁
  src-tauri/src/window.rs
Due: none

🐛 避免窗口状态恢复时闪烁 (#227)
  src-tauri/src/window.rs
Due: none

✨ 添加应用更新流程与更新详情弹窗
  bun.lock
  integration/support/mock-tauri.ts
  package.json
  src-tauri/tauri.conf.json
  src/App.vue
  src/components.d.ts
  src/components/app/Toaster.vue
  src/components/modals/AboutModal.vue
  src/components/modals/UpdateDetailsModal.spec.ts
  src/components/modals/UpdateDetailsModal.vue
  src/components/shared/SafeMarkdown.spec.ts
  src/components/shared/SafeMarkdown.vue
  src/components/shared/safe-markdown-renderer.ts
  src/features/app-update/__tests__/update-controller.test.ts
  src/features/app-update/__tests__/update-install-blockers.test.ts
  src/features/app-update/app-update-toast.ts
  src/features/app-update/update-install-blockers.ts
  src/features/app-update/useAppUpdateController.ts
  src/features/settings/general-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/app-update/__tests__/update-service.test.ts
  src/services/app-update/update-service.ts
  src/services/engine-manager.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/stores/__tests__/app-update.test.ts
  src/stores/app-update.ts
  src/stores/backup.ts
  src/stores/editor.ts
  src/stores/modal.ts
  src/stores/runtime-task.ts
  src/views/edit/__tests__/game-id.test.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

✨ 添加应用更新流程与更新详情弹窗 (#228)
  bun.lock
  integration/support/mock-tauri.ts
  package.json
  src-tauri/tauri.conf.json
  src/App.vue
  src/components.d.ts
  src/components/app/Toaster.vue
  src/components/modals/AboutModal.vue
  src/components/modals/UpdateDetailsModal.spec.ts
  src/components/modals/UpdateDetailsModal.vue
  src/components/shared/SafeMarkdown.spec.ts
  src/components/shared/SafeMarkdown.vue
  src/components/shared/safe-markdown-renderer.ts
  src/features/app-update/__tests__/update-controller.test.ts
  src/features/app-update/__tests__/update-install-blockers.test.ts
  src/features/app-update/app-update-toast.ts
  src/features/app-update/update-install-blockers.ts
  src/features/app-update/useAppUpdateController.ts
  src/features/settings/general-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/app-update/__tests__/update-service.test.ts
  src/services/app-update/update-service.ts
  src/services/engine-manager.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/stores/__tests__/app-update.test.ts
  src/stores/app-update.ts
  src/stores/backup.ts
  src/stores/editor.ts
  src/stores/modal.ts
  src/stores/runtime-task.ts
  src/views/edit/__tests__/game-id.test.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

💄 调整设置主题预览缩略图以更准确反映当前编辑页布局
  src/components/app/ThemeStyleMap.vue
Due: eslint --fix, stylelint --fix

💄 调整设置主题预览缩略图以更准确反映当前编辑页布局 (#229)
  src/components/app/ThemeStyleMap.vue
Due: eslint --fix, stylelint --fix

✨ 支持资源浏览器中键打开普通标签
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

✨ 支持资源浏览器中键打开普通标签 (#230)
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

🚸 调整首页头部品牌入口跳转地址
  src/components/home/AppHeader.vue
Due: eslint --fix, stylelint --fix

🚸 调整首页头部品牌入口跳转地址 (#231)
  src/components/home/AppHeader.vue
Due: eslint --fix, stylelint --fix

🐛 修正资源发现失败日志剩余计数
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 延后资源引用失败日志记录
  src/services/resource-index/__tests__/service.test.ts
  src/services/resource-index/references.ts
  src/services/resource-index/service.ts
Due: eslint --fix

🐛 持久化游戏校验异常状态
  src/services/__tests__/resource-reconcile.test.ts
  src/services/resource-reconcile.ts
Due: eslint --fix

🐛 隔离模板校验状态更新失败
  src/services/__tests__/template-manager.test.ts
  src/services/template-manager.ts
Due: eslint --fix

🐛 修正资源引用失败日志剩余计数
  src/services/resource-index/__tests__/service.test.ts
  src/services/resource-index/references.ts
Due: eslint --fix

⬆️ 升级 Tauri 运行时依赖并同步后端适配
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/server.rs
  src-tauri/src/lib.rs
Due: none

⬆️ 升级前端依赖与构建工具链
  bun.lock
  package.json
  src/__tests__/browser.test.ts
  src/auto-imports.d.ts
  src/route-map.d.ts
  src/services/__tests__/engine-switch.test.ts
  tsconfig.node.json
  tsconfig.test.json
  unocss.config.ts
Due: eslint --fix

♻️ 移除未使用前端依赖并补齐代码适配
  bun.lock
  eslint.config.js
  package.json
  src/composables/__tests__/useDexieLiveQuery.test.ts
  src/composables/useDatabase.ts
  src/composables/useDexieLiveQuery.ts
  src/features/editor/status-bar/editor-status-bar.ts
  src/main.ts
  src/plugins/editor/monaco.ts
  tsconfig.base.json
  vite.config.ts
Due: eslint --fix

♻️ 梳理编辑器与测试代码以适配 ESLint 新规则
  eslint.config.js
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/animation/AnimationTimeline.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/file-viewer/FileViewer.spec.ts
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/combobox/useCascadingComboboxState.ts
  src/domain/document/transaction-apply.ts
  src/domain/path/normalize.ts
  src/features/editor/animation/__tests__/animation-frame-editor.test.ts
  src/features/editor/command-registry/dynamic-options.ts
  src/features/editor/command-registry/index.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/file-tree/__tests__/file-tree.test.ts
  src/features/editor/file-tree/useFileTreeController.ts
  src/features/editor/shortcut/useShortcutContext.ts
  src/features/editor/statement-editor/field-utils.ts
  src/features/editor/statement-editor/json-fields.ts
  src/features/editor/text-editor/__tests__/scene-text-panel.test.ts
  src/features/editor/text-editor/__tests__/text-editor-scene-sync.test.ts
  src/features/editor/text-editor/text-editor-history-adapter.ts
  src/features/editor/visual-editor/visual-editor-drop.ts
  src/features/file-picker/__tests__/file-picker.test.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/icon-editor/icon-editor-controls.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
  src/plugins/editor/monaco.ts
  src/services/__tests__/game-manager.test.ts
  src/services/resource-index/__tests__/values.test.ts
  src/stores/__tests__/editor.test.ts
  src/stores/command-panel.ts
  src/utils/__tests__/math.test.ts
  src/utils/math.ts
Due: eslint --fix
