Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复前端依赖升级后的类型检查错误
  bun.lock
  package.json
  src/components/file-picker/FilePicker.vue
  src/components/modals/CommandDefaultsModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复 JSON 字段可空值写入类型
  src/features/editor/statement-editor/__tests__/json-fields.test.ts
  src/features/editor/statement-editor/json-fields.ts
Due: eslint --fix

🔧 完善 Tauri 打包元数据并配置多语言安装器
  src-tauri/tauri.conf.json
Due: none

🔧 完善 Tauri 打包元数据并配置多语言安装器 (#234)
  src-tauri/tauri.conf.json
Due: none

👷 将 CI 构建产物收敛为默认安装格式
  .github/workflows/build.yml
Due: none

👷 固定 Release 资产文件名前缀以避免产品名变更影响
  .github/workflows/release.yml
Due: none

👷 调整 CI 默认安装包策略并稳定 Release 资产命名 (#235)
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

✏️ 同步更新 2026 年版权信息
  README.md
  src-tauri/tauri.conf.json
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

✏️ 同步更新 2026 年版权信息 (#236)
  README.md
  src-tauri/tauri.conf.json
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修复集成测试引擎 mock 数据
  integration/support/mock-tauri.ts
Due: eslint --fix

🐛 取消运行时重绑时退出编辑页
  src/features/modals/import-dependency-resolution/request-import-dependency-resolution.ts
  src/views/edit/[gameId].vue
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix, stylelint --fix

✅ 保留引擎兼容性真实测试逻辑
  src/components/home/engines-tab/EnginesTab.spec.ts
Due: eslint --fix

✅ 保留游戏运行时重绑原因映射
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
Due: eslint --fix

🐛 修复模板名过长导致选择器撑开布局
  src/components/ui/select/SelectTrigger.vue
Due: eslint --fix, stylelint --fix

🐛 修复模板名过长导致选择器撑开布局 (#238)
  src/components/ui/select/SelectTrigger.vue
Due: eslint --fix, stylelint --fix

🐛 修复发现游戏时显示目录名的问题
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 修复发现游戏时显示目录名的问题 (#239)
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

✨ 默认禁用编辑页辅助面板
  src/stores/__tests__/preference.test.ts
  src/stores/preference.ts
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix

✨ 默认禁用编辑页辅助面板 (#240)
  src/stores/__tests__/preference.test.ts
  src/stores/preference.ts
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix

🔧 补充 VS Code 的 Vitest 扩展推荐
  .vscode/extensions.json
Due: none

🔧 补充 VS Code 的 Vitest 扩展推荐 (#241)
  .vscode/extensions.json
Due: none

🐛 修复资源预览预热重复触发
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/composables/useResourcePreviewPrimer.ts
Due: eslint --fix

🔥 清理资源预热测试死 mock
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
Due: eslint --fix

🐛 修复资源预览预热重复触发 (#242)
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/composables/useResourcePreviewPrimer.ts
Due: eslint --fix

📝 重写 README 首页并补充安装与快速上手说明
  README.md
Due: none

📝 重写 README 首页并补充安装与快速上手说明 (#243)
  README.md
Due: none

🔖 v1.0.0-alpha.1
  package.json
Due: none

👷 固定 GitHub Actions 版本并加固 CI 工作流
  .github/workflows/build.yml
  .github/workflows/code-suggestions.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-artifact-comment.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-test.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Due: none

👷 将 GitHub Actions 工作流依赖固定到 commit SHA
  .github/workflows/build.yml
  .github/workflows/code-suggestions.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-artifact-comment.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-test.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Due: none

👷 固定 GitHub Actions 版本并加固 CI 工作流 (#245)
  .github/workflows/build.yml
  .github/workflows/code-suggestions.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-artifact-comment.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .github/workflows/rust-test.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Due: none

🐛 修复 PR 构建产物评论的任务同步误判
  scripts/collectArtifactCommentData.js
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix

🐛 修复构建产物缺失误判
  scripts/collectArtifactCommentData.js
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix

🐛 修复 PR 构建产物评论的任务同步误判 (#246)
  scripts/collectArtifactCommentData.js
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix

🔧 显式限制 Tauri 打包产物格式
  src-tauri/tauri.conf.json
Due: none

🔧 显式限制 Tauri 打包产物格式 (#247)
  src-tauri/tauri.conf.json
Due: none

🔖 v1.0.0-alpha.1 (#248)
  package.json
Due: none
