Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

✨ 支持通过拖放压缩包导入引擎和模板
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/archive_import.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/__tests__/archive-import.test.ts
  src/commands/archive-import.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/resource-import/__tests__/archive-resource-import.test.ts
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/archive-resource-import.ts
  src/features/resource-import/resource-import-workflows.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/errors.ts
Due: eslint --fix

🐛 修复日文归档导入存储提示
  src/locales/ja.yml
Due: eslint --fix

🐛 修复 ZIP 中央目录资源限制
  src-tauri/src/commands/archive_import.rs
Due: none

✨ 支持通过拖放压缩包导入引擎和模板 (#325)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/archive_import.rs
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/__tests__/archive-import.test.ts
  src/commands/archive-import.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/resource-import/__tests__/archive-resource-import.test.ts
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/archive-resource-import.ts
  src/features/resource-import/resource-import-workflows.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/errors.ts
Due: eslint --fix

🐛 修复资源 URL 中保留字符的路径编码
  src/services/platform/__tests__/asset-url.test.ts
  src/services/platform/asset-url.ts
Due: eslint --fix

🐛 修复文件名含 `#` 等字符时图片无法显示 (#326)
  src/services/platform/__tests__/asset-url.test.ts
  src/services/platform/asset-url.ts
Due: eslint --fix

✨ 支持 PC 平台导出
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/resources/neutralino/6.9.0/LICENSE
  src-tauri/resources/neutralino/6.9.0/neutralino.js
  src-tauri/resources/webgalcraft-neutralino-fullscreen.js
  src-tauri/src/commands/export.rs
  src-tauri/src/lib.rs
  src/commands/export.ts
  src/components.d.ts
  src/components/export/DesktopExportConfig.vue
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
  src/components/export/ExportPlatformSelector.vue
  src/features/export/__tests__/neutralino-fullscreen-bridge.browser.test.ts
  src/features/export/useWebExportDialog.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/export-manager.test.ts
  src/services/export-manager.ts
Due: eslint --fix, stylelint --fix

🧪 修复桌面导出浏览器测试
  src/components/export/ExportDialog.spec.ts
Due: eslint --fix

🐛 修复 macOS 桌面导出资源位置
  src-tauri/src/commands/export.rs
Due: none

🔒 校验 Neutralino 运行时下载
  src-tauri/src/commands/export.rs
Due: none

🐛 避免运行时缓存并发写入冲突
  src-tauri/src/commands/export.rs
Due: none

🐛 约束桌面导出窗口尺寸
  src/components/export/DesktopExportConfig.vue
  src/components/export/ExportDialog.spec.ts
Due: eslint --fix, stylelint --fix

🐛 仅重试失败的桌面导出任务
  src/components/export/ExportDialog.spec.ts
  src/features/export/useWebExportDialog.ts
Due: eslint --fix

🐛 禁止 Android 选择桌面导出
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
  src/components/export/ExportPlatformSelector.vue
  src/features/export/useWebExportDialog.ts
Due: eslint --fix, stylelint --fix

🐛 串行处理桌面导出覆盖确认
  src/components/export/ExportDialog.spec.ts
  src/features/export/useWebExportDialog.ts
Due: eslint --fix

🐛 统一导出失败提示文案
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 显示桌面导出的共同输出目录
  src/components/export/ExportDialog.spec.ts
  src/features/export/useWebExportDialog.ts
Due: eslint --fix

⚡ 减少资源打包进度事件
  src-tauri/src/commands/export.rs
Due: none

🐛 提示桌面导出仅限桌面应用
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportPlatformSelector.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 导出前确认桌面端覆盖
  src/components/export/ExportDialog.spec.ts
  src/features/export/useWebExportDialog.ts
Due: eslint --fix

♻️ 简化导出任务的串行执行
  src/features/export/useWebExportDialog.ts
Due: eslint --fix

✨ 支持 PC 平台导出 (#327)
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/resources/neutralino/6.9.0/LICENSE
  src-tauri/resources/neutralino/6.9.0/neutralino.js
  src-tauri/resources/webgalcraft-neutralino-fullscreen.js
  src-tauri/src/commands/export.rs
  src-tauri/src/lib.rs
  src/commands/export.ts
  src/components.d.ts
  src/components/export/DesktopExportConfig.vue
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
  src/components/export/ExportPlatformSelector.vue
  src/features/export/__tests__/neutralino-fullscreen-bridge.browser.test.ts
  src/features/export/useWebExportDialog.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/export-manager.test.ts
  src/services/export-manager.ts
Due: eslint --fix, stylelint --fix

🐛 消除效果编辑器连续操作的预览延迟
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-preview.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/types.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useEffectSegmentedControl.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
Due: eslint --fix, stylelint --fix

🐛 避免帧内预览重复入队
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
Due: eslint --fix

🐛 消除效果编辑器连续操作的预览延迟 (#328)
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-preview.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/types.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useEffectSegmentedControl.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
Due: eslint --fix, stylelint --fix

📝 README 下载表格中添加安卓平台
  README.md
Due: none

📝 README 添加安卓平台支持 (#329)
  README.md
Due: none

🔖 v1.0.0-beta.1
  package.json
Due: none

🔖 v1.0.0-beta.1 (#330)
  package.json
Due: none

💄 优化开关控件样式
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/ui/switch/Switch.vue
Due: eslint --fix, stylelint --fix

💄 调整命令面板按钮组分隔符高度
  src/components/editor/CommandPanel.vue
Due: eslint --fix, stylelint --fix

💄 调整效果编辑器对话框内容最大宽度
  src/components/modals/EffectEditorSubDialog.vue
Due: eslint --fix, stylelint --fix

💄 优化状态栏中文件语言和统计信息的样式，移除多余的字体加粗
  src/components/editor/EditorStatusBar.vue
Due: eslint --fix, stylelint --fix

💄 调整全局状态栏的引擎和模板按钮的 Tooltip 的延迟时间为 0 毫秒
  src/components/editor/EditorStatusBar.vue
Due: eslint --fix, stylelint --fix

💄 调整滑块组件的样式，优化 SliderTrack 和 SliderThumb 的高度
  src/components/ui/slider/Slider.vue
Due: eslint --fix, stylelint --fix

💄 调整可视化编辑器的 tooltip，点击触发器之后不再关闭
  src/components/editor/StatementDiagnosticTooltip.vue
Due: eslint --fix, stylelint --fix

💄 调整立绘位置控件的 tooltip 触发延迟时间为 0 毫秒
  src/components/editor/param-renderer/controls/FigurePositionControl.vue
Due: eslint --fix, stylelint --fix

🔥 移除 WelcomeView 组件及其相关的国际化文本
  src/components.d.ts
  src/components/editor/WelcomeView.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix
