Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

✨ 支持命令面板语句拖放插入编辑器 (#191)
  src/components/editor/CommandPanel.spec.ts
  src/components/editor/CommandPanel.vue
  src/components/editor/CommandPanelCard.spec.ts
  src/components/editor/CommandPanelCard.vue
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/features/editor/text-editor/__tests__/text-editor-command-drop.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorRuntime-preview-sync.test.ts
  src/features/editor/text-editor/text-editor-command-drop.ts
  src/features/editor/text-editor/text-editor-drop-action.ts
  src/features/editor/text-editor/text-editor-file-drop.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/__tests__/visual-editor-command-drop.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/editor/visual-editor/useVisualEditorSceneViewport.ts
  src/features/editor/visual-editor/visual-editor-command-drop.ts
  src/features/editor/visual-editor/visual-editor-drop.ts
  src/features/editor/visual-editor/visual-editor-file-drop.ts
  src/types/drag-drop.ts
Due: eslint --fix, stylelint --fix

♻️ 改进 Dexie 数据库索引
  src/__tests__/factories.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/database/db.spec.ts
  src/database/db.ts
  src/database/model.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/template-manager.ts
Due: eslint --fix

♻️ 改进 Dexie 数据库索引 (#192)
  src/__tests__/factories.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/database/db.spec.ts
  src/database/db.ts
  src/database/model.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/template-manager.ts
Due: eslint --fix

🐛 修复 setAnimation 语句动画控件值回显异常
  src/features/editor/statement-editor/__tests__/useStatementEditorContent.test.ts
  src/features/editor/statement-editor/useStatementEditorContent.ts
Due: eslint --fix

🐛 修复 setAnimation 语句动画控件值回显异常 (#193)
  src/features/editor/statement-editor/__tests__/useStatementEditorContent.test.ts
  src/features/editor/statement-editor/useStatementEditorContent.ts
Due: eslint --fix

✨ 在关于弹窗中添加官方网站地址
  src/components/modals/AboutModal.vue
Due: eslint --fix, stylelint --fix

✨ 在关于弹窗中添加官方网站地址 (#194)
  src/components/modals/AboutModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复导入项目时的引擎选择上下文
  src/components/modals/EngineSelectionModal.spec.ts
  src/components/modals/EngineSelectionModal.vue
  src/features/home/games-tab/useGamesTabController.ts
  src/features/modals/engine-selection/request-engine-selection.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/types/engine-selection.ts
Due: eslint --fix, stylelint --fix

🐛 修复导入项目时的引擎选择上下文 (#195)
  src/components/modals/EngineSelectionModal.spec.ts
  src/components/modals/EngineSelectionModal.vue
  src/features/home/games-tab/useGamesTabController.ts
  src/features/modals/engine-selection/request-engine-selection.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/types/engine-selection.ts
Due: eslint --fix, stylelint --fix

🐛 修复空标签页下辅助侧栏显示不一致
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复空标签页下辅助侧栏显示不一致 (#196)
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复预览面板地址栏光标样式
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复空场景首条语句插入与可视化空状态
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/domain/script/__tests__/roundtrip.test.ts
  src/domain/script/sentence.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/internal/__tests__/editor-document-actions.test.ts
Due: eslint --fix, stylelint --fix

🐛 同步空场景切换后的可视化编辑器排序引用
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
Due: eslint --fix, stylelint --fix

🐛 修复预览面板地址栏光标样式 (#197)
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复空场景首条语句插入与可视化空状态 (#198)
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/domain/script/__tests__/roundtrip.test.ts
  src/domain/script/sentence.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/internal/__tests__/editor-document-actions.test.ts
Due: eslint --fix, stylelint --fix

💄 禁用编辑页左面板折叠
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

💄 禁用编辑页左面板折叠 (#199)
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

💄 为状态栏引擎和模板入口添加 tooltip
  src/components/editor/EditorStatusBar.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💄 为状态栏引擎和模板入口添加 tooltip (#200)
  src/components/editor/EditorStatusBar.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修正 Game_Logo 序列化尾部分隔符
  src/components/modals/GameConfigModal.spec.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-images.ts
Due: eslint --fix

🐛 修正 Game_Logo 序列化尾部分隔符 (#201)
  src/components/modals/GameConfigModal.spec.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-images.ts
Due: eslint --fix

♻️ 迁移 Monaco 装饰集合 API
  src/__tests__/mocks/monaco.test.ts
  src/__tests__/mocks/monaco.ts
  src/components/editor/TextEditor.spec.ts
  src/features/editor/text-editor/__tests__/text-editor-play-to-line.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorRuntime-preview-sync.test.ts
  src/features/editor/text-editor/text-editor-play-to-line.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
Due: eslint --fix

♻️ 迁移 Monaco 装饰集合 API (#202)
  src/__tests__/mocks/monaco.test.ts
  src/__tests__/mocks/monaco.ts
  src/components/editor/TextEditor.spec.ts
  src/features/editor/text-editor/__tests__/text-editor-play-to-line.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorRuntime-preview-sync.test.ts
  src/features/editor/text-editor/text-editor-play-to-line.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
Due: eslint --fix

♻️ 统一局部属性访问的解构写法
  src/composables/useDragSort.ts
  src/features/editor/shared/useEditorPanelBindings.ts
  src/features/editor/text-editor/text-editor-history-adapter.ts
  src/features/editor/visual-editor/useVisualEditorFocusRequest.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/modals/create-game/useCreateGameForm.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/services/path-operation.ts
  src/services/resource-index/service.ts
  src/stores/__tests__/file.test.ts
  src/stores/file.ts
  src/stores/internal/editor-document-save.ts
  src/stores/internal/editor-session.ts
  src/stores/tabs.ts
  src/stores/workspace.ts
Due: eslint --fix

♻️ 统一局部属性访问的解构写法 (#203)
  src/composables/useDragSort.ts
  src/features/editor/shared/useEditorPanelBindings.ts
  src/features/editor/text-editor/text-editor-history-adapter.ts
  src/features/editor/visual-editor/useVisualEditorFocusRequest.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/modals/create-game/useCreateGameForm.ts
  src/features/modals/statement-group/useStatementGroupDraft.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/services/path-operation.ts
  src/services/resource-index/service.ts
  src/stores/__tests__/file.test.ts
  src/stores/file.ts
  src/stores/internal/editor-document-save.ts
  src/stores/internal/editor-session.ts
  src/stores/tabs.ts
  src/stores/workspace.ts
Due: eslint --fix

🐛 分离场景保存与预览资源刷新
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/path-operation.test.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/services/path-operation.ts
  src/stores/internal/__tests__/editor-document-save.test.ts
  src/stores/internal/editor-document-save.ts
Due: eslint --fix

🐛 分离场景保存与预览资源刷新 (#204)
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/path-operation.test.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/services/path-operation.ts
  src/stores/internal/__tests__/editor-document-save.test.ts
  src/stores/internal/editor-document-save.ts
Due: eslint --fix

🐛 修复 toast 通知样式异常
  src/components/app/Toaster.vue
Due: eslint --fix, stylelint --fix

🐛 修复 toast 通知样式异常 (#205)
  src/components/app/Toaster.vue
Due: eslint --fix, stylelint --fix

🐛 修复首页项目网格中导入按钮高度和布局
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🚨 解决 unocss 排序问题
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复首页项目网格中导入按钮高度和布局 (#206)
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复调试中间件 Next 导入作用域
  src-tauri/src/commands/server.rs
Due: none

🐛 修复调试中间件 Next 导入作用域 (#207)
  src-tauri/src/commands/server.rs
Due: none

🐛 限制内嵌预览引导消息来源
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

🐛 稳定快速预览超时弹窗关闭流程
  src/components/modals/FastPreviewTimeoutModal.spec.ts
  src/components/modals/FastPreviewTimeoutModal.vue
Due: eslint --fix, stylelint --fix

♻️ 明确关闭预览 WebSocket 任务
  src-tauri/src/commands/server.rs
Due: none

🐛 修复预览面板跨源浏览器测试
  src/components/editor/PreviewPanel.spec.ts
Due: eslint --fix
