Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复不匹配的预览协议答复无法确认连接可用
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
Due: eslint --fix

🐛 修复预览面板连接状态的判定与展示 (#343)
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/PreviewToolbar.spec.ts
  src/components/editor/PreviewToolbar.vue
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
Due: eslint --fix, stylelint --fix

🐛 统一入口文件大小写判定，避免误报缺少 start.txt
  src/domain/scene/__tests__/entry-point.test.ts
  src/domain/scene/entry-point.ts
Due: eslint --fix

🐛 统一入口文件大小写判定 (#344)
  src/domain/scene/__tests__/entry-point.test.ts
  src/domain/scene/entry-point.ts
Due: eslint --fix

🐛 禁用非表单模态框打开时的自动聚焦
  src/components/modals/AboutModal.vue
  src/components/modals/DiscoveredResourcesModal.vue
  src/components/modals/GameDependencyResolutionModal.vue
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.vue
  src/components/modals/UpgradeModal.vue
Due: eslint --fix, stylelint --fix

🐛 禁用非表单模态框打开时的自动聚焦 (#345)
  src/components/modals/AboutModal.vue
  src/components/modals/DiscoveredResourcesModal.vue
  src/components/modals/GameDependencyResolutionModal.vue
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.vue
  src/components/modals/UpgradeModal.vue
Due: eslint --fix, stylelint --fix

✨ 补全设置面板缺失的字段说明
  src/features/settings/edit-settings.ts
  src/features/settings/general-settings.ts
  src/features/settings/storage-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

💄 游戏配置字段说明改为常驻文本并移除 tooltip
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 补全设置面板与游戏配置的字段说明 (#346)
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/settings/edit-settings.ts
  src/features/settings/general-settings.ts
  src/features/settings/storage-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 新增继续游戏按钮配置项
  src/commands/game.ts
  src/components/editor/EditHeader.spec.ts
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-form.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 补齐默认语言的可选值
  src/components/modals/game-config/GameConfigFieldsSection.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-form.ts
Due: eslint --fix, stylelint --fix

🐛 保留无法识别的默认语言原始值
  src/components/editor/EditHeader.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-form.ts
Due: eslint --fix, stylelint --fix

🐛 修复默认语言占位取值与真实取值冲突
  src/components/modals/game-config/GameConfigFieldsSection.vue
Due: eslint --fix, stylelint --fix

✨ 补齐游戏配置的继续游戏按钮与默认语言 (#347)
  src/commands/game.ts
  src/components/editor/EditHeader.spec.ts
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-form.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💬 统一应用文案风格并收敛人称与术语
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/editor/EditorPanel.spec.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 移除官方引擎安装的重复阶段文案
  src/components/home/ManagedImportStatus.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💬 统一应用文案风格并收敛人称与术语 (#348)
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/editor/EditorPanel.spec.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复引擎记录重建后游戏绑定悬空导致预览与编辑器不可用
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复引擎记录重建后游戏绑定悬空导致预览与编辑器不可用 (#349)
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

💄 重构 toast 组件样式
  src/components/app/ToastIcon.vue
  src/components/app/Toaster.vue
Due: eslint --fix, stylelint --fix

👷 改用 platform-tools 修复 Android SDK 安装失败
  .github/workflows/build.yml
Due: none

💄 重构 toast 通知组件样式 (#350)
  .github/workflows/build.yml
  src/components/app/ToastIcon.vue
  src/components/app/Toaster.vue
Due: eslint --fix, stylelint --fix

💄 统一模态框内边距为 p-5
  src/components/ui/alert-dialog/AlertDialogContent.vue
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
Due: eslint --fix, stylelint --fix

💄 同步调整模态框关闭按钮位置
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
Due: eslint --fix, stylelint --fix

💄 统一收窄模态框内边距 (#351)
  src/components/ui/alert-dialog/AlertDialogContent.vue
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
Due: eslint --fix, stylelint --fix

✨ Web 导出时生成 gz 预压缩文件
  src-tauri/src/commands/android_export.rs
  src-tauri/src/commands/export.rs
  src/components/export/ExportDialog.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 导出不再改写已有的 gz 预压缩副本
  src-tauri/src/commands/export.rs
Due: none

✅ 覆盖压缩无收益时不保留副本的分支
  src-tauri/src/commands/export.rs
Due: none

🐛 改写清单后刷新其预压缩副本
  src-tauri/src/commands/export.rs
Due: none

✨ Web 导出时生成 gz 预压缩文件 (#352)
  src-tauri/src/commands/android_export.rs
  src-tauri/src/commands/export.rs
  src/components/export/ExportDialog.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💄 统一选择器候选行的字号与行内边距
  src/components/editor/StatementEditorInline.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/components/primitives/Autocomplete.vue
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/settings/form/fields/SelectField.vue
  src/components/ui/input-group/InputGroupAutocomplete.spec.ts
Due: eslint --fix, stylelint --fix

💄 统一选择器候选行的字号与行内边距 (#353)
  src/components/editor/StatementEditorInline.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/param-renderer/ParamChoiceField.spec.ts
  src/components/editor/param-renderer/ParamChoiceField.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/components/primitives/Autocomplete.vue
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/components/primitives/combobox/CascadingBrowseLayer.vue
  src/components/settings/form/fields/SelectField.vue
  src/components/ui/input-group/InputGroupAutocomplete.spec.ts
Due: eslint --fix, stylelint --fix

🐛 修复首页引导在并发资源发现时提前启动
  src/views/index.vue
Due: eslint --fix, stylelint --fix

🐛 修复生成声明文件重写导致的开发预览整页刷新
  vite.config.ts
Due: eslint --fix

🐛 修复生成声明文件重写导致的开发预览整页刷新 (#355)
  vite.config.ts
Due: eslint --fix

✨ 高级动画编辑器改为锚定编辑面板的非模态抽屉
  src/components.d.ts
  src/components/editor/EditorDrawer.vue
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/StatementAnimationEditorPanel.spec.ts
  src/components/editor/StatementAnimationEditorPanel.vue
  src/components/editor/VisualEditorAnimation.vue
  src/components/editor/animation/AnimationEditorPane.vue
  src/components/ui/sheet/index.ts
  src/features/editor/shared/useDrawerDismissLayers.ts
Due: eslint --fix, stylelint --fix

🐛 修复抽屉快捷键上下文未覆盖整个抽屉表面
  src/components/editor/EditorDrawer.vue
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/EffectEditorPanel.vue
  src/components/editor/StatementAnimationEditorPanel.spec.ts
  src/components/editor/StatementAnimationEditorPanel.vue
  src/components/ui/sheet/SheetContent.vue
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
Due: eslint --fix, stylelint --fix

♻️ 统一两个编辑面板的页脚归属
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/StatementAnimationEditorPanel.spec.ts
  src/components/editor/StatementAnimationEditorPanel.vue
  src/components/modals/StatementAnimationSubDialog.vue
Due: eslint --fix, stylelint --fix
