Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🚨 修复变换覆盖桥接测试的 lint 警告
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
Due: eslint --fix

🐛 修复效果编辑器初始打开的预览交互区域
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
Due: eslint --fix, stylelint --fix

✨ 在编辑器预览中接入变换浮层 (#259)
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/LeftPanel.vue
  src/components/editor/PreviewPanel.vue
  src/composables/__tests__/usePreviewViewport.test.ts
  src/composables/usePreviewViewport.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/context.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
  src/views/edit/[gameId].vue
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix, stylelint --fix

✨ TransformOverlay 支持效果编辑器快捷键
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
Due: eslint --fix, stylelint --fix

🐛 修复预览工作区 SVG 点击焦点判断
  src/components/editor/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ TransformOverlay 支持效果编辑器快捷键 (#260)
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
Due: eslint --fix, stylelint --fix

🐛 修复变换控件方向键长按移动
  src/components/editor/TransformOverlay.spec.ts
  src/components/editor/TransformOverlay.vue
Due: eslint --fix, stylelint --fix

🐛 修复变换控件方向键长按移动 (#261)
  src/components/editor/TransformOverlay.spec.ts
  src/components/editor/TransformOverlay.vue
Due: eslint --fix, stylelint --fix

✨ 效果编辑器添加翻转按钮和快捷键
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/transform-flip.test.ts
  src/features/editor/effect-editor/transform-flip.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 将效果编辑器翻转分组改为独立渲染项
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/features/editor/effect-editor/effect-editor-config.ts
Due: eslint --fix, stylelint --fix

🧪 补充效果翻转默认展示值测试
  src/features/editor/effect-editor/__tests__/transform-flip.test.ts
Due: eslint --fix

🧪 补充效果翻转快捷键空会话测试
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
Due: eslint --fix

♻️ 统一效果翻转会话读取方式
  src/features/editor/shell/useEditorPanelShell.ts
Due: eslint --fix

✨ 效果编辑器添加翻转按钮和快捷键 (#262)
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/transform-flip.test.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/transform-flip.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 效果编辑器缩放关联按钮添加状态提示
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 效果编辑器缩放关联按钮添加状态提示 (#263)
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

⬆️ 提升 WebGAL 引擎最低版本到 4.6.2
  README.md
  bun.lock
  integration/support/mock-tauri.ts
  package.json
  src/__tests__/factories.ts
  src/components/shared/EngineSelector.spec.ts
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/features/modals/create-game/__tests__/useCreateGameForm.test.ts
  src/features/modals/import-dependency-resolution/__tests__/request-game-runtime-rebind.test.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

⬆️ 提升 WebGAL 引擎最低版本到 4.6.2 (#264)
  README.md
  bun.lock
  integration/support/mock-tauri.ts
  package.json
  src/__tests__/factories.ts
  src/components/shared/EngineSelector.spec.ts
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/features/modals/create-game/__tests__/useCreateGameForm.test.ts
  src/features/modals/import-dependency-resolution/__tests__/request-game-runtime-rebind.test.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

📝 调整 README 功能说明与下载信息
  README.md
Due: none

📝 调整 README 功能说明与下载信息 (#265)
  README.md
Due: none

🔖 v1.0.0-alpha.2
  package.json
Due: none

🔖 v1.0.0-alpha.2 (#266)
  package.json
Due: none

🐛 按屏幕轴翻转效果编辑器目标
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/features/editor/effect-editor/__tests__/transform-flip.test.ts
  src/features/editor/effect-editor/transform-flip.ts
Due: eslint --fix

🐛 调整效果编辑器翻转为屏幕轴镜像语义 (#267)
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/features/editor/effect-editor/__tests__/transform-flip.test.ts
  src/features/editor/effect-editor/transform-flip.ts
Due: eslint --fix

✨ 添加支持自由输入的自动补全组件
  src/components.d.ts
  src/components/primitives/Autocomplete.spec.ts
  src/components/primitives/Autocomplete.vue
  src/components/primitives/autocomplete/ManualComboboxInput.vue
Due: eslint --fix, stylelint --fix

🐛 修复自动补全关闭时 Home/End 误触发高亮
  src/components/primitives/Autocomplete.spec.ts
  src/components/primitives/autocomplete/ManualComboboxInput.vue
Due: eslint --fix, stylelint --fix

✨ 添加支持自由输入的自动补全组件 (#268)
  src/components.d.ts
  src/components/primitives/Autocomplete.spec.ts
  src/components/primitives/Autocomplete.vue
  src/components/primitives/autocomplete/ManualComboboxInput.vue
Due: eslint --fix, stylelint --fix

✨ 为场景 ID 与标签接入自动补全
  src/components/editor/VisualEditorStatementCard.vue
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/scene.ts
  src/features/editor/statement-editor/__tests__/preview.test.ts
  src/features/editor/statement-editor/preview.ts
Due: eslint --fix, stylelint --fix

♻️ 统一对话关联立绘目标语义
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/command-node-param-access.test.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/codec.ts
  src/domain/script/params.ts
  src/domain/script/say-figure.ts
  src/domain/script/types.ts
  src/domain/script/update.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/statement-editor/__tests__/preview.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/preview.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修复参数渲染测试样式透传
  src/components/editor/param-renderer/ParamRenderer.spec.ts
Due: eslint --fix

🐛 修复 JSON 子字段显式值判断
  src/features/editor/statement-editor/__tests__/param-value.test.ts
  src/features/editor/statement-editor/param-value.ts
Due: eslint --fix

⚡️ 复用场景投影构建自动补全
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
Due: eslint --fix

🐛 修复辅助面板成对字段未撑满宽度
  src/components/editor/StatementPairListEditor.vue
Due: eslint --fix, stylelint --fix

🐛 修复辅助面板成对字段未撑满宽度 (#270)
  src/components/editor/StatementPairListEditor.vue
Due: eslint --fix, stylelint --fix

🐛 修复 Combobox 空状态提示
  src/components/primitives/Autocomplete.vue
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复 Combobox 空状态提示 (#271)
  src/components/primitives/Autocomplete.vue
  src/components/primitives/CascadingCombobox.spec.ts
  src/components/primitives/CascadingCombobox.vue
  src/components/primitives/Combobox.spec.ts
  src/components/primitives/Combobox.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 支持通过 Home 和 End 选择可视化编辑器首尾语句
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneViewport.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/editor/visual-editor/useVisualEditorSceneViewport.ts
Due: eslint --fix, stylelint --fix

✨ 支持通过 Home 和 End 选择可视化编辑器首尾语句 (#272)
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneViewport.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
  src/features/editor/visual-editor/useVisualEditorSceneViewport.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
