Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复引擎不可用时编辑器模板交互的退化
  src/components/editor/EditorStatusBar.vue
  src/components/modals/SwitchTemplateModal.vue
  src/components/shared/TemplateSelector.vue
  src/composables/useTemplateLabel.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

🐛 修复引擎不可用时状态栏仍显示引擎名
  src/components/editor/EditorStatusBar.vue
Due: eslint --fix, stylelint --fix

🐛 修复创建游戏入口未过滤不可用引擎与模板
  src/components/home/WelcomeSection.vue
  src/components/shared/EngineSelector.vue
  src/components/shared/TemplateSelector.vue
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
Due: eslint --fix, stylelint --fix

🐛 修复模板跟随不可用引擎时仍显示引擎名
  src/composables/useTemplateLabel.ts
Due: eslint --fix

🐛 修复引擎清单 schema 不支持错误显示未知错误并优化引擎导入文案
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

✏️ 优化游戏导入错误文案
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

💄 移除引擎不可用标记多余的右边距
  src/components/home/engines-tab/EngineVersionPopover.vue
Due: eslint --fix, stylelint --fix

🐛 修复 engineBuiltin 模板解析漏判 availability
  src/services/template-switch.ts
Due: eslint --fix

🐛 inspectGame 捕获 config.txt 解析失败为 INVALID_CONFIG
  src/services/game-manager.ts
Due: eslint --fix

✨ Game_name 为空降级为 missing-game-name warning
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/services/resource-health.ts
Due: eslint --fix

♻️ 提取 isEngineUsable 收敛引擎可用性判定
  src/components/editor/EditorStatusBar.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/SwitchTemplateModal.vue
  src/components/shared/EngineSelector.vue
  src/components/shared/TemplateSelector.vue
  src/composables/useTemplateLabel.ts
  src/features/home/engines-tab/engine-group-view-model.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/template-switch.ts
  src/stores/resource.ts
Due: eslint --fix, stylelint --fix

🔥 移除已废弃的 DUPLICATE_ENGINE 通知分支
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 集成测试 mock 引擎补 availability 字段
  integration/support/mock-tauri.ts
Due: eslint --fix

🐛 浏览器测试 mock engine-manager 补 isEngineUsable
  src/components/home/engines-tab/EnginesTab.spec.ts
Due: eslint --fix

🐛 collectEngineWarnings 使用 manifest icon 路径
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

✨ 新增资源失效 reconcile 基础设施与模板可用性建模
  src/__tests__/factories.ts
  src/database/db.ts
  src/database/model.ts
  src/services/__tests__/template-manager.test.ts
  src/services/game-manager.ts
  src/services/resource-reconcile.ts
  src/services/template-manager.ts
Due: eslint --fix

✨ 首页接入资源可用性渲染与点击期 reconcile
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/home/templates-tab/TemplateGroupCard.vue
  src/components/home/templates-tab/TemplatesTabCollectionSection.spec.ts
  src/components/shared/TemplateSelector.vue
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/templates-tab/__tests__/template-collection-items.test.ts
  src/features/home/templates-tab/template-groups.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/stores/resource.ts
Due: eslint --fix, stylelint --fix

✨ 创建游戏提交时即时校验引擎与模板可用性
  src/features/modals/create-game/__tests__/useCreateGameForm.test.ts
  src/features/modals/create-game/useCreateGameForm.ts
Due: eslint --fix

✨ 失效游戏/模板/引擎分组改走仅移除记录的删除分支
  src/components/modals/DeleteEngineGroupModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/DeleteTemplateModal.vue
Due: eslint --fix, stylelint --fix

✨ 新增失效项目恢复弹窗与工作区阻断流程
  src/App.vue
  src/components.d.ts
  src/components/home/games-tab/GamesTab.vue
  src/components/modals/RecoverGameModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/workspace.test.ts
  src/stores/editor-view-state.ts
  src/stores/modal.ts
  src/stores/tabs.ts
  src/stores/workspace.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

🐛 修复 i18n 静态分析无法识别动态 keypath 的告警
  src/components/modals/DeleteGameModal.vue
  src/components/modals/DeleteTemplateModal.vue
  src/components/modals/RecoverGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复浏览器测试缺失 Tauri 日志 mock 导致的未处理异常
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
Due: eslint --fix

🐛 修复集成测试 mock 未将游戏配置同步到虚拟文件系统
  integration/support/mock-tauri.ts
Due: eslint --fix

🐛 修复编辑器进入校验对切换后游戏的误报
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

🐛 修复模板点击期校验未同步元数据
  src/services/resource-reconcile.ts
Due: eslint --fix

🐛 修复损坏游戏无法在恢复弹窗中重新链接路径
  src/components/modals/RecoverGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复重新链接游戏路径未拦截重复目录
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复当前游戏校验后可用性未同步到工作区
  src/stores/workspace.ts
Due: eslint --fix

💄 优化首页失效资源卡片的视觉提示
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/home/templates-tab/TemplateGroupCard.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🚨 解决排序问题引发的 lint 警告
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

✨ 实现场景文件本地备份与历史恢复
  integration/support/mock-tauri.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/backup.ts
  src/components.d.ts
  src/components/editor/EditorStatusBar.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/modals/BackupTimelineDialog.vue
  src/components/modals/SettingsModal.vue
  src/components/settings/BackupSettings.vue
  src/features/settings/backup-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/backup-manager.test.ts
  src/services/backup-manager.ts
  src/stores/__tests__/backup-settings.test.ts
  src/stores/__tests__/backup.test.ts
  src/stores/backup-settings.ts
  src/stores/backup.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/stores/modal.ts
Due: eslint --fix, stylelint --fix

🐛 修复场景历史 manifest 损坏时静默丢失全部条目
  src-tauri/src/commands/backup.rs
  src-tauri/src/commands/error.rs
Due: none

🐛 修复 cleanup 在 manifest 乱序时可能丢弃最新版本
  src-tauri/src/commands/backup.rs
Due: none

🐛 修复历史 diff 右侧使用磁盘内容而非编辑器 buffer
  src/components/modals/BackupTimelineDialog.vue
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

⚡️ 把场景历史保留策略改为创建时 in-band 裁剪
  src-tauri/src/commands/backup.rs
  src/commands/backup.ts
  src/services/__tests__/backup-manager.test.ts
  src/services/backup-manager.ts
Due: eslint --fix

🐛 修复 diff 编辑器初始化期 model 生命周期歧义
  src/components/modals/BackupTimelineDialog.vue
Due: eslint --fix, stylelint --fix

📝 澄清 should_skip_dedup 仅比较与上一条 hash
  src-tauri/src/commands/backup.rs
Due: none

🔒 校验场景历史路径，拒绝任意路径遍历
  src-tauri/src/commands/backup.rs
Due: none
