Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复高 DPI 下首页外部目录拖放失效
  src/composables/__tests__/useTauriDropZone.browser.test.ts
  src/composables/useTauriDropZone.ts
Due: eslint --fix

🐛 修复效果编辑器颜色选择器点击无响应 (#284)
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/EffectDraftFormColorPicker.spec.ts
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/components/primitives/ColorPicker.vue
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
Due: eslint --fix, stylelint --fix

🐛 修复高 DPI 下首页外部目录拖放失效 (#285)
  src/composables/__tests__/useTauriDropZone.browser.test.ts
  src/composables/useTauriDropZone.ts
Due: eslint --fix

🎨 格式化后端代码
  src-tauri/src/commands/export.rs
Due: none

🐛 修复缺少图标目录时 Web 导出失败
  src-tauri/src/commands/export.rs
Due: none

🐛 去重 Web 导出图标进度事件
  src-tauri/src/commands/export.rs
Due: none

🐛 四舍五入 Web 导出进度显示
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
Due: eslint --fix, stylelint --fix

🐛 修复失效游戏仍显示打开文件夹操作
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

✅ 完善游戏右键菜单测试
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
Due: eslint --fix

🐛 修复失效游戏仍显示打开文件夹操作 (#288)
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复图标编辑器退出时未确认修改
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/components/modals/game-config/IconEditorDialog.vue
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
Due: eslint --fix, stylelint --fix

🐛 保存图标期间阻止关闭编辑器
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/components/modals/game-config/IconEditorDialog.vue
Due: eslint --fix, stylelint --fix

🐛 修复图标编辑器退出时未确认修改 (#289)
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/components/modals/game-config/IconEditorDialog.vue
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
Due: eslint --fix, stylelint --fix

🐛 修复资源目录缺失时文件选择器无法打开
  src/components/file-picker/FilePicker.spec.ts
  src/features/file-picker/__tests__/useFilePickerController.test.ts
  src/features/file-picker/useFilePickerController.ts
Due: eslint --fix

♻️ 收紧文件选择器缺失根状态与测试
  src/features/file-picker/__tests__/useFilePickerController.test.ts
  src/features/file-picker/useFilePickerController.ts
Due: eslint --fix

🐛 修复资源目录为空或缺失时文件选择器无法打开 (#290)
  src/components/file-picker/FilePicker.spec.ts
  src/features/file-picker/__tests__/useFilePickerController.test.ts
  src/features/file-picker/useFilePickerController.ts
Due: eslint --fix

✨ 关于弹窗支持复制并预填反馈环境信息
  src/components/modals/AboutModal.spec.ts
  src/components/modals/AboutModal.vue
  src/features/about/__tests__/feedback.test.ts
  src/features/about/feedback.ts
Due: eslint --fix, stylelint --fix

✨ 关于弹窗支持复制并预填反馈环境信息 (#291)
  src/components/modals/AboutModal.spec.ts
  src/components/modals/AboutModal.vue
  src/features/about/__tests__/feedback.test.ts
  src/features/about/feedback.ts
Due: eslint --fix, stylelint --fix

🐛 修复资源根目录缺失时仍可打开文件夹
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTreeContextMenuContent.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/editor/__tests__/useAssetViewItemsLoader.test.ts
  src/components/editor/useAssetViewItemsLoader.ts
Due: eslint --fix, stylelint --fix

🐛 修复资源根目录缺失时仍可打开文件夹 (#292)
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTreeContextMenuContent.spec.ts
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/editor/__tests__/useAssetViewItemsLoader.test.ts
  src/components/editor/useAssetViewItemsLoader.ts
Due: eslint --fix, stylelint --fix

✨ 支持在 Diff 编辑器中合并外部修改
  src/components.d.ts
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.vue
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/components/modals/ExternalDocumentChangeModal.vue
  src/features/editor/external-document-conflict/__tests__/diff-hunk.test.ts
  src/features/editor/external-document-conflict/diff-hunk.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/editor.test.ts
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix, stylelint --fix

✅ 明确 Diff 编辑器测试模型引用
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.vue
Due: eslint --fix, stylelint --fix

🐛 保持 Diff 重算时的审阅位置
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.vue
Due: eslint --fix, stylelint --fix

♿ 恢复外部文档冲突弹窗初始焦点
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/components/modals/ExternalDocumentChangeModal.vue
Due: eslint --fix, stylelint --fix

💡 说明 Diff 空行范围约定
  src/features/editor/external-document-conflict/diff-hunk.ts
Due: eslint --fix

✨ 支持在 Diff 编辑器中合并外部修改 (#293)
  src/components.d.ts
  src/components/editor/ExternalDocumentDiffEditor.spec.ts
  src/components/editor/ExternalDocumentDiffEditor.vue
  src/components/modals/ExternalDocumentChangeModal.spec.ts
  src/components/modals/ExternalDocumentChangeModal.vue
  src/features/editor/external-document-conflict/__tests__/diff-hunk.test.ts
  src/features/editor/external-document-conflict/diff-hunk.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/editor.test.ts
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix, stylelint --fix

✨ 根据引擎能力诊断 Live2D 与 Spine 引用
  src/components/editor/StatementSpecialContentEditor.spec.ts
  src/components/editor/StatementSpecialContentEditor.vue
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-picker/FilePicker.vue
  src/domain/engine/__tests__/model-capabilities.test.ts
  src/domain/engine/model-capabilities.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/features/editor/statement-editor/__tests__/useStatementFieldDiagnostics.test.ts
  src/features/editor/statement-editor/useStatementFieldDiagnostics.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/stores/__tests__/resource.test.ts
  src/stores/resource.ts
Due: eslint --fix, stylelint --fix

✨ 根据引擎能力诊断 Live2D 与 Spine 引用 (#294)
  src/components/editor/StatementSpecialContentEditor.spec.ts
  src/components/editor/StatementSpecialContentEditor.vue
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-picker/FilePicker.vue
  src/domain/engine/__tests__/model-capabilities.test.ts
  src/domain/engine/model-capabilities.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/features/editor/statement-editor/__tests__/useStatementFieldDiagnostics.test.ts
  src/features/editor/statement-editor/useStatementFieldDiagnostics.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/stores/__tests__/resource.test.ts
  src/stores/resource.ts
Due: eslint --fix, stylelint --fix

✨ 完成移动端适配前置工作
  .github/workflows/build.yml
  .github/workflows/release.yml
  src-tauri/Cargo.toml
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
  src/components/app/AppTitlebar.vue
  src/components/app/window-controls/utils.ts
  src/components/modals/AboutModal.spec.ts
  src/components/modals/AboutModal.vue
  src/services/app-update/__tests__/update-service.test.ts
  src/services/app-update/update-service.ts
  src/services/platform/__tests__/runtime.test.ts
  src/services/platform/runtime.ts
Due: eslint --fix, stylelint --fix

🐛 修复 Android 构建产物评论识别
  scripts/collectArtifactCommentData.js
  scripts/formatArtifactComment.js
  src/utils/__tests__/artifact-comment.test.ts
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix

✅ 补充运行时平台默认路径测试
  src/services/platform/__tests__/runtime.test.ts
Due: eslint --fix

♻️ 隔离桌面窗口能力与移动端运行时
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
Due: eslint --fix, stylelint --fix

♻️ 由应用布局控制桌面标题栏挂载
  src/components/app/AppTitlebar.vue
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

🐛 仅在桌面调试构建中打开开发者工具
  src-tauri/src/lib.rs
Due: none

🐛 修复移动端应用布局高度
  src/layouts/default.vue
Due: eslint --fix, stylelint --fix

✨ 完成移动端适配前置工作 (#295)
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/collectArtifactCommentData.js
  scripts/formatArtifactComment.js
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/components/app/window-controls/utils.ts
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/modals/AboutModal.spec.ts
  src/components/modals/AboutModal.vue
  src/layouts/default.vue
  src/services/app-update/__tests__/update-service.test.ts
  src/services/app-update/update-service.ts
  src/services/platform/__tests__/runtime.test.ts
  src/services/platform/runtime.ts
  src/utils/__tests__/artifact-comment.test.ts
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix, stylelint --fix
