Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复预览同步集成测试环境
  integration/support/mock-tauri.ts
Due: eslint --fix

🐛 修复快速预览超时弹窗关闭竞态
  src/components/modals/FastPreviewTimeoutModal.spec.ts
  src/components/modals/FastPreviewTimeoutModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复文件树右键菜单在资源管理器中的定位行为
  src/components/editor/FileTreeContextMenuContent.vue
Due: eslint --fix, stylelint --fix

🐛 修复文件树右键菜单在资源管理器中的定位行为 (#209)
  src/components/editor/FileTreeContextMenuContent.vue
Due: eslint --fix, stylelint --fix

🐛 修复首页引擎列表的导入中状态与整组删除判定
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/features/home/engines-tab/__tests__/engine-group-view-model.test.ts
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/engine-group-view-model.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/home-collection-items.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix, stylelint --fix

🧪 对齐引擎族删除事件测试契约
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
Due: eslint --fix

🐛 修复首页引擎列表的导入中状态与整组删除判定 (#210)
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/features/home/engines-tab/__tests__/engine-group-view-model.test.ts
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/engine-group-view-model.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/home-collection-items.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix, stylelint --fix

🐛 修复效果编辑器滑块重复和无效预览请求
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
Due: eslint --fix, stylelint --fix

🐛 修复效果编辑器滑块重复和无效预览请求 (#211)
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
Due: eslint --fix, stylelint --fix

✨ 统一导入依赖修复流程并保护模板删除
  src/components.d.ts
  src/components/home/WelcomeSection.vue
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/modals/DeleteTemplateModal.spec.ts
  src/components/modals/DeleteTemplateModal.vue
  src/components/modals/EngineSelectionModal.spec.ts
  src/components/modals/EngineSelectionModal.vue
  src/components/modals/ImportDependencyResolutionModal.spec.ts
  src/components/modals/ImportDependencyResolutionModal.vue
  src/components/shared/TemplateSelector.vue
  src/composables/useDeleteConfirmation.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/useDiscoverResources.ts
  src/features/modals/engine-selection/request-engine-selection.ts
  src/features/modals/import-dependency-resolution/request-import-dependency-resolution.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/game-manager.ts
  src/services/template-manager.ts
  src/stores/modal.ts
  src/types/engine-selection.ts
  src/types/errors.ts
  src/types/import-dependency-resolution.ts
Due: eslint --fix, stylelint --fix

🐛 修复资源发现导入幂等提示
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 修复删除确认检查失败时放行
  src/composables/__tests__/useDeleteConfirmation.test.ts
  src/composables/useDeleteConfirmation.ts
Due: eslint --fix

🐛 修复内置模板导入可用性判断
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复模板删除引用检查失败处理
  src/services/__tests__/template-manager.test.ts
  src/services/template-manager.ts
Due: eslint --fix

✨ 统一导入依赖修复流程并保护模板删除 (#212)
  src/components.d.ts
  src/components/home/WelcomeSection.vue
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/modals/DeleteTemplateModal.spec.ts
  src/components/modals/DeleteTemplateModal.vue
  src/components/modals/EngineSelectionModal.spec.ts
  src/components/modals/EngineSelectionModal.vue
  src/components/modals/ImportDependencyResolutionModal.spec.ts
  src/components/modals/ImportDependencyResolutionModal.vue
  src/components/shared/TemplateSelector.vue
  src/composables/__tests__/useDeleteConfirmation.test.ts
  src/composables/useDeleteConfirmation.ts
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/useDiscoverResources.ts
  src/features/modals/engine-selection/request-engine-selection.ts
  src/features/modals/import-dependency-resolution/request-import-dependency-resolution.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/game-manager.ts
  src/services/template-manager.ts
  src/stores/modal.ts
  src/types/engine-selection.ts
  src/types/errors.ts
  src/types/import-dependency-resolution.ts
Due: eslint --fix, stylelint --fix

✨ 调整文件树新建文件夹的默认输入交互
  src/components/editor/FileTree.vue
  src/features/editor/file-tree/__tests__/file-tree.test.ts
  src/features/editor/file-tree/__tests__/useFileTreeController.test.ts
  src/features/editor/file-tree/file-tree.ts
  src/features/editor/file-tree/useFileTreeController.ts
Due: eslint --fix, stylelint --fix

♻️ 仅在创建文件时计算默认草稿
  src/features/editor/file-tree/file-tree.ts
Due: eslint --fix

✨ 调整文件树新建文件夹的默认输入交互 (#213)
  src/components/editor/FileTree.vue
  src/features/editor/file-tree/__tests__/file-tree.test.ts
  src/features/editor/file-tree/__tests__/useFileTreeController.test.ts
  src/features/editor/file-tree/file-tree.ts
  src/features/editor/file-tree/useFileTreeController.ts
Due: eslint --fix, stylelint --fix

🐛 修复引擎和模板拖拽区高亮未生效
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/templates-tab/TemplatesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复引擎和模板拖拽区高亮未生效 (#214)
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/templates-tab/TemplatesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 优化预览缩略图缓存与失效回退
  src-tauri/src/commands/server.rs
Due: none

🚨 解决 rust lint 警告
  src-tauri/src/commands/server.rs
Due: none

🐛 优化缩略图缓存克隆开销
  src-tauri/src/commands/server.rs
Due: none

🐛 优化预览缩略图缓存与失效回退 (#215)
  src-tauri/src/commands/server.rs
Due: none

✨ 添加游戏图标编辑器并接入图标资产预览
  src/components.d.ts
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/components/modals/game-config/IconEditorDialog.vue
  src/components/modals/game-config/IconEditorPreviewCanvas.vue
  src/components/modals/game-config/IconEditorTransformControls.vue
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.browser.test.ts
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.test.ts
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-source.test.ts
  src/features/modals/game-config/icon-editor/icon-editor-controls.ts
  src/features/modals/game-config/icon-editor/icon-editor-export.ts
  src/features/modals/game-config/icon-editor/icon-editor-render.ts
  src/features/modals/game-config/icon-editor/icon-editor-source.ts
  src/features/modals/game-config/icon-editor/icon-editor-state.ts
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/project-icon-assets.test.ts
  src/services/game-manager.ts
  src/services/platform/__tests__/path-boundary.test.ts
  src/services/platform/path-boundary.ts
  src/services/project-icon-assets.ts
Due: eslint --fix, stylelint --fix

✅ 修正图标编辑器源图尺寸断言
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.test.ts
Due: eslint --fix

🐛 收敛图标编辑器源数据恢复错误
  src/features/modals/game-config/icon-editor/__tests__/useIconEditorSession.test.ts
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
Due: eslint --fix

✅ 补充图标源数据加载分支测试
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-source.test.ts
Due: eslint --fix

⚡ 批处理图标预览画布重绘
  src/components/modals/game-config/IconEditorPreviewCanvas.spec.ts
  src/components/modals/game-config/IconEditorPreviewCanvas.vue
Due: eslint --fix, stylelint --fix

✅ 收紧图标源数据无效状态断言
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-source.test.ts
Due: eslint --fix

✅ 明确断言图标编辑器会话创建
  src/features/modals/game-config/icon-editor/__tests__/useIconEditorSession.test.ts
Due: eslint --fix

✅ 清理图标预览画布全局测试桩
  src/components/modals/game-config/IconEditorPreviewCanvas.spec.ts
Due: eslint --fix

✨ 添加游戏图标编辑器 (#216)
  src/components.d.ts
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/components/modals/game-config/IconEditorDialog.vue
  src/components/modals/game-config/IconEditorPreviewCanvas.spec.ts
  src/components/modals/game-config/IconEditorPreviewCanvas.vue
  src/components/modals/game-config/IconEditorTransformControls.vue
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.browser.test.ts
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.test.ts
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-source.test.ts
  src/features/modals/game-config/icon-editor/__tests__/useIconEditorSession.test.ts
  src/features/modals/game-config/icon-editor/icon-editor-controls.ts
  src/features/modals/game-config/icon-editor/icon-editor-export.ts
  src/features/modals/game-config/icon-editor/icon-editor-render.ts
  src/features/modals/game-config/icon-editor/icon-editor-source.ts
  src/features/modals/game-config/icon-editor/icon-editor-state.ts
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/project-icon-assets.test.ts
  src/services/game-manager.ts
  src/services/platform/__tests__/path-boundary.test.ts
  src/services/platform/path-boundary.ts
  src/services/project-icon-assets.ts
Due: eslint --fix, stylelint --fix

🐛 修复预览资源缓存失效粒度与版本刷新逻辑
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-switch.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复预览资源快照并发合并
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 隔离游戏预览刷新防抖状态
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复预览资源缓存失效粒度与合并逻辑 (#217)
  src/components/modals/game-config/IconEditorDialog.spec.ts
  src/features/modals/game-config/icon-editor/useIconEditorSession.ts
  src/services/__tests__/engine-switch.test.ts
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-switch.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
Due: eslint --fix

♻️ 移除游戏配置弹窗中的引擎与模板切换入口
  src/components/modals/GameConfigModal.vue
Due: eslint --fix, stylelint --fix

♻️ 移除游戏配置弹窗中的引擎与模板切换入口 (#218)
  src/components/modals/GameConfigModal.vue
Due: eslint --fix, stylelint --fix
