Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

📝 修正 README 中的开源许可证
  README.md
Due: none

📝 添加贡献指南
  .github/CONTRIBUTING.md
Due: none

⬆️ 更新项目依赖
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

📝 添加项目描述
  README.md
Due: none

🐛 修复 json 文件引号错误
  components.json
  src-tauri/capabilities/default.json
  src-tauri/capabilities/desktop.json
Due: none

🔧 改进 eslint 配置
  eslint.config.js
Due: eslint --fix

🔧 处理 eslint 报错，并在根目录忽略文件中添加 target
  .editorconfig
  .gitignore
  eslint.config.js
  src/commands/server.ts
  src/components/edit/EditorPanel.vue
  src/components/edit/FileEditor.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/ScenePanel.vue
Due: eslint --fix, stylelint --fix

添加 .gitattributes 文件
  .editorconfig
  .gitattributes
  eslint.config.js
Due: eslint --fix

🔧 改进 eslint 配置
  .gitignore
  eslint.config.js
  src/components/edit/FileEditor.vue
Due: eslint --fix, stylelint --fix

🔧 优化 eslint 配置并处理部分 lint 警报 (#5)
  .gitattributes
  eslint.config.js
  src/commands/server.ts
  src/components/edit/EditorPanel.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/ScenePanel.vue
Due: eslint --fix, stylelint --fix

🐛 修复 extensions.json 中的引号格式问题
  .vscode/extensions.json
Due: none

🔧 关闭文件缓存
  src-tauri/Cargo.toml
  src-tauri/src/commands/server.rs
Due: none

♻️ 优化缓存控制头
  src-tauri/src/commands/server.rs
Due: none

🐛 修复游戏项目文件意外缓存的问题 (#6)
  src-tauri/Cargo.toml
  src-tauri/src/commands/server.rs
Due: none

✨ 实现编辑文本时实时预览
  src-tauri/capabilities/default.json
  src/auto-imports.d.ts
  src/components/edit/TextEditor.vue
  src/stores/line-holder.ts
Due: eslint --fix, stylelint --fix

✨ 实现 WebGAL 脚本语言高亮
  bun.lock
  package.json
  public/lib/onigasm.wasm
  src/auto-imports.d.ts
  src/components/edit/TextEditor.vue
  src/components/edit/TextEditorStatusBar.vue
  src/grammars/webgal.tmLanguage.json
  src/themes/vs-webgal.json
  src/utils/init-onigasm.ts
Due: eslint --fix, stylelint --fix

✨ 增强预览面板功能，添加 URL 显示和操作按钮
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

♻️ 改进预览面板的错误处理和无障碍支持
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 增强编辑器的预览面板功能 (#8)
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 为预览面板添加可折叠功能
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

✨ 为预览面板添加可折叠功能 (#9)
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

🌐 完善国际化支持并添加繁体中文
  bun.lock
  eslint.config.js
  package.json
  src/components/ToastIcon.vue
  src/components/edit/AssetBreadcrumb.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/AssetPreview.vue
  src/components/edit/AssetView.vue
  src/components/edit/EditHeader.vue
  src/components/edit/EditorModeSwitch.vue
  src/components/edit/EditorTabs.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/ScenePanel.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/VisualEditorScene.vue
  src/components/edit/WelcomeView.vue
  src/components/home/AppHeader.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/AboutModal.vue
  src/components/modals/AlertModal.vue
  src/components/modals/CreateGameModal.vue
  src/components/modals/DeleteEngineModal.vue
  src/components/modals/DeleteGameConfirmModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/EffectEditorModal.vue
  src/components/modals/GameConfigModal.vue
  src/components/modals/SettingsModal.vue
  src/components/modals/UpgradeModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/plugins/i18n.ts
  src/views/[...all].vue
Due: eslint --fix, stylelint --fix

🌐 迁移到标准语言代码并完善回退链
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/i18n.ts
Due: eslint --fix

🌐 支持基于 Tauri 调试环境变量的警告开关
  src/plugins/i18n.ts
Due: eslint --fix

♻️ 提取区域设置回退逻辑到 makeFallback 函数
  src/plugins/i18n.ts
Due: eslint --fix

🌐 完善国际化支持 (#10)
  bun.lock
  eslint.config.js
  package.json
  src/components/ToastIcon.vue
  src/components/edit/AssetBreadcrumb.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/AssetPreview.vue
  src/components/edit/AssetView.vue
  src/components/edit/EditHeader.vue
  src/components/edit/EditorModeSwitch.vue
  src/components/edit/EditorTabs.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/ScenePanel.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/VisualEditorScene.vue
  src/components/edit/WelcomeView.vue
  src/components/home/AppHeader.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/AboutModal.vue
  src/components/modals/AlertModal.vue
  src/components/modals/CreateGameModal.vue
  src/components/modals/DeleteEngineModal.vue
  src/components/modals/DeleteGameConfirmModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/EffectEditorModal.vue
  src/components/modals/GameConfigModal.vue
  src/components/modals/SettingsModal.vue
  src/components/modals/UpgradeModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-CN.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/i18n.ts
  src/views/[...all].vue
Due: eslint --fix, stylelint --fix

🐛 修复 i18n 调试标志配置错误
  src/plugins/i18n.ts
  vite.config.ts
Due: eslint --fix

🐛 修复 i18n 调试标志配置错误 (#11)
  src/plugins/i18n.ts
  vite.config.ts
Due: eslint --fix

✨ 实现完整的设置系统
  .stylelintrc
  index.html
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/ThemeStyleMap.vue
  src/components/edit/TextEditor.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/SearchView.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/CreateGameModal.vue
  src/components/modals/SettingsModal.vue
  src/components/setting/EditSettings.vue
  src/components/setting/ExperimentalFeatureTooltip.vue
  src/components/setting/GeneralSettings.vue
  src/components/setting/PreviewSettings.vue
  src/components/setting/StorageSettings.vue
  src/components/setting/WarningAlert.vue
  src/components/ui/radio-group/RadioGroup.vue
  src/components/ui/radio-group/RadioGroupItem.vue
  src/components/ui/radio-group/index.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/dayjs.ts
  src/services/engine-manager.ts
  src/stores/edit-settings.ts
  src/stores/general-settings.ts
  src/stores/preview-settings.ts
  src/stores/storage-settings.ts
  src/utils/monaco.ts
Due: eslint --fix, stylelint --fix

♻️ 提取设置表单逻辑到可复用的 composable
  src/auto-imports.d.ts
  src/components/setting/EditSettings.vue
  src/components/setting/GeneralSettings.vue
  src/components/setting/PreviewSettings.vue
  src/components/setting/StorageSettings.vue
  src/composables/useSettingsForm.ts
Due: eslint --fix, stylelint --fix

♻️ 简化语言应用逻辑，使用计算属性替代函数
  src/stores/general-settings.ts
Due: eslint --fix

♻️ 移除不必要的空值合并运算符
  src/components/setting/EditSettings.vue
Due: eslint --fix, stylelint --fix

✨ 实现完整的设置系统 (#12)
  .stylelintrc
  index.html
  src/App.vue
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/ThemeStyleMap.vue
  src/components/edit/TextEditor.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/SearchView.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/CreateGameModal.vue
  src/components/modals/SettingsModal.vue
  src/components/setting/EditSettings.vue
  src/components/setting/ExperimentalFeatureTooltip.vue
  src/components/setting/GeneralSettings.vue
  src/components/setting/PreviewSettings.vue
  src/components/setting/StorageSettings.vue
  src/components/setting/WarningAlert.vue
  src/components/ui/radio-group/RadioGroup.vue
  src/components/ui/radio-group/RadioGroupItem.vue
  src/components/ui/radio-group/index.ts
  src/composables/useSettingsForm.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/dayjs.ts
  src/services/engine-manager.ts
  src/stores/edit-settings.ts
  src/stores/general-settings.ts
  src/stores/preview-settings.ts
  src/stores/storage-settings.ts
  src/utils/monaco.ts
Due: eslint --fix, stylelint --fix

♻️ 将编辑器资源文件移至 plugins/editor 目录
  src/components/edit/TextEditor.vue
  src/plugins/editor/grammars/webgal.tmLanguage.json
  src/plugins/editor/themes/vs-webgal.json
Due: eslint --fix, stylelint --fix

♻️ 优化语言配置并支持动画文件类型
  src/components/edit/TextEditor.vue
Due: eslint --fix, stylelint --fix

💄 新增文本编辑器深色主题
  src/auto-imports.d.ts
  src/components/edit/TextEditor.vue
  src/composables/color-mode.ts
  src/plugins/editor/themes/vs-dark-webgal.json
  src/stores/general-settings.ts
Due: eslint --fix, stylelint --fix

♻️ 重构 TextEditor 组件
  src/components/edit/TextEditor.vue
  src/plugins/editor/themes/webgal-dark.json
  src/plugins/editor/themes/webgal-light.json
Due: eslint --fix, stylelint --fix

🌐 为文本编辑器添加语言配置国际化支持
  src/components/edit/TextEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix
