Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

✨ 实现预览面板画布视口系统
  src-tauri/src/commands/server.rs
  src/components/editor/LeftPanel.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/ViewportControls.vue
  src/components/editor/param-renderer/controls/FocusXYControl.vue
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/__tests__/usePreviewViewport.test.ts
  src/composables/useImmediatePointerDrag.ts
  src/composables/usePreviewViewport.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectDurationControl.test.ts
  src/features/editor/effect-editor/createParamDrag.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectDurationControl.ts
  src/features/editor/preview/__tests__/embedded-preview-bootstrap.test.ts
  src/features/editor/preview/__tests__/embedded-preview-messages.test.ts
  src/features/editor/preview/embedded-preview-bootstrap.ts
  src/features/editor/preview/embedded-preview-messages.ts
  src/features/editor/preview/preview-panel.ts
  src/features/editor/statement-editor/useStatementEditorScrub.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/utils/__tests__/math.test.ts
  src/utils/math.ts
Due: eslint --fix, stylelint --fix

🧪 对齐拖拽测试桩行为
  src/features/editor/effect-editor/__tests__/useEffectDurationControl.test.ts
Due: eslint --fix

✨ 实现预览面板画布视口系统 (#249)
  src-tauri/src/commands/server.rs
  src/components/editor/LeftPanel.vue
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/ViewportControls.vue
  src/components/editor/param-renderer/controls/FocusXYControl.vue
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/__tests__/usePreviewViewport.test.ts
  src/composables/useImmediatePointerDrag.ts
  src/composables/usePreviewViewport.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectDurationControl.test.ts
  src/features/editor/effect-editor/createParamDrag.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectDurationControl.ts
  src/features/editor/preview/__tests__/embedded-preview-bootstrap.test.ts
  src/features/editor/preview/__tests__/embedded-preview-messages.test.ts
  src/features/editor/preview/embedded-preview-bootstrap.ts
  src/features/editor/preview/embedded-preview-messages.ts
  src/features/editor/preview/preview-panel.ts
  src/features/editor/statement-editor/useStatementEditorScrub.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/utils/__tests__/math.test.ts
  src/utils/math.ts
Due: eslint --fix, stylelint --fix

🐛 修复效果编辑器还原预览基线
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
Due: eslint --fix

🐛 修复效果编辑器还原按钮的预览回滚行为 (#250)
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
Due: eslint --fix

🐛 修复文本编辑器行首拖拽插入后的光标位置
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/useTextEditorBindings.ts
Due: eslint --fix

🐛 修复文本编辑器行首拖拽插入后的光标位置 (#251)
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/useTextEditorBindings.ts
Due: eslint --fix

🐛 同步文本编辑器拖拽插入后的语句选中状态
  src/features/editor/text-editor/__tests__/text-editor-command-drop.test.ts
  src/features/editor/text-editor/__tests__/text-editor-file-drop.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorRuntime-preview-sync.test.ts
  src/features/editor/text-editor/text-editor-drop-action.ts
  src/features/editor/text-editor/text-editor-file-drop.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
Due: eslint --fix

🐛 修复文本编辑器拖拽插入后辅助面板语句未更新 (#252)
  src/features/editor/text-editor/__tests__/text-editor-command-drop.test.ts
  src/features/editor/text-editor/__tests__/text-editor-file-drop.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorRuntime-preview-sync.test.ts
  src/features/editor/text-editor/text-editor-drop-action.ts
  src/features/editor/text-editor/text-editor-file-drop.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
Due: eslint --fix

🐛 修复可视化编辑器卡片点击区域
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
Due: eslint --fix, stylelint --fix

🐛 修复可视化编辑器卡片点击区域被投放区覆盖 (#253)
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
Due: eslint --fix, stylelint --fix

🐛 修复 macOS 更新产物缺失
  src-tauri/tauri.conf.json
Due: none

🐛 修复 macOS 更新产物缺失 (#254)
  src-tauri/tauri.conf.json
Due: none

✨ 为效果编辑器补齐历史记录与快捷键
  src/components/editor/EffectEditorPanel.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
Due: eslint --fix, stylelint --fix

✨ 为效果编辑器补齐历史记录与快捷键 (#255)
  src/components/editor/EffectEditorPanel.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
Due: eslint --fix, stylelint --fix

✨ 定义预览协议请求与响应类型
  scripts/generate-editor-preview-protocol-rs.mjs
  src-tauri/src/generated/editor_preview_protocol.rs
  src/domain/stage/types.ts
  src/types/__tests__/editorPreviewProtocol.test.ts
  src/types/editorPreviewProtocol.ts
Due: eslint --fix

✨ 接入前端预览请求客户端
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/services/__tests__/debug-commander.test.ts
  src/services/debug-commander.ts
  src/services/preview-protocol-client.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/editor.ts
  src/stores/preview-sync.ts
Due: eslint --fix, stylelint --fix

✨ 路由预览协议请求与响应消息
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
Due: none

🐛 修复编辑器预览同步单测断言
  src/stores/__tests__/editor.test.ts
Due: eslint --fix

🐛 捕获场景预览同步失败
  src/stores/__tests__/editor.test.ts
  src/stores/editor.ts
Due: eslint --fix

🐛 复用生成的效果命令协议常量
  scripts/generate-editor-preview-protocol-rs.mjs
  src-tauri/src/commands/server/preview_sync.rs
  src-tauri/src/generated/editor_preview_protocol.rs
  src/types/editorPreviewProtocol.ts
Due: eslint --fix

🐛 记录预览命令缺少目标
  src-tauri/src/commands/server.rs
Due: none

✏️ 标明预览协议发送语义
  src/services/preview-protocol-client.ts
Due: eslint --fix

🐛 收窄预览错误协议信封
  src/types/editorPreviewProtocol.ts
Due: eslint --fix

✨ 扩展预览协议请求响应通道 (#256)
  scripts/generate-editor-preview-protocol-rs.mjs
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
  src-tauri/src/generated/editor_preview_protocol.rs
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/domain/stage/types.ts
  src/services/__tests__/debug-commander.test.ts
  src/services/debug-commander.ts
  src/services/preview-protocol-client.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/editor.ts
  src/stores/preview-sync.ts
  src/types/__tests__/editorPreviewProtocol.test.ts
  src/types/editorPreviewProtocol.ts
Due: eslint --fix, stylelint --fix

✨ 添加变换基线解析模型
  src/features/editor/transform-resolution/__tests__/baseline-session.test.ts
  src/features/editor/transform-resolution/__tests__/model.test.ts
  src/features/editor/transform-resolution/baseline-session.ts
  src/features/editor/transform-resolution/model.ts
Due: eslint --fix

✨ 支持效果编辑器显示基线与预览回滚
  src/components/editor/EffectEditorPanel.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/useImmediatePointerDrag.ts
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/createParamDrag.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/transform-rotation-format.ts
  src/features/editor/effect-editor/types.ts
  src/features/editor/effect-editor/useEffectClearControls.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectSegmentedControl.ts
Due: eslint --fix, stylelint --fix

✨ 将效果编辑器接入变换基线会话
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/__tests__/useStatementEffectEditorBridge.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
Due: eslint --fix

🐛 修复效果编辑器预览未同步时的关闭保护
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🧪 补充效果编辑器语句行号回退测试
  src/features/editor/effect-editor/__tests__/useStatementEffectEditorBridge.test.ts
Due: eslint --fix

🐛 为变换基线 loading 重试添加退避
  src/features/editor/transform-resolution/__tests__/baseline-session.test.ts
  src/features/editor/transform-resolution/baseline-session.ts
Due: eslint --fix

♻️ 复用变换字段值转换逻辑
  src/features/editor/transform-resolution/model.ts
Due: eslint --fix

✨ 为效果编辑器补齐变换基线预览语义 (#257)
  src/components/editor/EffectEditorPanel.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/composables/__tests__/useImmediatePointerDrag.test.ts
  src/composables/useImmediatePointerDrag.ts
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/__tests__/useStatementEffectEditorBridge.test.ts
  src/features/editor/effect-editor/createParamDrag.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/transform-rotation-format.ts
  src/features/editor/effect-editor/types.ts
  src/features/editor/effect-editor/useEffectClearControls.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useEffectSegmentedControl.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
  src/features/editor/transform-resolution/__tests__/baseline-session.test.ts
  src/features/editor/transform-resolution/__tests__/model.test.ts
  src/features/editor/transform-resolution/baseline-session.ts
  src/features/editor/transform-resolution/model.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 实现变换浮层组件
  src/components.d.ts
  src/components/editor/TransformOverlay.spec.ts
  src/components/editor/TransformOverlay.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 添加变换浮层核心模型
  src/features/editor/transform-overlay/__tests__/geometry.test.ts
  src/features/editor/transform-overlay/__tests__/model.test.ts
  src/features/editor/transform-overlay/__tests__/useTransformControl.test.ts
  src/features/editor/transform-overlay/geometry.ts
  src/features/editor/transform-overlay/model.ts
  src/features/editor/transform-overlay/useTransformControl.ts
Due: eslint --fix

🐛 修复变换浮层拖拽与键盘提交
  src/components/editor/TransformOverlay.spec.ts
  src/components/editor/TransformOverlay.vue
  src/features/editor/transform-overlay/__tests__/geometry.test.ts
  src/features/editor/transform-overlay/__tests__/useTransformControl.test.ts
  src/features/editor/transform-overlay/geometry.ts
  src/features/editor/transform-overlay/useTransformControl.ts
Due: eslint --fix, stylelint --fix

✨ 实现变换浮层核心交互 (#258)
  src/components.d.ts
  src/components/editor/TransformOverlay.spec.ts
  src/components/editor/TransformOverlay.vue
  src/features/editor/transform-overlay/__tests__/geometry.test.ts
  src/features/editor/transform-overlay/__tests__/model.test.ts
  src/features/editor/transform-overlay/__tests__/useTransformControl.test.ts
  src/features/editor/transform-overlay/geometry.ts
  src/features/editor/transform-overlay/model.ts
  src/features/editor/transform-overlay/useTransformControl.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 建立变换浮层桥接状态
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/features/editor/transform-overlay/context.ts
  src/features/editor/transform-overlay/useTransformOverlayBridge.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

✨ 在编辑器预览中接入变换浮层
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/LeftPanel.vue
  src/components/editor/PreviewPanel.vue
  src/composables/__tests__/usePreviewViewport.test.ts
  src/composables/usePreviewViewport.ts
Due: eslint --fix, stylelint --fix

🐛 修复编辑页测试缺失 i18n 插件
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
