Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

✨ 删除游戏时将文件移入回收站
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/DeleteGameModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix, stylelint --fix

✨ 删除游戏时将文件移入回收站 (#296)
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/DeleteGameModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix, stylelint --fix

✨ 在编辑器状态栏显示资源索引状态
  src/components/editor/EditorStatusBar.spec.ts
  src/components/editor/EditorStatusBar.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 在编辑器状态栏显示资源索引状态 (#297)
  src/components/editor/EditorStatusBar.spec.ts
  src/components/editor/EditorStatusBar.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 命令面板支持自定义常用分类
  src/__tests__/memory-storage.ts
  src/components/editor/CommandPanel.spec.ts
  src/components/editor/CommandPanel.vue
  src/components/editor/CommandPanelCard.spec.ts
  src/components/editor/CommandPanelCard.vue
  src/features/editor/command-panel/__tests__/command-panel.test.ts
  src/features/editor/command-panel/command-panel.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/index.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/app-update.test.ts
  src/stores/__tests__/command-panel.test.ts
  src/stores/__tests__/storage-settings.test.ts
  src/stores/__tests__/tabs.test.ts
  src/stores/command-panel.ts
Due: eslint --fix, stylelint --fix

✅ 修正命令面板收藏按钮测试定位
  src/components/editor/CommandPanel.spec.ts
Due: eslint --fix

✨ 命令面板支持自定义常用分类 (#298)
  src/__tests__/memory-storage.ts
  src/components/editor/CommandPanel.spec.ts
  src/components/editor/CommandPanel.vue
  src/components/editor/CommandPanelCard.spec.ts
  src/components/editor/CommandPanelCard.vue
  src/features/editor/command-panel/__tests__/command-panel.test.ts
  src/features/editor/command-panel/command-panel.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/index.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/app-update.test.ts
  src/stores/__tests__/command-panel.test.ts
  src/stores/__tests__/storage-settings.test.ts
  src/stores/__tests__/tabs.test.ts
  src/stores/command-panel.ts
Due: eslint --fix, stylelint --fix

✨ 支持对话说话人自动补全
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorInline.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/features/editor/command-registry/schema.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
  src/features/editor/statement-editor/useStatementEditor.ts
Due: eslint --fix, stylelint --fix

🐛 修复自动补全内嵌样式
  src/components.d.ts
  src/components/editor/StatementEditorInline.vue
  src/components/editor/StatementEditorPanel.vue
  src/components/primitives/Autocomplete.spec.ts
  src/components/primitives/Autocomplete.vue
  src/components/ui/input-group/InputGroupAutocomplete.spec.ts
  src/components/ui/input-group/InputGroupAutocomplete.vue
  src/components/ui/input-group/index.ts
  src/components/ui/input/Input.vue
  src/components/ui/input/index.ts
Due: eslint --fix, stylelint --fix

✨ 支持对话说话人自动补全 (#299)
  src/components.d.ts
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorInline.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/components/primitives/Autocomplete.spec.ts
  src/components/primitives/Autocomplete.vue
  src/components/ui/input-group/InputGroupAutocomplete.spec.ts
  src/components/ui/input-group/InputGroupAutocomplete.vue
  src/components/ui/input-group/index.ts
  src/components/ui/input/Input.vue
  src/components/ui/input/index.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
  src/features/editor/statement-editor/useStatementEditor.ts
Due: eslint --fix, stylelint --fix

✨ 明确 Android 文件永久删除语义
  src/components/modals/DeleteFileModal.spec.ts
  src/components/modals/DeleteFileModal.vue
  src/components/modals/DeleteGameModal.spec.ts
  src/components/modals/DeleteGameModal.vue
  src/features/modals/game-config/icon-editor/__tests__/icon-editor-render.test.ts
  src/features/modals/game-config/icon-editor/icon-editor-export.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix, stylelint --fix

✨ 完善 Android 平板运行时适配
  index.html
  src-tauri/tauri.android.conf.json
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/ui/alert-dialog/AlertDialogContent.vue
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
  src/layouts/default.vue
  src/services/platform/__tests__/runtime.test.ts
  src/services/platform/runtime.ts
  src/styles/main.css
Due: eslint --fix, stylelint --fix

🐛 修复 Android 系统栏遮挡
  src-tauri/gen/android/app/src/main/AndroidManifest.xml
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/MainActivity.kt
  src/components/ui/alert-dialog/AlertDialogContent.vue
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
  src/layouts/default.vue
  src/styles/main.css
Due: eslint --fix, stylelint --fix

📝 记录 Android 构建与支持范围
  .github/CONTRIBUTING.md
Due: none

⬆️ 更新 Tauri 依赖版本
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

🚀 发布 Android arm64 安装包
  .github/CONTRIBUTING.md
  .github/workflows/release.yml
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/tauri.android.conf.json
Due: none

🧪 复用路径规则测试的 ESLint 实例
  src/services/__tests__/path-lint.test.ts
Due: eslint --fix

🔨 添加 Android 开发和构建脚本
  .github/CONTRIBUTING.md
  package.json
Due: none

♻️ 移除 Android 主页游戏卡片删除按钮
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复永久删除游戏的数据一致性
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 区分文件删除与刷新失败
  src/components/modals/DeleteFileModal.spec.ts
  src/components/modals/DeleteFileModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💄 支持任意触控指针的按钮尺寸
  src/styles/main.css
Due: stylelint --fix

[ImgBot] Optimize images
  public/webgal-craft-logo.svg
  public/webgal-craft-text.svg
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/android/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher_round.png
  src-tauri/icons/icon.png
  src-tauri/icons/ios/AppIcon-512@2x.png
  src-tauri/icons/ios/AppIcon-60x60@3x.png
Due: none

✨ 实现 Android SAF 目录物化
  src-tauri/gen/android/app/src/main/AndroidManifest.xml
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/ResourceImportPaths.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/ResourceImportPlugin.kt
  src-tauri/gen/android/app/src/main/res/xml/backup_rules.xml
  src-tauri/gen/android/app/src/main/res/xml/data_extraction_rules.xml
  src-tauri/gen/android/app/src/test/java/com/akirami/webgalcraft/ResourceImportPathsTest.kt
  src-tauri/src/lib.rs
  src-tauri/src/resource_import.rs
  src/features/resource-import/__tests__/android-directory-materializer.test.ts
  src/features/resource-import/android-directory-materializer.ts
Due: eslint --fix

♻️ 建立 Android 托管目录导入边界
  src/features/resource-import/__tests__/desktop-directory-picker.test.ts
  src/features/resource-import/desktop-directory-picker.ts
  src/features/resource-import/directory-materializer.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/template-manager.ts
Due: eslint --fix

✨ 接入主页托管资源导入流程
  src/components.d.ts
  src/components/home/ManagedImportStatus.vue
  src/components/home/WelcomeSection.vue
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTab.vue
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/components/home/templates-tab/TemplatesTab.vue
  src/components/home/templates-tab/TemplatesTabCollectionSection.vue
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/resource-import-workflows.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/managed-import.ts
  src/types/errors.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

✨ 统一 Android 托管资源根目录
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/CreateGameModal.vue
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/fields/FolderPickerField.vue
  src/features/modals/create-game/__tests__/useCreateGameForm.test.ts
  src/features/modals/create-game/useCreateGameForm.ts
  src/features/resource-import/desktop-directory-picker.ts
  src/features/settings/schema.ts
  src/features/settings/storage-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/platform/__tests__/storage-defaults.test.ts
  src/services/platform/managed-resource-roots.ts
  src/services/platform/storage-defaults.ts
Due: eslint --fix, stylelint --fix

✨ 支持 Android 游戏托管重定位
  src/components/modals/RecoverGameModal.vue
  src/features/resource-import/__tests__/game-recovery-workflow.test.ts
  src/features/resource-import/game-recovery-workflow.ts
Due: eslint --fix, stylelint --fix

✨ 恢复未完成的 Android 托管任务
  src/App.vue
  src/features/app-startup/__tests__/app-startup.test.ts
  src/features/app-startup/app-startup.ts
  src/features/resource-import/__tests__/managed-import-recovery.test.ts
  src/features/resource-import/managed-import-recovery.ts
Due: eslint --fix, stylelint --fix

🐛 修正 Android 托管任务恢复判断
  src/features/resource-import/managed-import-recovery.ts
Due: eslint --fix

♻️ 精简 Android 托管导入边界
  src-tauri/src/lib.rs
  src/components/home/ManagedImportStatus.vue
  src/components/home/WelcomeSection.vue
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/games-tab/GamesTab.vue
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/components/home/templates-tab/TemplatesTab.vue
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/templates-tab/useTemplatesTabController.ts
  src/features/resource-import/__tests__/game-recovery-workflow.test.ts
  src/features/resource-import/__tests__/managed-import-recovery.test.ts
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/android-directory-materializer.ts
  src/features/resource-import/desktop-directory-picker.ts
  src/features/resource-import/game-recovery-workflow.ts
  src/features/resource-import/managed-import-recovery.ts
  src/features/resource-import/resource-import-workflows.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/template-manager.ts
  src/stores/managed-import.ts
  src/types/managed-import.ts
Due: eslint --fix, stylelint --fix

🐛 修复 Android 引擎缩略图路径
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

♻️ 收口 Android 托管导入平台边界
  src-tauri/gen/android/app/src/androidTest/java/com/akirami/webgalcraft/ManagedDirectoryImportInstrumentationTest.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/ManagedStoragePaths.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/ResourceImportPlugin.kt
  src-tauri/gen/android/app/src/test/java/com/akirami/webgalcraft/ManagedStoragePathsTest.kt
  src-tauri/gen/android/app/src/test/java/com/akirami/webgalcraft/ResourceImportPathsTest.kt
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/resource_import.rs
  src-tauri/src/lib.rs
  src-tauri/src/mobile/managed_directory_import.rs
  src-tauri/src/mobile/mod.rs
  src-tauri/src/resource_import.rs
  src/commands/__tests__/resource-import.test.ts
  src/commands/resource-import.ts
  src/features/resource-import/__tests__/android-directory-materializer.test.ts
  src/features/resource-import/__tests__/desktop-directory-picker.test.ts
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/android-directory-materializer.ts
  src/features/resource-import/desktop-directory-picker.ts
  src/services/platform/managed-resource-roots.ts
Due: eslint --fix

🐛 修复 Android 托管目录导入插件编译错误
  src-tauri/src/mobile/managed_directory_import.rs
Due: none

🐛 拒绝无效的托管恢复操作
  src/commands/__tests__/resource-import.test.ts
  src/commands/resource-import.ts
Due: eslint --fix

🐛 修复托管导入状态的语言切换
  src/components/home/ManagedImportStatus.vue
Due: eslint --fix, stylelint --fix

🐛 修复 Android 游戏恢复路径
  src/components/modals/RecoverGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 隔离托管导入清理和回调异常
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
  src/features/resource-import/resource-import-workflows.ts
Due: eslint --fix
