Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🚨 修复 lint 错误
  src/components/editor/FileEditor.spec.ts
  src/components/file-viewer/FileViewer.spec.ts
Due: eslint --fix

🐛 修复报告问题
  src/services/__tests__/game-manager.test.ts
  src/stores/preview-runtime.ts
Due: eslint --fix

🐛 修复报告问题
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/fields/FolderPickerField.vue
  src/components/settings/form/fields/SwitchField.vue
  src/features/settings/__tests__/schema.test.ts
  src/features/settings/schema.ts
Due: eslint --fix, stylelint --fix

🐛 补充修复问题
  src/components/settings/form/fields/FolderPickerField.vue
Due: eslint --fix, stylelint --fix

💄 移除设置中主题控件的聚焦边框
  src/components/settings/GeneralSettings.vue
Due: eslint --fix, stylelint --fix

👷 收拢构建工件评论采集逻辑并修复异常工作流提示
  .github/workflows/build.yml
  .github/workflows/pr-artifact-comment.yml
  scripts/collectArtifactCommentData.js
  scripts/formatArtifactComment.js
  src/utils/__tests__/artifact-comment.test.ts
  src/utils/__tests__/collect-artifact-comment-data.test.ts
Due: eslint --fix

✨ 增强 FileViewer 的悬停预览、右键菜单与重命名体验
  src/components.d.ts
  src/components/editor/AssetPanel.spec.ts
  src/components/editor/AssetPanel.vue
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTreeContextMenu.vue
  src/components/editor/FileTreeContextMenuContent.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/components/file-viewer/FileViewerImageHoverCard.vue
  src/components/file-viewer/FileViewerItemContextMenu.vue
  src/components/file-viewer/fileViewerImageDimensions.ts
  src/components/ui/hover-card/HoverCard.vue
  src/components/ui/hover-card/HoverCardContent.spec.ts
  src/components/ui/hover-card/HoverCardContent.vue
  src/components/ui/hover-card/HoverCardTrigger.vue
  src/components/ui/hover-card/index.ts
  src/composables/__tests__/useFileSystemEvents.test.ts
  src/composables/useFileSystemEvents.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复资源面板静默刷新后的 loading 残留
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
Due: eslint --fix, stylelint --fix

🐛 修复搜索过滤下新建目录无法重命名
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

✨ 重命名时高亮选中项
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
Due: eslint --fix, stylelint --fix

✨ 自动宽度的重命名输入框
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

♻️ 抽离 AssetView 资源列表加载调度逻辑
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/__tests__/asset-view-load.test.ts
  src/components/editor/__tests__/useAssetViewItemsLoader.test.ts
  src/components/editor/asset-view-load.ts
  src/components/editor/useAssetViewItemsLoader.ts
Due: eslint --fix, stylelint --fix

💄 移除图片加载完成后的透明度淡入动画
  src/components/file-viewer/FileViewerImageHoverCard.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerImageHoverCard.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/AssetView.spec.ts
Due: eslint --fix

🐛 修复文本编辑器多编辑目标时的语句编辑状态
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/features/editor/shared/useEditorPanelBindings.ts
  src/features/editor/text-editor/__tests__/text-editor-selection.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/text-editor-selection.ts
  src/features/editor/text-editor/useTextEditorBindings.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/features/editor/text-editor/__tests__/text-editor-selection.test.ts
  src/features/editor/text-editor/__tests__/useTextEditorBindings.test.ts
  src/features/editor/text-editor/text-editor-selection.ts
  src/features/editor/text-editor/useTextEditorRuntime.ts
Due: eslint --fix

✨ 支持效果编辑器字段级清除与局部重置
  src/components/editor/EditorPanel.vue
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/effect-draft-form.test.ts
  src/features/editor/effect-editor/__tests__/useEffectClearControls.test.ts
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/__tests__/useStatementEffectEditorBridge.test.ts
  src/features/editor/effect-editor/effect-draft-form.ts
  src/features/editor/effect-editor/effect-editor-result.ts
  src/features/editor/effect-editor/useEffectClearControls.ts
  src/features/editor/effect-editor/useEffectEditorDialog.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
  src/features/editor/text-editor/__tests__/text-editor-scene-sync.test.ts
  src/features/editor/text-editor/text-editor-scene-sync.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 实现游戏配置封面图与启动图控件
  src/components.d.ts
  src/components/file-picker/FilePicker.vue
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/CoverImagePicker.spec.ts
  src/components/modals/game-config/CoverImagePicker.vue
  src/components/modals/game-config/StartupImagesPicker.spec.ts
  src/components/modals/game-config/StartupImagesPicker.vue
  src/features/file-picker/__tests__/useFilePickerController.test.ts
  src/features/file-picker/useFilePickerController.ts
  src/features/modals/game-config/__tests__/game-config-images.test.ts
  src/features/modals/game-config/game-config-images.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 收拢 FileViewer 缩略图职责并修复 SVG 悬停预览报错
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-picker/FilePicker.spec.ts
  src/components/file-picker/FilePicker.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerImageHoverCard.vue
  src/components/file-viewer/fileViewerImageDimensions.ts
Due: eslint --fix, stylelint --fix

♻️ 收拢首页 tab 结构并统一资源集合展示与导入链路
  src/components/home/SearchView.vue
  src/components/home/WelcomeSection.vue
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/games-tab/GamesTab.vue
  src/components/home/games-tab/GamesTabCollectionSection.spec.ts
  src/components/home/games-tab/GamesTabCollectionSection.vue
  src/features/home/__tests__/home-tabs.test.ts
  src/features/home/engines-tab/__tests__/engines-tab.test.ts
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/engines-tab.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/games-tab/__tests__/games-tab.test.ts
  src/features/home/games-tab/__tests__/useGamesTabController.test.ts
  src/features/home/games-tab/games-tab.ts
  src/features/home/games-tab/useGamesTabController.ts
  src/features/home/home-collection-items.ts
  src/features/home/home-tabs.ts
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/__tests__/useHomeResourceImportActions.test.ts
  src/features/home/shared/home-resource-import.ts
  src/features/home/shared/useHomeResourceImportActions.ts
  src/features/home/useDiscoverResources.ts
  src/stores/workspace.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

✨ 支持资源文件浏览器创建文件并收敛 FileTree 默认文件名 parts
  src/components/editor/AssetPanel.spec.ts
  src/components/editor/AssetPanel.vue
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTree.vue
  src/components/editor/ScenePanel.vue
  src/components/editor/__tests__/asset-file-defaults.test.ts
  src/components/editor/asset-file-defaults.ts
  src/features/editor/file-tree/__tests__/file-tree.test.ts
  src/features/editor/file-tree/__tests__/useFileTreeController.test.ts
  src/features/editor/file-tree/file-tree.ts
  src/features/editor/file-tree/useFileTreeController.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 移除目录右键菜单的创建文件入口
  src/components/editor/AssetView.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/asset-file-defaults.ts
Due: eslint --fix

✨ 完善游戏配置表单并重构配置保存链路
  src-tauri/src/commands/game.rs
  src/commands/game.ts
  src/components.d.ts
  src/components/editor/EditHeader.spec.ts
  src/components/editor/EditHeader.vue
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/GameConfigModal.vue
  src/components/modals/game-config/GameConfigFieldsSection.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/components/modals/game-config/GameLogoPicker.spec.ts
  src/components/modals/game-config/GameLogoPicker.vue
  src/components/modals/game-config/StartupImagesPicker.vue
  src/components/modals/game-config/TitleImgPicker.spec.ts
  src/components/modals/game-config/TitleImgPicker.vue
  src/features/editor/preview/preview-panel.ts
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/__tests__/game-config-images.test.ts
  src/features/modals/game-config/game-config-form.ts
  src/features/modals/game-config/game-config-images.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/config-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/config-manager.ts
  src/services/game-manager.ts
Due: eslint --fix, stylelint --fix

🐛 禁止在游戏配置中保存空游戏名
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/features/modals/game-config/__tests__/game-config-form.test.ts
  src/features/modals/game-config/game-config-form.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 屏蔽游戏简介中的换行输入
  src-tauri/src/commands/game.rs
  src/components/modals/GameConfigModal.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src-tauri/src/commands/game.rs
  src/components/modals/game-config/GameConfigFieldsSection.vue
  src/components/modals/game-config/TitleImgPicker.vue
Due: eslint --fix, stylelint --fix

🔧 修改测试用 tsconfig
  package.json
  tsconfig.json
  tsconfig.test.json
Due: none

🔧 合并 tsconfig
  package.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.tooling.json
Due: none

🐛 修复创建游戏表单未输入游戏名称时的必填校验
  src/features/modals/create-game/__tests__/useCreateGameForm.test.ts
  src/features/modals/create-game/useCreateGameForm.ts
Due: eslint --fix

✨ 支持通过文件系统事件自动同步动画索引文件
  src/features/editor/animation/__tests__/useAnimationTableSyncBootstrap.test.ts
  src/features/editor/animation/useAnimationTableSyncBootstrap.ts
  src/services/__tests__/animation-table-sync.test.ts
  src/services/animation-table-sync.ts
  src/stores/__tests__/file.test.ts
  src/stores/file.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

♻️ 报告问题改进
  src/features/editor/animation/__tests__/useAnimationTableSyncBootstrap.test.ts
  src/features/editor/animation/useAnimationTableSyncBootstrap.ts
  src/stores/file.ts
Due: eslint --fix

🐛 修复报告问题
  src/features/editor/animation/__tests__/useAnimationTableSyncBootstrap.test.ts
  src/features/editor/animation/useAnimationTableSyncBootstrap.ts
  src/features/editor/statement-editor/__tests__/useEditorDynamicOptionsBootstrap.test.ts
  src/features/editor/statement-editor/useEditorDynamicOptionsBootstrap.ts
Due: eslint --fix

🧪 为 Rust 命令层补充单元测试覆盖
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/window.rs
Due: none

👷 添加 Rust 测试 CI
  .github/workflows/rust-test.yml
  package.json
Due: none

🐛 测试时锁定依赖版本
  .github/workflows/rust-test.yml
  package.json
Due: none

✨ 模板文件保存后刷新预览模板
  src/stores/__tests__/editor.test.ts
  src/stores/editor.ts
  src/stores/internal/editor-document-save.ts
Due: eslint --fix

🐛 修复报告问题
  src/stores/__tests__/editor.test.ts
  src/stores/editor.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
