Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

♻️ 引擎安装后不再更新元数据
  src/services/engine-manager.ts
Due: eslint --fix

✨ 通过 manifest 文件读取引擎信息 (#19)
  src/services/engine-manager.ts
Due: eslint --fix

✨ 创建游戏弹窗增加默认选择
  src/components/modals/CreateGameModal.vue
Due: eslint --fix, stylelint --fix

🐛 仅当编辑场景文件时触发 webgal 脚本补全
  src/components/edit/TextEditor.vue
Due: eslint --fix, stylelint --fix

♻️ 重构脚本补全解析流程
  src/plugins/editor/index.ts
Due: eslint --fix

✨ 创建游戏弹窗增加默认选择 (#21)
  src/components/modals/CreateGameModal.vue
Due: eslint --fix, stylelint --fix

♻️ 重构部分补全逻辑
  src/plugins/editor/index.ts
Due: eslint --fix

🌐 为代码补全添加国际化支持
  eslint.config.js
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
  src/plugins/editor/completion/webgal-commands.ts
  src/plugins/i18n.ts
Due: eslint --fix

🔊 调整未实现文件补全命令的日志等级与格式
  src/plugins/editor/index.ts
Due: eslint --fix

✨ 新增文本编辑器补全 (#20)
  bun.lock
  eslint.config.js
  package.json
  src/auto-imports.d.ts
  src/components/edit/TextEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
  src/plugins/editor/completion/webgal-commands.ts
  src/plugins/editor/index.ts
  src/plugins/i18n.ts
  src/utils/webgal-parser.ts
Due: eslint --fix, stylelint --fix

✨ 实现关于模态框
  src/auto-imports.d.ts
  src/components/home/AppHeader.vue
  src/components/modals/AboutModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/info-build-meta.d.ts
  src/utils/metadata.ts
Due: eslint --fix, stylelint --fix

♻️ 自动导入 `getVersion`
  src/components/modals/AboutModal.vue
Due: eslint --fix, stylelint --fix

✨ 实现关于模态框 (#22)
  src/auto-imports.d.ts
  src/components/home/AppHeader.vue
  src/components/modals/AboutModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/info-build-meta.d.ts
  src/utils/metadata.ts
Due: eslint --fix, stylelint --fix

♻️ 将 FileEditor 中的动态组件改为条件渲染
  src/components/edit/FileEditor.vue
Due: eslint --fix, stylelint --fix

♻️ 将 FileEditor 中的动态组件改为条件渲染 (#23)
  src/components/edit/FileEditor.vue
Due: eslint --fix, stylelint --fix

🔧 重新组织 tsconfig.json 配置选项
  tsconfig.json
Due: none

🔧 重新组织 tsconfig.json 配置选项 (#24)
  tsconfig.json
Due: none

🔧 优化 package.json 脚本配置
  package.json
Due: none

🔧 优化 package.json 脚本配置 (#25)
  package.json
Due: none

🔧 将 Stylelint 配置迁移到 ES 模块
  .stylelintrc
  stylelint.config.js
  tsconfig.json
Due: eslint --fix

🔧 将 Stylelint 配置迁移到 ES 模块 (#26)
  .stylelintrc
  stylelint.config.js
  tsconfig.json
Due: eslint --fix

⬆️ 更新项目依赖
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/typed-router.d.ts
Due: eslint --fix

♻️ 优化标题栏布局
  src/components/AppTitlebar.vue
Due: eslint --fix, stylelint --fix

♻️ 改进标题栏
  src/components/AppTitlebar.vue
  src/components/modals/AboutModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 优化标题栏布局 (#27)
  src/components/AppTitlebar.vue
  src/components/modals/AboutModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

💄 优化 WebGAL Craft Logo 图像渲染
  eslint.config.js
  public/webgal-craft-text.svg
  src/components/home/AppHeader.vue
Due: eslint --fix, stylelint --fix

♿️ 改进无障碍性
  src/components/home/AppHeader.vue
Due: eslint --fix, stylelint --fix

🔧 改进 eslint 配置
  eslint.config.js
Due: eslint --fix

💄 优化 WebGAL Craft Logo 图像渲染 (#28)
  eslint.config.js
  public/webgal-craft-text.svg
  src/components/home/AppHeader.vue
Due: eslint --fix, stylelint --fix

🐛 修复 Windows 窗口控制按钮颜色
  src/components/ui/controls/WindowControlsWindows.vue
Due: eslint --fix, stylelint --fix

🐛 修复 Windows 窗口控制按钮颜色 (#29)
  src/components/ui/controls/WindowControlsWindows.vue
Due: eslint --fix, stylelint --fix

♻️ 移除不需要的补全触发逻辑
  src/components/edit/TextEditor.vue
  src/plugins/editor/index.ts
Due: eslint --fix, stylelint --fix

♻️ 移除不需要的补全触发逻辑 (#30)
  src/components/edit/TextEditor.vue
  src/plugins/editor/index.ts
Due: eslint --fix, stylelint --fix

♻️ 重构文件系统事件处理并添加事件总线机制
  src/auto-imports.d.ts
  src/composables/useFileSystemEvents.ts
  src/stores/file.ts
Due: eslint --fix

🐛 修复 useFileSystemEvents 中 off 方法无法正确取消订阅的问题
  src/composables/useFileSystemEvents.ts
Due: eslint --fix

♻️ 重构文件系统事件处理并添加事件总线机制 (#31)
  src/auto-imports.d.ts
  src/composables/useFileSystemEvents.ts
  src/stores/file.ts
Due: eslint --fix

✨ 编辑器集成文件系统事件监听
  src/components/edit/TextEditor.vue
  src/stores/editor.ts
  src/stores/tabs.ts
Due: eslint --fix, stylelint --fix

✨ 编辑器集成文件系统事件监听 (#32)
  src/components/edit/TextEditor.vue
  src/stores/editor.ts
  src/stores/tabs.ts
Due: eslint --fix, stylelint --fix

♻️ 重构场景面板
  eslint.config.js
  src-tauri/capabilities/default.json
  src-tauri/src/commands/fs.rs
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/commands/fs.ts
  src/components.d.ts
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/ScenePanel.vue
  src/components/home/GamesTab.vue
  src/components/modals/DeleteFileModal.vue
  src/components/ui/context-menu/ContextMenuContent.vue
  src/components/ui/context-menu/ContextMenuItem.vue
  src/components/ui/tree/Tree.vue
  src/components/ui/tree/TreeItem.vue
  src/components/ui/tree/TreeItemLabel.vue
  src/components/ui/tree/index.ts
  src/composables/useFileClipboard.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/editor-ui-state.ts
  src/stores/file.ts
  src/stores/modal.ts
  src/stores/preference.ts
  src/views/edit/[gameId].vue
  unocss.config.ts
Due: eslint --fix, stylelint --fix

🌐 完善国际化支持
  src/components/edit/FileTreeContextMenu.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix
