Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复报告问题
  src/helper/__tests__/asset-url.test.ts
  src/helper/asset-url.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
Due: eslint --fix

🐛 修复文本编辑器换行后「执行到此句」按钮残留
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
Due: eslint --fix, stylelint --fix

🐛 修复 say 语句连续编辑时角色名丢失
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/__tests__/command-node-update-speaker.test.ts
  src/domain/script/codec.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
Due: eslint --fix

🐛 修复空 say 语句退化为注释并收拢 StatementEditor 更新链路
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/serialize.test.ts
  src/domain/script/codec.ts
  src/domain/script/serialize.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorContent.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementEditorContent.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
Due: eslint --fix

🐛 修复文件树快捷键优先作用于焦点项
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
Due: eslint --fix, stylelint --fix

🐛 修复动画编辑器输入框撤销重做被劫持
  src/components/editor/VisualEditorAnimation.spec.ts
  src/components/editor/VisualEditorAnimation.vue
Due: eslint --fix, stylelint --fix

🐛 修复可视化场景重排后预览不同步
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
  src/features/editor/visual-editor/useVisualEditorSceneRuntime.ts
Due: eslint --fix

🐛 修复 Ctrl+S 保存失败未静默处理
  src/features/editor/shortcut/__tests__/definitions.test.ts
  src/features/editor/shortcut/definitions.ts
Due: eslint --fix

✏️ 将新增快捷键测试标题统一为中文
  src/features/editor/shortcut/__tests__/definitions.test.ts
  src/features/editor/shortcut/__tests__/dispatcher.test.ts
  src/features/editor/shortcut/__tests__/shortcut-context-registry.test.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/visual-editor/__tests__/useVisualEditorSceneRuntime.test.ts
Due: eslint --fix

🐛 修复报告问题
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
  src/features/editor/shortcut/__tests__/dispatcher.test.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/shortcut/dispatcher.ts
  src/features/editor/shortcut/keys.ts
  src/features/editor/shortcut/useShortcutContext.ts
Due: eslint --fix, stylelint --fix

🐛 补充修复问题
  src/components/editor/LeftPanel.vue
  src/features/editor/animation/__tests__/useVisualEditorAnimation.test.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
  src/features/editor/shortcut/__tests__/dispatcher.test.ts
  src/features/editor/shortcut/dispatcher.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/editor/LeftPanel.spec.ts
  src/components/editor/LeftPanel.vue
Due: eslint --fix, stylelint --fix

🩹 修复 browser 测试默认 Pinia 注入
  src/__tests__/browser-render.test.ts
  src/__tests__/browser-render.ts
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/TextEditor.spec.ts
Due: eslint --fix

🐛 修复问题
  src/__tests__/browser-render.ts
  vite.config.ts
Due: eslint --fix

✨ 辅助面板支持图片、视频与音频媒体预览
  bun.lock
  package.json
  src-tauri/src/commands/server.rs
  src/components.d.ts
  src/components/editor/StatementAssetPreview.spec.ts
  src/components/editor/StatementAssetPreview.vue
  src/components/editor/StatementAudioPreview.spec.ts
  src/components/editor/StatementAudioPreview.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/features/editor/statement-editor/__tests__/panel.test.ts
  src/features/editor/statement-editor/panel.ts
Due: eslint --fix, stylelint --fix

🐛 修复静态预览服务遗漏 tauri 打包 origin
  src-tauri/src/commands/server.rs
Due: none

⚡ 延迟加载辅助面板音频预览资源
  src/components/editor/StatementAudioPreview.spec.ts
  src/components/editor/StatementAudioPreview.vue
Due: eslint --fix, stylelint --fix

🐛 补齐 say 语句的 vocal 媒体预览
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
Due: eslint --fix, stylelint --fix

💄 调整音频波形颜色
  src/components/editor/StatementAudioPreview.spec.ts
  src/components/editor/StatementAudioPreview.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src-tauri/src/commands/server.rs
  src/components/editor/StatementAudioPreview.spec.ts
  src/components/editor/StatementAudioPreview.vue
  src/components/editor/StatementEditorPanel.spec.ts
Due: eslint --fix, stylelint --fix

🚨 修复 rust lint
  src-tauri/src/commands/server.rs
Due: none

🐛 补充修复问题
  src/__tests__/mocks/i18n.ts
  src/components/editor/StatementAudioPreview.spec.ts
  src/components/editor/StatementAudioPreview.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复预览静态资源缓存策略
  src-tauri/src/commands/server.rs
Due: none

🐛 刷新游戏预览资源缓存版本
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
Due: eslint --fix

♻️ 落地设置页 schema 驱动表单
  src/components.d.ts
  src/components/settings/EditSettings.vue
  src/components/settings/GeneralSettings.spec.ts
  src/components/settings/GeneralSettings.vue
  src/components/settings/PreviewSettings.vue
  src/components/settings/StorageSettings.vue
  src/components/settings/form/SettingsField.vue
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/SettingsForm.vue
  src/components/settings/form/fields/FolderPickerField.vue
  src/components/settings/form/fields/InputField.vue
  src/components/settings/form/fields/NumberInputField.vue
  src/components/settings/form/fields/SelectField.vue
  src/components/settings/form/fields/SwitchField.vue
  src/features/editor/command-registry/schema.ts
  src/features/settings/__tests__/schema.test.ts
  src/features/settings/edit-settings.ts
  src/features/settings/general-settings.ts
  src/features/settings/preview-settings.ts
  src/features/settings/schema.ts
  src/features/settings/storage-settings.ts
  src/stores/__tests__/general-settings.test.ts
  src/stores/edit-settings.ts
  src/stores/general-settings.ts
  src/stores/preview-settings.ts
  src/stores/storage-settings.ts
  src/utils/__tests__/i18n-like.test.ts
  src/utils/i18n-like.ts
Due: eslint --fix, stylelint --fix

🐛 修复设置表单回写覆盖主题设置
  src/components/settings/form/SettingsForm.vue
  src/composables/__tests__/useSettingsForm.test.ts
  src/composables/useSettingsForm.ts
  src/features/settings/schema.ts
Due: eslint --fix, stylelint --fix

🐛 修复主题切换单选组语义丢失
  src/components/settings/GeneralSettings.spec.ts
  src/components/settings/GeneralSettings.vue
Due: eslint --fix, stylelint --fix

🐛 文件视图接入 HTTP 缩略图并稳定集成测试
  integration/playwright.config.ts
  integration/support/editor-flow.ts
  integration/support/mock-tauri.ts
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

🐛 为发现资源图标恢复固定缩略图尺寸
  src/components/editor/AssetPanel.vue
  src/components/modals/DiscoveredResourcesModal.spec.ts
  src/components/modals/DiscoveredResourcesModal.vue
Due: eslint --fix, stylelint --fix

🐛 为发现资源图标补充可见回退图
  src/components/modals/DiscoveredResourcesModal.spec.ts
  src/components/modals/DiscoveredResourcesModal.vue
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/__tests__/factories.test.ts
  src/__tests__/factories.ts
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerBody.vue
  src/components/modals/DiscoveredResourcesModal.spec.ts
  src/components/modals/DiscoveredResourcesModal.vue
  src/components/shared/AssetImage.spec.ts
  src/components/shared/AssetImage.vue
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/composables/useResourcePreviewPrimer.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-manager.test.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/preview-runtime.ts
Due: eslint --fix, stylelint --fix

🐛 修复设置页 Select 字段可访问性绑定
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/fields/SelectField.vue
Due: eslint --fix, stylelint --fix

🐛 修复浏览器测试
  src/__tests__/mocks/tauri-path.test.ts
  src/__tests__/mocks/tauri-path.ts
  src/components/editor/AssetView.spec.ts
  src/components/editor/FileEditor.spec.ts
  src/components/editor/FileTree.spec.ts
  src/components/editor/ScenePanel.spec.ts
  src/components/file-picker/FilePicker.spec.ts
  vite.config.ts
Due: eslint --fix

🐛 修复报告问题
  src/__tests__/factories.test.ts
  src/__tests__/factories.ts
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerBody.vue
  src/components/modals/DiscoveredResourcesModal.spec.ts
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/preview-runtime.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/__tests__/factories.test.ts
  src/__tests__/factories.ts
  src/components/editor/FileEditor.spec.ts
  src/components/editor/FileTree.spec.ts
  src/components/editor/ScenePanel.spec.ts
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewerBody.vue
  src/services/__tests__/game-manager.test.ts
  src/services/game-manager.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/preview-runtime.ts
Due: eslint --fix, stylelint --fix
