Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

✨ 支持适应 mygo 引擎的自定义舞台分辨率的预览窗口宽高比
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 自动更新游戏最后修改时间
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/TextEditor.vue
  src/components/modals/CreateFileModal.vue
  src/components/modals/DeleteFileModal.vue
  src/services/config-manager.ts
  src/services/game-manager.ts
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

🐛 修复参数名
  src-tauri/src/lib.rs
Due: none

🐛 将 GPU 加速参数限制为仅在 Windows 平台使用
  src-tauri/src/lib.rs
Due: none

🚩 添加强制使用高性能 GPU 的浏览器参数 (#47)
  src-tauri/src/lib.rs
Due: none

✨ 自动更新游戏最后修改时间 (#48)
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/TextEditor.vue
  src/components/modals/CreateFileModal.vue
  src/components/modals/DeleteFileModal.vue
  src/services/config-manager.ts
  src/services/game-manager.ts
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

♻️ 改进实现
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 支持自定义分辨率的预览窗口宽高比 (#49)
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 实现启动时自动打开最后编辑的项目
  src/App.vue
  src/components/edit/EditHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 改进代码
  src/App.vue
Due: eslint --fix, stylelint --fix

✨ 实现启动时自动打开最后编辑的项目 (#50)
  src/App.vue
  src/components/edit/EditHeader.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 优化预览面板宽高比计算逻辑
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 优化预览面板宽高比计算逻辑 (#51)
  src/components/edit/PreviewPanel.vue
Due: eslint --fix, stylelint --fix

✨ 抽离窗口配置并新增创建窗口命令
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src-tauri/src/window.rs
  src/auto-imports.d.ts
  src/commands/window.ts
Due: eslint --fix

♻️ 重构实现
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
  src/commands/window.ts
Due: eslint --fix

✨ 抽离窗口配置并新增创建窗口命令 (#52)
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src-tauri/src/window.rs
  src/auto-imports.d.ts
  src/commands/window.ts
Due: eslint --fix

✨ 新增测试游戏窗口
  src-tauri/capabilities/default.json
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/window.rs
  src/commands/window.ts
  src/components/edit/EditHeader.vue
  src/components/edit/PreviewPanel.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/editor.ts
  src/stores/workspace.ts
  src/utils/index.ts
Due: eslint --fix, stylelint --fix

♻️ 应用建议
  src-tauri/src/commands/window.rs
  src/components/edit/EditHeader.vue
Due: eslint --fix, stylelint --fix

✨ 退出编辑页时自动关闭测试窗口
  src/components/edit/EditHeader.vue
Due: eslint --fix, stylelint --fix

✨ 新增测试游戏窗口 (#53)
  src-tauri/capabilities/default.json
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/window.rs
  src/commands/window.ts
  src/components/edit/EditHeader.vue
  src/components/edit/PreviewPanel.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/editor.ts
  src/stores/workspace.ts
  src/utils/index.ts
Due: eslint --fix, stylelint --fix

♻️ 引入 gameFs 并防抖更新 lastModified
  src/auto-imports.d.ts
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/TextEditor.vue
  src/components/modals/CreateFileModal.vue
  src/components/modals/DeleteFileModal.vue
  src/services/config-manager.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

♻️ 应用建议
  src/services/game-manager.ts
Due: eslint --fix

♻️ 重构文件操作流程，防抖更新游戏 lastModified (#54)
  src/auto-imports.d.ts
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/TextEditor.vue
  src/components/modals/CreateFileModal.vue
  src/components/modals/DeleteFileModal.vue
  src/services/config-manager.ts
  src/services/game-fs.ts
  src/services/game-manager.ts
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

♻️ 抽取统一的路径工具并替换引用
  src/App.vue
  src/auto-imports.d.ts
  src/components/edit/AssetView.vue
  src/components/edit/ScenePanel.vue
  src/components/modals/CreateFileModal.vue
  src/plugins/editor/index.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/utils/app-paths.ts
Due: eslint --fix, stylelint --fix

♻️ 应用建议
  src/auto-imports.d.ts
  src/stores/editor.ts
  src/utils/app-paths.ts
Due: eslint --fix

♻️ 抽取 app 路径工具并统一路径拼接 (#55)
  src/App.vue
  src/auto-imports.d.ts
  src/components/edit/AssetView.vue
  src/components/edit/ScenePanel.vue
  src/components/modals/CreateFileModal.vue
  src/plugins/editor/index.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/utils/app-paths.ts
Due: eslint --fix, stylelint --fix

🔧 设置 tsconfig rootDir 以消除 vue-router 提示
  tsconfig.json
Due: none

🔧 设置 tsconfig rootDir 以消除 vue-router 提示 (#56)
  tsconfig.json
Due: none

✨ 添加组件：Collapsible、Button Group、Input Group、Textarea
  src/components/ui/button-group/ButtonGroup.vue
  src/components/ui/button-group/ButtonGroupSeparator.vue
  src/components/ui/button-group/ButtonGroupText.vue
  src/components/ui/button-group/index.ts
  src/components/ui/collapsible/Collapsible.vue
  src/components/ui/collapsible/CollapsibleContent.vue
  src/components/ui/collapsible/CollapsibleTrigger.vue
  src/components/ui/collapsible/index.ts
  src/components/ui/input-group/InputGroup.vue
  src/components/ui/input-group/InputGroupAddon.vue
  src/components/ui/input-group/InputGroupButton.vue
  src/components/ui/input-group/InputGroupInput.vue
  src/components/ui/input-group/InputGroupText.vue
  src/components/ui/input-group/InputGroupTextarea.vue
  src/components/ui/input-group/index.ts
  src/components/ui/textarea/Textarea.vue
  src/components/ui/textarea/index.ts
Due: eslint --fix, stylelint --fix

✨ 添加组件：Collapsible、Button Group、Input Group、Textarea (#57)
  src/components/ui/button-group/ButtonGroup.vue
  src/components/ui/button-group/ButtonGroupSeparator.vue
  src/components/ui/button-group/ButtonGroupText.vue
  src/components/ui/button-group/index.ts
  src/components/ui/collapsible/Collapsible.vue
  src/components/ui/collapsible/CollapsibleContent.vue
  src/components/ui/collapsible/CollapsibleTrigger.vue
  src/components/ui/collapsible/index.ts
  src/components/ui/input-group/InputGroup.vue
  src/components/ui/input-group/InputGroupAddon.vue
  src/components/ui/input-group/InputGroupButton.vue
  src/components/ui/input-group/InputGroupInput.vue
  src/components/ui/input-group/InputGroupText.vue
  src/components/ui/input-group/InputGroupTextarea.vue
  src/components/ui/input-group/index.ts
  src/components/ui/textarea/Textarea.vue
  src/components/ui/textarea/index.ts
Due: eslint --fix, stylelint --fix

🐛 修复文本编辑器快速输入时光标跳转和内容回退的竞态条件
  src/components/edit/TextEditor.vue
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

🐛 manualSave 统一从同一 model 引用取值，确保 value/versionId 一致
  src/components/edit/TextEditor.vue
Due: eslint --fix, stylelint --fix

🐛 修复文本编辑器自动保存竞态导致光标跳转与内容回退 (#58)
  src/components/edit/TextEditor.vue
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

✨ 新增 ColorPicker 组件
  bun.lock
  package.json
  src/components.d.ts
  src/components/ColorPicker.vue
Due: eslint --fix, stylelint --fix

✨ 新增 ColorPicker 组件 (#60)
  bun.lock
  package.json
  src/components.d.ts
  src/components/ColorPicker.vue
Due: eslint --fix, stylelint --fix

✨ 完善 webgal 脚本高亮
  public/lib/onigasm.wasm
  src/components/edit/TextEditor.vue
  src/plugins/editor/index.ts
  src/plugins/editor/onigasm.ts
  src/plugins/editor/themes/webgal-dark.json
  src/plugins/editor/themes/webgal-light.json
Due: eslint --fix, stylelint --fix

🔥 移除 webgal 脚本 textmate 描述文件
  src/plugins/editor/grammars/webgal.tmLanguage.json
Due: none

♻️ 统一 webgal 脚本主题的颜色格式
  src/plugins/editor/themes/webgal-dark.json
  src/plugins/editor/themes/webgal-light.json
Due: none

➖ 移除 textmate 相关依赖
  bun.lock
  package.json
Due: none

♻️ 整理 webgal 脚本高亮规则
  src/plugins/editor/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
