Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

✨ 语句编辑辅助函数与通用工具 (#72)
  src/helper/async-queue.ts
  src/helper/color.ts
  src/helper/dynamic-options.ts
  src/helper/math.ts
  src/helper/statement-editor/field-utils.ts
  src/helper/statement-editor/file-missing.ts
  src/helper/statement-editor/json-fields.ts
  src/helper/statement-editor/param-value.ts
  src/helper/statement-editor/preview.ts
  src/helper/statement-editor/surface-context.ts
  src/helper/statement-editor/visibility.ts
Due: eslint --fix

✨ 语句编辑器 Composables
  src/composables/useControlId.ts
  src/composables/useEditorDynamicOptionsBootstrap.ts
  src/composables/usePointerDrag.ts
  src/composables/useStatementEditor.ts
  src/composables/useStatementEditorContent.ts
  src/composables/useStatementEditorParams.ts
  src/composables/useStatementEditorSay.ts
  src/composables/useStatementEditorScrub.ts
  src/composables/useStatementEditorView.ts
  src/composables/useStatementEffectEditorBridge.ts
  src/composables/useStatementFileMissing.ts
  src/composables/useStatementFileRoots.ts
  src/composables/useStatementMeta.ts
  src/composables/useTextEditorPanel.ts
Due: eslint --fix

♻️ 应用改进
  src/composables/useStatementEditorScrub.ts
Due: eslint --fix

✨ 语句编辑器 Composables (#73)
  src/composables/useControlId.ts
  src/composables/useEditorDynamicOptionsBootstrap.ts
  src/composables/usePointerDrag.ts
  src/composables/useStatementEditor.ts
  src/composables/useStatementEditorContent.ts
  src/composables/useStatementEditorParams.ts
  src/composables/useStatementEditorSay.ts
  src/composables/useStatementEditorScrub.ts
  src/composables/useStatementEditorView.ts
  src/composables/useStatementEffectEditorBridge.ts
  src/composables/useStatementFileMissing.ts
  src/composables/useStatementFileRoots.ts
  src/composables/useStatementMeta.ts
  src/composables/useTextEditorPanel.ts
Due: eslint --fix

✨ 效果编辑器系统
  src/composables/effect-editor/createParamDrag.ts
  src/composables/effect-editor/types.ts
  src/composables/effect-editor/useEffectColorControl.ts
  src/composables/effect-editor/useEffectContinuousControls.ts
  src/composables/effect-editor/useEffectDurationControl.ts
  src/composables/effect-editor/useEffectSegmentedControl.ts
  src/composables/useEffectEditorProvider.ts
  src/helper/effect-editor-config.ts
  src/types/stage.ts
Due: eslint --fix

♻️ 改进代码
  src/composables/effect-editor/useEffectContinuousControls.ts
  src/composables/useEffectEditorProvider.ts
  src/helper/effect-editor-config.ts
Due: eslint --fix

✨ 效果编辑器系统 (#74)
  src/composables/effect-editor/createParamDrag.ts
  src/composables/effect-editor/types.ts
  src/composables/effect-editor/useEffectColorControl.ts
  src/composables/effect-editor/useEffectContinuousControls.ts
  src/composables/effect-editor/useEffectDurationControl.ts
  src/composables/effect-editor/useEffectSegmentedControl.ts
  src/composables/useEffectEditorProvider.ts
  src/helper/effect-editor-config.ts
  src/types/stage.ts
Due: eslint --fix

♻️ 改进代码
  src/components/edit/EditorToolbar.vue
  src/components/edit/VisualEditorScene.vue
  src/components/edit/VisualEditorStatementCard.vue
  src/components/edit/special-content/PairListEditor.vue
Due: eslint --fix, stylelint --fix

🔧 更新自动生成文件
  bun.lock
  src/auto-imports.d.ts
Due: eslint --fix

🐛 修复问题
  src/components/edit/FileTree.vue
  src/components/edit/special-content/PairListEditor.vue
  src/helper/effect-editor-config.ts
Due: eslint --fix, stylelint --fix

✨ 基于内容检测的二进制文件识别，替代文件类型白名单
  src-tauri/src/commands/fs.rs
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/commands/fs.ts
  src/components/edit/AssetPreview.vue
  src/components/edit/FileEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

🐛 修复错误信息双重包装
  src/commands/fs.ts
Due: eslint --fix

✨ 基于内容检测的二进制文件识别，替代文件类型白名单 (#76)
  src-tauri/src/commands/fs.rs
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/commands/fs.ts
  src/components/edit/AssetPreview.vue
  src/components/edit/FileEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

♻️ 扁平化错误体系
  src-tauri/src/commands/error.rs
  src/auto-imports.d.ts
  src/commands/fs.ts
  src/commands/game.ts
  src/commands/server.ts
  src/commands/thumbnaila.ts
  src/commands/window.ts
  src/components/FilePicker.vue
  src/components/edit/AssetView.vue
  src/components/edit/EditHeader.vue
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/TextEditor.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/DeleteFileModal.vue
  src/composables/useDirectoryReader.ts
  src/helper/webgal-script/parser.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/main.ts
  src/plugins/editor/index.ts
  src/services/config-manager.ts
  src/services/directory-cache.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/types.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/types/errors.ts
  src/utils/batch.ts
  src/utils/error-handler.ts
  src/utils/invoke.ts
Due: eslint --fix, stylelint --fix

♻️ 重构错误系统 (#77)
  src-tauri/src/commands/error.rs
  src/auto-imports.d.ts
  src/commands/fs.ts
  src/commands/game.ts
  src/commands/server.ts
  src/commands/thumbnaila.ts
  src/commands/window.ts
  src/components/FilePicker.vue
  src/components/edit/AssetView.vue
  src/components/edit/EditHeader.vue
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
  src/components/edit/PreviewPanel.vue
  src/components/edit/TextEditor.vue
  src/components/home/EnginesTab.vue
  src/components/home/GamesTab.vue
  src/components/home/WelcomeSection.vue
  src/components/modals/DeleteFileModal.vue
  src/composables/useDirectoryReader.ts
  src/helper/webgal-script/parser.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/main.ts
  src/plugins/editor/index.ts
  src/services/config-manager.ts
  src/services/directory-cache.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/types.ts
  src/stores/editor.ts
  src/stores/file.ts
  src/types/errors.ts
  src/utils/batch.ts
  src/utils/error-handler.ts
  src/utils/invoke.ts
Due: eslint --fix, stylelint --fix

🐛 修复右键菜单重命名时输入框立即失焦的问题
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
Due: eslint --fix, stylelint --fix

🐛 修复右键菜单重命名时输入框立即失焦的问题 (#78)
  src/components/edit/FileTree.vue
  src/components/edit/FileTreeContextMenu.vue
Due: eslint --fix, stylelint --fix

🐛 修复说话人检测：支持注释跳过和标准 say 写法
  src/auto-imports.d.ts
  src/components/edit/VisualEditorScene.vue
  src/composables/useStatementEditorSay.ts
  src/composables/useTextEditorPanel.ts
  src/helper/statement-editor/preview.ts
  src/utils/speaker.ts
Due: eslint --fix, stylelint --fix

🐛 修复说话人检测逻辑 (#79)
  src/auto-imports.d.ts
  src/components/edit/VisualEditorScene.vue
  src/composables/useStatementEditorSay.ts
  src/composables/useTextEditorPanel.ts
  src/helper/statement-editor/preview.ts
  src/utils/speaker.ts
Due: eslint --fix, stylelint --fix

✨ 可视化编辑器「执行到此句」预览同步功能
  src/components/edit/VisualEditorScene.vue
  src/components/edit/VisualEditorStatementCard.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 可视化编辑器「执行到此句」预览同步功能 (#80)
  src/components/edit/VisualEditorScene.vue
  src/components/edit/VisualEditorStatementCard.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 辅助面板文本框控件从固定高度改为自动增长
  src/components/edit/StatementEditorPanel.vue
  src/components/edit/param-renderer/ParamRenderer.vue
  src/composables/useStatementEditorContent.ts
  src/helper/command-registry/dialogue.ts
  src/helper/command-registry/effect.ts
  src/helper/command-registry/schema.ts
Due: eslint --fix, stylelint --fix

💄 辅助面板文本框控件从固定高度改为自动增长 (#81)
  src/components/edit/StatementEditorPanel.vue
  src/components/edit/param-renderer/ParamRenderer.vue
  src/composables/useStatementEditorContent.ts
  src/helper/command-registry/dialogue.ts
  src/helper/command-registry/effect.ts
  src/helper/command-registry/schema.ts
Due: eslint --fix, stylelint --fix

✨ 拓展 mime 类型, 添加模板目录标签页, 重构获取语言逻辑
  src/components/edit/AssetPanel.vue
  src/components/edit/TextEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/mime.ts
  src/services/directory-cache.ts
  src/stores/editor.ts
  src/stores/file.ts
Due: eslint --fix, stylelint --fix

🔥 移除重复的 mimeType 计算
  src/stores/editor.ts
Due: eslint --fix

✨ 改进文件显示名
  src/components/edit/TextEditor.vue
Due: eslint --fix, stylelint --fix

✨ 拓展 mime 类型, 添加模板目录标签页, 重构获取语言逻辑 (#82)
  src/components/edit/AssetPanel.vue
  src/components/edit/TextEditor.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/mime.ts
  src/services/directory-cache.ts
  src/stores/editor.ts
  src/stores/file.ts
Due: eslint --fix, stylelint --fix

✨ 重构编辑页布局
  src-tauri/src/commands/thumbnail.rs
  src-tauri/src/lib.rs
  src/auto-imports.d.ts
  src/commands/thumbnaila.ts
  src/components.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/EditHeader.vue
  src/components/edit/EditorPanel.vue
  src/components/edit/EditorSidebarLayout.vue
  src/components/edit/EditorStatusBar.vue
  src/components/edit/EditorToolbar.vue
  src/components/edit/FileEditor.vue
  src/components/edit/LeftPanel.vue
  src/components/edit/ScenePanel.vue
  src/components/edit/TextEditor.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/edit/VisualEditorScene.vue
  src/components/setting/EditSettings.vue
  src/components/ui/resizable/ResizableHandle.vue
  src/composables/useSidebarPanel.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/edit-settings.ts
  src/stores/editor.ts
  src/stores/preference.ts
  src/utils/format.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

🚨 修正无效 diff 差异
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

💫 小调整
  src-tauri/src/commands/thumbnail.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/window.rs
  src/components/edit/EditorPanel.vue
  src/components/edit/EditorStatusBar.vue
  src/plugins/editor/index.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

✨ 重构编辑页布局 (#83)
  src-tauri/src/commands/thumbnail.rs
  src-tauri/src/commands/window.rs
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
  src/auto-imports.d.ts
  src/commands/thumbnaila.ts
  src/components.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/EditHeader.vue
  src/components/edit/EditorPanel.vue
  src/components/edit/EditorSidebarLayout.vue
  src/components/edit/EditorStatusBar.vue
  src/components/edit/EditorToolbar.vue
  src/components/edit/FileEditor.vue
  src/components/edit/LeftPanel.vue
  src/components/edit/ScenePanel.vue
  src/components/edit/TextEditor.vue
  src/components/edit/TextEditorStatusBar.vue
  src/components/edit/VisualEditorScene.vue
  src/components/setting/EditSettings.vue
  src/components/ui/resizable/ResizableHandle.vue
  src/composables/useSidebarPanel.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/index.ts
  src/stores/edit-settings.ts
  src/stores/editor.ts
  src/stores/preference.ts
  src/utils/format.ts
  src/views/edit/[gameId].vue
Due: eslint --fix, stylelint --fix

👷 移除 Git 钩子，改用 GitHub Actions 工作流
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/cleanup-caches.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-artifact-comment.yml
  .github/workflows/release.yml
  .github/workflows/rust-lint.yml
  .husky/install.js
  .husky/pre-commit
  .lintstagedrc
  bun.lock
  package.json
  scripts/formatArtifactComment.js
  scripts/package.json
Due: eslint --fix

➕ 添加缺失依赖
  bun.lock
  package.json
Due: none

⬆️ 更新依赖锁文件
  bun.lock
Due: none

🐛 修复序列化转义、续写标记类型安全及多项细节问题
  src/components/edit/TextEditor.vue
  src/helper/webgal-script/codec.ts
  src/helper/webgal-script/serialize.ts
  src/locales/zh-Hant.yml
  src/utils/wheel.ts
Due: eslint --fix, stylelint --fix

🐛 修复与改进
  src/auto-imports.d.ts
  src/components/modals/StatementGroupModal.vue
  src/helper/webgal-script/codec.ts
Due: eslint --fix, stylelint --fix

✏️ 修正注释
  src/helper/webgal-script/codec.ts
Due: eslint --fix
