Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 修复 intro 高亮未正确跳转状态
  src/plugins/editor/index.ts
Due: eslint --fix

➖ remove onigasm dependency
  bun.lock
  package.json
Due: none

✨ 完善 webgal 脚本高亮 (#59)
  bun.lock
  package.json
  public/lib/onigasm.wasm
  src/components/edit/TextEditor.vue
  src/plugins/editor/grammars/webgal.tmLanguage.json
  src/plugins/editor/index.ts
  src/plugins/editor/onigasm.ts
  src/plugins/editor/themes/webgal-dark.json
  src/plugins/editor/themes/webgal-light.json
Due: eslint --fix, stylelint --fix

✨ 新增通用路径面包屑组件，重构 AssetBreadcrumb 为薄包装
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/PathBreadcrumb.vue
  src/components/edit/AssetBreadcrumb.vue
  src/composables/useBreadcrumbCollapse.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 新增通用路径面包屑组件 PathBreadcrumb (#61)
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/PathBreadcrumb.vue
  src/components/edit/AssetBreadcrumb.vue
  src/composables/useBreadcrumbCollapse.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 新增通用文件浏览器组件 FileViewer，重构 AssetView 为薄包装
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetView.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

🚸 改进可访问性
  src/components/FileViewer.vue
Due: eslint --fix, stylelint --fix

✨ 新增通用文件浏览器组件 FileViewer (#62)
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetView.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/types/file-viewer.ts
Due: eslint --fix, stylelint --fix

✨ 资源浏览器文件元信息增强与排序扩展
  src/auto-imports.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/AssetView.vue
  src/components/edit/FileTree.vue
  src/components/ui/slider/Slider.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/file.ts
  src/stores/preference.ts
  src/types/file-viewer.ts
  src/utils/sort.ts
Due: eslint --fix, stylelint --fix

🐛 修复 FileViewer 排序表头参数遮蔽导致所有列始终显示为激活状态
  src/components/FileViewer.vue
Due: eslint --fix, stylelint --fix

♻️ 提取 FileViewer/FileTree 重复排序逻辑到 utils/sort.ts
  src/auto-imports.d.ts
  src/components/FileViewer.vue
  src/components/edit/FileTree.vue
  src/utils/sort.ts
Due: eslint --fix, stylelint --fix

🔥 移除未使用的 i18n 键
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修复列表表头columnheader 包裹 div 导致元素不居中
  src/components/FileViewer.vue
Due: eslint --fix, stylelint --fix

✨ 资源浏览器文件元信息增强与排序扩展 (#63)
  src/auto-imports.d.ts
  src/components/FileViewer.vue
  src/components/edit/AssetPanel.vue
  src/components/edit/AssetView.vue
  src/components/edit/FileTree.vue
  src/components/ui/slider/Slider.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/file.ts
  src/stores/preference.ts
  src/types/file-viewer.ts
  src/utils/sort.ts
Due: eslint --fix, stylelint --fix

✨ 新增通用文件选择器组件 FilePicker
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/FilePicker.vue
  src/components/FileViewer.vue
  src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
  src/composables/useDirectoryReader.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/directory-cache.ts
  src/stores/file.ts
  src/stores/preference.ts
Due: eslint --fix, stylelint --fix

♻️ 统一回车/失焦提交行为
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

♻️ 清理无效历史项
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

♻️ 统一路径工具并简化目录缓存实现
  src/auto-imports.d.ts
  src/components/FilePicker.vue
  src/composables/useDirectoryReader.ts
  src/services/directory-cache.ts
  src/utils/path.ts
Due: eslint --fix, stylelint --fix

♻️ 回车后保持焦点并在继续输入时自动重开弹层
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

✨ 新增通用文件选择器组件 FilePicker (#64)
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/FilePicker.vue
  src/components/FileViewer.vue
  src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  src/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
  src/composables/useDirectoryReader.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/directory-cache.ts
  src/stores/file.ts
  src/stores/preference.ts
  src/utils/path.ts
Due: eslint --fix, stylelint --fix

🐛 修复弹层越界并支持排除文件项
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

♻️ 优化 exclude 名称匹配的健壮性
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

🐛 防止文件选择器弹层溢出窗口并新增文件排除能力 (#65)
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

✨ 添加设置效果调试命令
  src/auto-imports.d.ts
  src/services/debug-commander.ts
  src/types/debugProtocol.ts
  src/types/stage.ts
Due: eslint --fix

✨ 添加设置效果调试命令 (#66)
  src/auto-imports.d.ts
  src/services/debug-commander.ts
  src/types/debugProtocol.ts
  src/types/stage.ts
Due: eslint --fix

♻️ 优化 Rust 后端细节
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
Due: none

♻️ 优化 Rust 后端细节 (#67)
  src-tauri/src/lib.rs
  src-tauri/src/window.rs
Due: none

🏗️ 工具链升级与项目结构调整
  bun.lock
  eslint.config.js
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/commands/fs.ts
  src/commands/server.ts
  src/commands/thumbnaila.ts
  src/components/ui/tree/TreeItem.vue
  src/helper/app-paths.ts
  stylelint.config.js
  unocss.config.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

🏗️ 工具链升级与项目结构调整 (#68)
  bun.lock
  eslint.config.js
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/commands/fs.ts
  src/commands/server.ts
  src/commands/thumbnaila.ts
  src/components/ui/tree/TreeItem.vue
  src/helper/app-paths.ts
  stylelint.config.js
  unocss.config.ts
  vite.config.ts
Due: eslint --fix, stylelint --fix

♻️ UI 基础组件增强
  src/App.vue
  src/components/ColorPicker.vue
  src/components/Combobox.vue
  src/components/FilePicker.vue
  src/components/FileViewer.vue
  src/components/modals/DeleteFileModal.vue
  src/components/modals/DeleteGameConfirmModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/SaveChangesModal.vue
  src/components/setting/GeneralSettings.vue
  src/components/setting/StorageSettings.vue
  src/components/ui/command/Command.vue
  src/components/ui/command/CommandInput.vue
  src/components/ui/command/CommandItem.vue
  src/components/ui/command/index.ts
  src/components/ui/context-menu/ContextMenuContent.vue
  src/components/ui/form/FormItem.vue
  src/components/ui/input/Input.vue
  src/components/ui/select/SelectContent.vue
  src/components/ui/sheet/Sheet.vue
  src/components/ui/sheet/SheetClose.vue
  src/components/ui/sheet/SheetContent.vue
  src/components/ui/sheet/SheetDescription.vue
  src/components/ui/sheet/SheetFooter.vue
  src/components/ui/sheet/SheetHeader.vue
  src/components/ui/sheet/SheetTitle.vue
  src/components/ui/sheet/SheetTrigger.vue
  src/components/ui/sheet/index.ts
  src/composables/useTauriDropZone.ts
  src/types/color-picker.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

♻️ 采纳建议
  src/components/Combobox.vue
  src/types/color-picker.ts
Due: eslint --fix, stylelint --fix

♻️ UI 基础组件增强 (#69)
  src/App.vue
  src/components/ColorPicker.vue
  src/components/Combobox.vue
  src/components/FilePicker.vue
  src/components/FileViewer.vue
  src/components/modals/DeleteFileModal.vue
  src/components/modals/DeleteGameConfirmModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/SaveChangesModal.vue
  src/components/setting/GeneralSettings.vue
  src/components/setting/StorageSettings.vue
  src/components/ui/command/Command.vue
  src/components/ui/command/CommandInput.vue
  src/components/ui/command/CommandItem.vue
  src/components/ui/command/index.ts
  src/components/ui/context-menu/ContextMenuContent.vue
  src/components/ui/form/FormItem.vue
  src/components/ui/input/Input.vue
  src/components/ui/select/SelectContent.vue
  src/components/ui/sheet/Sheet.vue
  src/components/ui/sheet/SheetClose.vue
  src/components/ui/sheet/SheetContent.vue
  src/components/ui/sheet/SheetDescription.vue
  src/components/ui/sheet/SheetFooter.vue
  src/components/ui/sheet/SheetHeader.vue
  src/components/ui/sheet/SheetTitle.vue
  src/components/ui/sheet/SheetTrigger.vue
  src/components/ui/sheet/index.ts
  src/composables/useTauriDropZone.ts
  src/types/color-picker.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

✨ WebGAL 脚本解析与编解码层
  src/helper/asset-url.ts
  src/helper/webgal-script/arg-utils.ts
  src/helper/webgal-script/codec.ts
  src/helper/webgal-script/content.ts
  src/helper/webgal-script/params.ts
  src/helper/webgal-script/parser.ts
  src/helper/webgal-script/sentence.ts
  src/helper/webgal-script/serialize.ts
  src/helper/webgal-script/types.ts
  src/helper/webgal-script/update.ts
  src/plugins/editor/index.ts
  src/utils/index.ts
  src/utils/webgal-parser.ts
Due: eslint --fix

♻️ 采纳建议
  src/helper/webgal-script/codec.ts
Due: eslint --fix

✨ WebGAL 脚本解析与编解码层 (#70)
  src/helper/asset-url.ts
  src/helper/webgal-script/arg-utils.ts
  src/helper/webgal-script/codec.ts
  src/helper/webgal-script/content.ts
  src/helper/webgal-script/params.ts
  src/helper/webgal-script/parser.ts
  src/helper/webgal-script/sentence.ts
  src/helper/webgal-script/serialize.ts
  src/helper/webgal-script/types.ts
  src/helper/webgal-script/update.ts
  src/plugins/editor/index.ts
  src/utils/index.ts
  src/utils/webgal-parser.ts
Due: eslint --fix

✨ WebGAL 命令注册表与参数 Schema
  src/helper/command-registry/common-params.ts
  src/helper/command-registry/control.ts
  src/helper/command-registry/dialogue.ts
  src/helper/command-registry/dynamic-options.ts
  src/helper/command-registry/effect.ts
  src/helper/command-registry/gallery.ts
  src/helper/command-registry/index.ts
  src/helper/command-registry/media.ts
  src/helper/command-registry/scene.ts
  src/helper/command-registry/schema.ts
Due: eslint --fix

♻️ 应用建议
  src/helper/command-registry/dynamic-options.ts
  src/helper/command-registry/media.ts
Due: eslint --fix

✨ WebGAL 命令注册表与参数 Schema (#71)
  src/helper/command-registry/common-params.ts
  src/helper/command-registry/control.ts
  src/helper/command-registry/dialogue.ts
  src/helper/command-registry/dynamic-options.ts
  src/helper/command-registry/effect.ts
  src/helper/command-registry/gallery.ts
  src/helper/command-registry/index.ts
  src/helper/command-registry/media.ts
  src/helper/command-registry/scene.ts
  src/helper/command-registry/schema.ts
Due: eslint --fix

✨ 语句编辑辅助函数与通用工具
  src/helper/async-queue.ts
  src/helper/color.ts
  src/helper/dynamic-options.ts
  src/helper/math.ts
  src/helper/statement-editor/field-utils.ts
  src/helper/statement-editor/file-missing.ts
  src/helper/statement-editor/json-fields.ts
  src/helper/statement-editor/param-value.ts
  src/helper/statement-editor/preview.ts
  src/helper/statement-editor/surface-context.ts
  src/helper/statement-editor/visibility.ts
Due: eslint --fix

🐛 应用修复
  src/helper/statement-editor/json-fields.ts
  src/helper/statement-editor/param-value.ts
Due: eslint --fix
