Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

✨ 补全 WebGAL 语句参数支持
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementPairListEditor.vue
  src/components/editor/StatementSpecialContentEditor.spec.ts
  src/components/editor/StatementSpecialContentEditor.vue
  src/components/editor/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/editor/statement-editor/StatementCommandFieldsSection.vue
  src/components/editor/statement-editor/types.ts
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/codec.ts
  src/domain/script/types.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/dynamic-options.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/completion.ts
  src/features/editor/command-registry/dynamic-options.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/scene.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/command-registry/system.ts
  src/features/editor/statement-editor/__tests__/helpers.test.ts
  src/features/editor/statement-editor/__tests__/preview.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorContent.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/__tests__/visibility.test.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementEditorContent.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
  src/features/editor/statement-editor/visibility.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
Due: eslint --fix, stylelint --fix

🐛 保留无法解析的数值参数
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/codec.ts
Due: eslint --fix

✨ 补全 WebGAL 语句参数支持 (#273)
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementPairListEditor.vue
  src/components/editor/StatementSpecialContentEditor.spec.ts
  src/components/editor/StatementSpecialContentEditor.vue
  src/components/editor/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/editor/statement-editor/StatementCommandFieldsSection.vue
  src/components/editor/statement-editor/types.ts
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/codec.ts
  src/domain/script/types.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/dynamic-options.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/completion.ts
  src/features/editor/command-registry/dynamic-options.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/scene.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/command-registry/system.ts
  src/features/editor/statement-editor/__tests__/helpers.test.ts
  src/features/editor/statement-editor/__tests__/preview.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorContent.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/__tests__/visibility.test.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementEditorContent.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
  src/features/editor/statement-editor/visibility.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
Due: eslint --fix, stylelint --fix

✨ 用“清除”替代效果编辑器的“还原”操作
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/EffectEditorPanel.spec.ts
  src/components/editor/EffectEditorPanel.vue
  src/components/modals/EffectEditorSubDialog.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 效果编辑器支持清除全部效果参数 (#274)
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/EffectEditorPanel.spec.ts
  src/components/editor/EffectEditorPanel.vue
  src/components/modals/EffectEditorSubDialog.vue
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/shortcut/__tests__/useShortcutDispatcher.browser.test.ts
  src/features/editor/transform-overlay/__tests__/useTransformOverlayBridge.test.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 统一文本编辑器补全与资源索引
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/statement-editor/types.ts
  src/features/editor/command-registry/__tests__/autocomplete-options.test.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/autocomplete-options.ts
  src/features/editor/command-registry/completion.ts
  src/features/editor/command-registry/index.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/autocomplete-options.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/features/editor/text-editor/__tests__/webgal-completion-context.test.ts
  src/features/editor/text-editor/webgal-completion-context.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
  src/plugins/editor/completion/webgal-commands.ts
  src/plugins/editor/completion/webgal-values.ts
  src/plugins/editor/index.ts
  src/services/resource-index/__tests__/catalog.test.ts
  src/services/resource-index/__tests__/values.test.ts
  src/services/resource-index/catalog.ts
  src/services/resource-index/values.ts
Due: eslint --fix, stylelint --fix

🐛 过滤补全选项中的未指定值
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/completion.ts
Due: eslint --fix

🐛 避免重复追加动画资源后缀
  src/services/resource-index/__tests__/values.test.ts
  src/services/resource-index/values.ts
Due: eslint --fix

✨ 统一文本编辑器补全与资源索引 (#275)
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/statement-editor/types.ts
  src/features/editor/command-registry/__tests__/autocomplete-options.test.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/autocomplete-options.ts
  src/features/editor/command-registry/completion.ts
  src/features/editor/command-registry/index.ts
  src/features/editor/statement-editor/__tests__/scene-autocomplete.test.ts
  src/features/editor/statement-editor/autocomplete-options.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/scene-autocomplete.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/features/editor/text-editor/__tests__/webgal-completion-context.test.ts
  src/features/editor/text-editor/webgal-completion-context.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
  src/plugins/editor/completion/webgal-commands.ts
  src/plugins/editor/completion/webgal-values.ts
  src/plugins/editor/index.ts
  src/services/resource-index/__tests__/catalog.test.ts
  src/services/resource-index/__tests__/values.test.ts
  src/services/resource-index/catalog.ts
  src/services/resource-index/values.ts
Due: eslint --fix, stylelint --fix

✨ 建立统一编辑器诊断管线
  src/domain/script/__tests__/diagnostics.test.ts
  src/domain/script/diagnostics.ts
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/services/resource-index/__tests__/service.test.ts
  src/services/resource-index/service.ts
  src/stores/__tests__/editor-diagnostics.test.ts
  src/stores/editor-diagnostics.ts
  src/stores/editor.ts
Due: eslint --fix

✨ 将资源引用诊断接入索引
  src/services/resource-index/__tests__/references.test.ts
  src/services/resource-index/references.ts
Due: eslint --fix

🐛 修正资源引用查询依赖方向
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/services/resource-index/__tests__/references.test.ts
  src/services/resource-index/__tests__/service.test.ts
  src/services/resource-index/reference-query.ts
  src/services/resource-index/references.ts
  src/services/resource-index/service.ts
  src/views/edit/[gameId].vue
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix, stylelint --fix

✨ 建立统一编辑器诊断管线 (#276)
  src/domain/script/__tests__/diagnostics.test.ts
  src/domain/script/diagnostics.ts
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/command-registry/effect.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/services/resource-index/__tests__/references.test.ts
  src/services/resource-index/__tests__/service.test.ts
  src/services/resource-index/reference-query.ts
  src/services/resource-index/references.ts
  src/services/resource-index/service.ts
  src/stores/__tests__/editor-diagnostics.test.ts
  src/stores/editor-diagnostics.ts
  src/stores/editor.ts
  src/views/edit/[gameId].vue
  src/views/edit/__tests__/game-id.test.ts
Due: eslint --fix, stylelint --fix

✨ 呈现文档级编辑器诊断
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/EditorTabButton.vue
  src/components/editor/EditorTabContent.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/diagnostics/presentation.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
Due: eslint --fix, stylelint --fix

🐛 修正编辑器诊断刷新
  src/components/editor/TextEditor.spec.ts
  src/components/editor/TextEditor.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/features/editor/statement-editor/useStatementFieldDiagnostics.ts
  src/plugins/editor/diagnostics.ts
Due: eslint --fix, stylelint --fix

✨ 呈现语句级编辑器诊断
  src/components.d.ts
  src/components/editor/EditorPanel.spec.ts
  src/components/editor/EditorPanel.vue
  src/components/editor/StatementDiagnosticTooltip.spec.ts
  src/components/editor/StatementDiagnosticTooltip.vue
  src/components/editor/StatementEditorInline.spec.ts
  src/components/editor/StatementEditorInline.vue
  src/components/editor/StatementEditorPanel.spec.ts
  src/components/editor/StatementEditorPanel.vue
  src/components/editor/StatementSpecialContentEditor.spec.ts
  src/components/editor/StatementSpecialContentEditor.vue
  src/components/editor/VisualEditorScene.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/components/editor/VisualEditorStatementCard.spec.ts
  src/components/editor/VisualEditorStatementCard.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/controls/NumberControl.vue
  src/components/editor/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/editor/statement-editor/StatementCommandFieldsSection.vue
  src/components/editor/statement-editor/types.ts
  src/components/primitives/Autocomplete.vue
  src/features/editor/shell/__tests__/useEditorPanelShell.test.ts
  src/features/editor/shell/useEditorPanelShell.ts
  src/features/editor/statement-editor/__tests__/file-missing.test.ts
  src/features/editor/statement-editor/__tests__/preview.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditor.test.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/__tests__/useStatementFieldDiagnostics.test.ts
  src/features/editor/statement-editor/file-missing.ts
  src/features/editor/statement-editor/preview.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
  src/features/editor/statement-editor/useStatementFieldDiagnostics.ts
  src/features/editor/statement-editor/useStatementFileMissing.ts
Due: eslint --fix, stylelint --fix

🐛 修复预览面板关闭时仍发送预览请求
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/services/preview-protocol-client.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
Due: eslint --fix

🐛 修复预览面板关闭时清理待处理查询
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
Due: eslint --fix

🐛 修复预览面板关闭时仍发送预览请求 (#278)
  src/features/editor/effect-editor/__tests__/useEffectEditorProvider-queue.test.ts
  src/features/editor/effect-editor/useEffectEditorProvider.ts
  src/services/preview-protocol-client.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preview-sync.ts
Due: eslint --fix

🐛 修正 next 与 continue 参数互斥
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/update.ts
Due: eslint --fix

🐛 修正 next 与 continue 参数互斥 (#279)
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/update.ts
Due: eslint --fix

✨ 改进效果编辑器数值展示与单位
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/effect-display.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/effect-draft-form.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 精简效果编辑器数值展示实现
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/effect-display.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix, stylelint --fix

✨ 移除效果编辑器滑条刻度线
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix, stylelint --fix

🐛 允许效果编辑器输入小数值
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
Due: eslint --fix, stylelint --fix

🐛 修复效果滑条浮点显示异常
  src/features/editor/effect-editor/__tests__/effect-display.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/effect-editor-config.ts
Due: eslint --fix

🐛 修复效果编辑器测试类型错误
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
Due: eslint --fix

✨ 改进效果编辑器数值展示与单位 (#280)
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/effect-display.test.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/effect-draft-form.ts
  src/features/editor/effect-editor/effect-editor-config.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

✨ 为语句表单开关添加状态说明
  src/components/editor/StatementDiagnosticTooltip.spec.ts
  src/components/editor/StatementDiagnosticTooltip.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/display.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/command-registry/system.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

♻️ 精简语句开关状态提示实现
  src/components/editor/StatementDiagnosticTooltip.spec.ts
  src/components/editor/StatementDiagnosticTooltip.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/features/editor/command-registry/__tests__/registry.test.ts
Due: eslint --fix, stylelint --fix

🐛 修正电影模式关闭值与动画开关说明
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/display.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修正语句开关提示文案
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修正动画开关约束与提示文案
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/update.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

✨ 语句表单开关添加状态说明 (#281)
  src/components/editor/StatementDiagnosticTooltip.spec.ts
  src/components/editor/StatementDiagnosticTooltip.vue
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/update.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/display.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/command-registry/system.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix, stylelint --fix

🐛 修复效果编辑器浮点输入草稿同步
  src/components.d.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/EffectDraftNumberInput.spec.ts
  src/components/editor/effect-editor/EffectDraftNumberInput.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix, stylelint --fix

✨ 优化效果编辑器浮点数手动编辑体验 (#282)
  src/components.d.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.spec.ts
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/EffectDraftNumberInput.spec.ts
  src/components/editor/effect-editor/EffectDraftNumberInput.vue
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/features/editor/effect-editor/__tests__/useEffectContinuousControls.test.ts
  src/features/editor/effect-editor/useEffectContinuousControls.ts
Due: eslint --fix, stylelint --fix

🔖 v1.0.0-alpha.3
  package.json
Due: none

🔖 v1.0.0-alpha.3 (#283)
  package.json
Due: none

🐛 修复效果编辑器颜色选择器点击无响应
  src/components/editor/effect-editor/EffectDraftCategorySection.spec.ts
  src/components/editor/effect-editor/EffectDraftCategorySection.vue
  src/components/editor/effect-editor/EffectDraftForm.vue
  src/components/editor/effect-editor/EffectDraftFormColorPicker.spec.ts
  src/components/editor/effect-editor/effectDraftForm.types.ts
  src/components/primitives/ColorPicker.vue
  src/features/editor/effect-editor/__tests__/useEffectColorControl.test.ts
  src/features/editor/effect-editor/useEffectColorControl.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
