Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

🧪 补充入口校验后的预览刷新测试
  src/components/editor/PreviewPanel.spec.ts
Due: eslint --fix

🐛 修复入口读取失败误报缺失
  src/features/editor/scene-entry/useSceneEntryStatus.ts
Due: eslint --fix

🐛 修复编辑页入口校验期间误显示缺失遮罩 (#318)
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/domain/scene/entry-point.ts
  src/features/editor/scene-entry/useSceneEntryStatus.ts
Due: eslint --fix, stylelint --fix

🐛 修复 Live2D 能力检测逻辑
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

🐛 修复 Live2D 能力检测逻辑 (#319)
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

✨ 支持 WebGAL 官方引擎自动下载与更新
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/engine.rs
  src-tauri/src/lib.rs
  src/commands/engine.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EngineVersionPopover.spec.ts
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/domain/engine/__tests__/official-release.test.ts
  src/domain/engine/official-release.ts
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/engine-group-view-model.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/home-collection-items.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/features/settings/general-settings.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/engine-manager.ts
  src/stores/__tests__/general-settings.test.ts
  src/stores/__tests__/managed-import.test.ts
  src/stores/__tests__/official-engine-release-cache.test.ts
  src/stores/managed-import.ts
  src/stores/official-engine-release-cache.ts
  src/types/managed-import.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

🐛 修复下载代理字段未换行的问题
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/fields/InputField.vue
  src/features/settings/general-settings.ts
  src/features/settings/schema.ts
Due: eslint --fix, stylelint --fix

🐛 修复 GamesTab 浏览器测试 dayjs mock 导入失败
  src/components/home/games-tab/GamesTab.spec.ts
Due: eslint --fix

🐛 修复官方引擎 HTTPS 客户端缺少 TLS
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

🐛 防止官方引擎网络请求无限等待
  src-tauri/src/commands/engine.rs
Due: none

🐛 清理官方引擎下载失败留下的目录
  src-tauri/src/commands/engine.rs
Due: none

🐛 防止官方引擎刷新覆盖安装状态
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/useEnginesTabController.ts
Due: eslint --fix

🐛 修复英文引擎版本复数文案
  src/locales/en.yml
Due: eslint --fix

🐛 统一繁中引擎卸载术语
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 修正官方引擎下载进度文件数语义
  src/services/engine-manager.ts
Due: eslint --fix

🛡️ 按实际写入字节限制官方引擎解压
  src-tauri/src/commands/engine.rs
Due: none

🐛 保留引擎版本加载失败提示
  src/components/home/engines-tab/EngineVersionPopover.spec.ts
  src/components/home/engines-tab/EngineVersionPopover.vue
Due: eslint --fix, stylelint --fix

🐛 统一托管导入阶段详情显示
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
Due: eslint --fix, stylelint --fix

🧪 补充托管导入忙碌分支测试
  src/stores/__tests__/managed-import.test.ts
Due: eslint --fix

🛡️ 修复 quinn-proto 远程内存耗尽漏洞
  src-tauri/Cargo.lock
Due: none

✨ 支持 WebGAL 官方引擎自动下载与更新 (#320)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/engine.rs
  src-tauri/src/lib.rs
  src/commands/engine.ts
  src/components/home/ManagedImportStatus.spec.ts
  src/components/home/ManagedImportStatus.vue
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EngineVersionPopover.spec.ts
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/settings/form/SettingsForm.spec.ts
  src/components/settings/form/fields/InputField.vue
  src/domain/engine/__tests__/official-release.test.ts
  src/domain/engine/official-release.ts
  src/features/home/engines-tab/__tests__/useEnginesTabController.test.ts
  src/features/home/engines-tab/engine-group-view-model.ts
  src/features/home/engines-tab/useEnginesTabController.ts
  src/features/home/home-collection-items.ts
  src/features/resource-import/useManagedImportStatus.ts
  src/features/settings/general-settings.ts
  src/features/settings/schema.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/engine-manager.ts
  src/stores/__tests__/general-settings.test.ts
  src/stores/__tests__/managed-import.test.ts
  src/stores/__tests__/official-engine-release-cache.test.ts
  src/stores/managed-import.ts
  src/stores/official-engine-release-cache.ts
  src/types/managed-import.ts
  src/views/index.vue
Due: eslint --fix, stylelint --fix

✨ 支持编辑器标签页右键菜单
  src/components.d.ts
  src/components/editor/EditorTabContextMenu.spec.ts
  src/components/editor/EditorTabContextMenu.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
  src/features/editor/editor-tabs/__tests__/editor-tabs.test.ts
  src/features/editor/editor-tabs/editor-tabs.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/tabs.test.ts
  src/stores/tabs.ts
Due: eslint --fix, stylelint --fix

🐛 修正单个标签页保存确认文案
  src/locales/en.yml
Due: eslint --fix

✨ 支持编辑器标签页右键菜单 (#321)
  src/components.d.ts
  src/components/editor/EditorTabContextMenu.spec.ts
  src/components/editor/EditorTabContextMenu.vue
  src/components/editor/EditorTabs.spec.ts
  src/components/editor/EditorTabs.vue
  src/features/editor/editor-tabs/__tests__/editor-tabs.test.ts
  src/features/editor/editor-tabs/editor-tabs.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/tabs.test.ts
  src/stores/tabs.ts
Due: eslint --fix, stylelint --fix

✨ 在模板切换弹窗中支持重置当前模板
  src/components/modals/SwitchTemplateModal.spec.ts
  src/components/modals/SwitchTemplateModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/template-switch.test.ts
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

🐛 修正模板重置组件测试文案
  src/components/modals/SwitchTemplateModal.spec.ts
Due: eslint --fix

🐛 修复模板标签关闭失败时继续重置
  src/services/__tests__/template-switch.test.ts
  src/services/template-switch.ts
Due: eslint --fix

🐛 修复模板刷新失败被吞掉
  src/services/__tests__/template-switch.test.ts
  src/services/template-switch.ts
Due: eslint --fix

🧪 收紧模板重置确认框测试
  src/components/modals/SwitchTemplateModal.spec.ts
Due: eslint --fix

✨ 在模板切换弹窗中支持重置当前模板 (#322)
  src/components/modals/SwitchTemplateModal.spec.ts
  src/components/modals/SwitchTemplateModal.vue
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/template-switch.test.ts
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

✨ 完善预览面板工具栏与运行状态
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
  src/components.d.ts
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/PreviewToolbar.spec.ts
  src/components/editor/PreviewToolbar.vue
  src/features/editor/preview/__tests__/embedded-preview-messages.test.ts
  src/features/editor/preview/embedded-preview-messages.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/preference.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preference.ts
  src/stores/preview-session.ts
  src/stores/preview-sync.ts
Due: eslint --fix, stylelint --fix

🐛 修复 PreviewToolbar 浏览器测试错误
  src/components/editor/PreviewToolbar.vue
Due: eslint --fix, stylelint --fix

🐛 修复预览工具栏键盘滑块焦点
  src/components/editor/PreviewToolbar.spec.ts
  src/components/editor/PreviewToolbar.vue
Due: eslint --fix, stylelint --fix

✨ 完善预览面板工具栏与运行状态 (#323)
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/server/preview_sync.rs
  src/components.d.ts
  src/components/editor/PreviewPanel.spec.ts
  src/components/editor/PreviewPanel.vue
  src/components/editor/PreviewToolbar.spec.ts
  src/components/editor/PreviewToolbar.vue
  src/features/editor/preview/__tests__/embedded-preview-messages.test.ts
  src/features/editor/preview/embedded-preview-messages.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/stores/__tests__/preference.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/__tests__/preview-sync.test.ts
  src/stores/preference.ts
  src/stores/preview-session.ts
  src/stores/preview-sync.ts
Due: eslint --fix, stylelint --fix

✨ 支持从外部拖拽导入场景和资源
  src-tauri/src/commands/external_import.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/fs.ts
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/composables/__tests__/useTauriDropZone.browser.test.ts
  src/composables/useTauriDropZone.ts
  src/features/editor/external-file-import/__tests__/external-file-import.browser.test.ts
  src/features/editor/external-file-import/__tests__/external-file-import.test.ts
  src/features/editor/external-file-import/__tests__/useExternalFileDropImport.browser.test.ts
  src/features/editor/external-file-import/external-file-import.ts
  src/features/editor/external-file-import/useExternalFileDropImport.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-fs.test.ts
  src/services/game-fs.ts
Due: eslint --fix, stylelint --fix

🐛 修复无效拖放未清理目标状态
  src/composables/__tests__/useTauriDropZone.browser.test.ts
  src/composables/useTauriDropZone.ts
Due: eslint --fix

🐛 修复外部路径大小写去重
  src/features/editor/external-file-import/__tests__/external-file-import.test.ts
  src/features/editor/external-file-import/external-file-import.ts
Due: eslint --fix

🐛 修复外部导入递归复制竞态
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/external_import.rs
Due: none

🐛 修复 Windows 下 cap-std 元数据检查
  src-tauri/src/commands/external_import.rs
Due: none

✨ 支持从外部拖拽导入场景和资源 (#324)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/external_import.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src/commands/fs.ts
  src/components/editor/AssetView.spec.ts
  src/components/editor/AssetView.vue
  src/components/editor/FileTree.spec.ts
  src/components/editor/FileTree.vue
  src/components/editor/ScenePanel.spec.ts
  src/components/editor/ScenePanel.vue
  src/components/file-viewer/FileViewer.spec.ts
  src/components/file-viewer/FileViewer.vue
  src/components/file-viewer/FileViewerBody.vue
  src/composables/__tests__/useTauriDropZone.browser.test.ts
  src/composables/useTauriDropZone.ts
  src/features/editor/external-file-import/__tests__/external-file-import.browser.test.ts
  src/features/editor/external-file-import/__tests__/external-file-import.test.ts
  src/features/editor/external-file-import/__tests__/useExternalFileDropImport.browser.test.ts
  src/features/editor/external-file-import/external-file-import.ts
  src/features/editor/external-file-import/useExternalFileDropImport.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/game-fs.test.ts
  src/services/game-fs.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
