Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

⬆️ 更新 vue-router
  bun.lock
  package.json
Due: none

👷 拆分 code suggestions 工作流并简化检查名称
  .github/workflows/code-suggestions.yml
  .github/workflows/lint.yml
  .github/workflows/rust-lint.yml
Due: none

✨ 引入统一文档模型与事务核心
  src/helper/webgal-script/codec.ts
  src/helper/webgal-script/parser.ts
  src/helper/webgal-script/sentence.ts
  src/helper/webgal-script/serialize.ts
  src/models/animation-document-codec.ts
  src/models/document-model.ts
  src/models/file-codec.ts
  src/models/scene-selection.ts
  src/models/serializer.ts
  src/models/text-projection.ts
  src/models/transaction-apply.ts
  src/models/transaction.ts
  src/models/visual-projection.ts
Due: eslint --fix

🐛 修复类型检查
  src/auto-imports.d.ts
  src/helper/webgal-script/sentence.ts
  src/models/scene-selection.ts
  src/route-map.d.ts
  src/utils/speaker.ts
Due: eslint --fix

♻️ 抽取编辑器会话与保存基础设施
  src-tauri/capabilities/default.json
  src/auto-imports.d.ts
  src/components/modals/ExternalDocumentChangeModal.vue
  src/helper/scene-presentation.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/document-write-intents.ts
  src/services/game-fs.ts
  src/stores/editor-auto-save.ts
  src/stores/editor-preview-sync.ts
  src/stores/editor-view-state.ts
  src/stores/internal/editor-document-actions.ts
  src/stores/internal/editor-document-save.ts
  src/stores/internal/editor-document-state.ts
  src/stores/internal/editor-file-lifecycle.ts
  src/stores/internal/editor-scene-selection.ts
  src/stores/internal/editor-session.ts
  src/stores/internal/editor-transaction-inverse.ts
  src/stores/modal.ts
  src/stores/tabs.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告的问题
  src/stores/editor-auto-save.ts
  src/stores/editor.ts
  src/stores/internal/editor-document-save.ts
  src/stores/internal/editor-file-lifecycle.ts
  src/stores/internal/editor-transaction-inverse.ts
Due: eslint --fix

🐛 修复报告的问题
  src/stores/editor.ts
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix

🐛 修复报告问题
  src/composables/useCommandPanelBridge.ts
  src/composables/useTextEditorHistory.ts
  src/composables/useTextEditorPanel.ts
  src/composables/useTextEditorWorkspace.ts
  src/helper/text-editor-history-snapshot.ts
  src/plugins/editor/index.ts
Due: eslint --fix

🐛 修复报告问题
  src/composables/useTextEditorContentSync.ts
  src/composables/useTextEditorHistory.ts
Due: eslint --fix

♻️ 小改进
  src/composables/useTextEditorContentSync.ts
  src/composables/useTextEditorHistory.ts
Due: eslint --fix

♻️ 重构场景编辑器投影与侧栏绑定
  src/auto-imports.d.ts
  src/components.d.ts
  src/components/edit/CommandPanel.vue
  src/components/edit/EditorPanel.vue
  src/components/edit/EditorStatusBar.vue
  src/components/edit/FileEditor.vue
  src/components/edit/StatementEditorInline.vue
  src/components/edit/StatementEditorPanel.vue
  src/components/edit/VisualEditor.vue
  src/components/edit/VisualEditorScene.vue
  src/components/edit/VisualEditorStatementCard.vue
  src/components/edit/special-content/PairListEditor.vue
  src/components/modals/CommandDefaultsModal.vue
  src/components/modals/DiscardEffectChangesModal.vue
  src/components/modals/StatementGroupModal.vue
  src/composables/useCommandPanelBridge.ts
  src/composables/useEditorPanelBindings.ts
  src/composables/useEffectEditorProvider.ts
  src/composables/useSidebarPanel.ts
  src/composables/useStatementEditor.ts
  src/composables/useStatementEditorFieldBindings.ts
  src/composables/useStatementEditorView.ts
  src/composables/useStatementEffectEditorBridge.ts
  src/composables/useVisualEditorSaveShortcut.ts
  src/composables/useVisualEditorSceneRuntime.ts
  src/composables/useVisualEditorSceneViewport.ts
  src/helper/visual-editor-focus.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/utils/speaker.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/special-content/PairListEditor.vue
  src/components/modals/CommandDefaultsModal.vue
Due: eslint --fix, stylelint --fix

♻️ 整理预览与通用编辑器基础设施
  src/auto-imports.d.ts
  src/components/edit/AssetPreview.vue
  src/components/edit/EditorStatusBar.vue
  src/components/edit/EditorToolbar.vue
  src/components/edit/PreviewPanel.vue
  src/composables/usePointerDrag.ts
  src/composables/useTabsWatcher.ts
  src/composables/useTauriDropZone.ts
  src/composables/useTextEditorContentSync.ts
  src/composables/useTextEditorHistory.ts
  src/helper/asset-url.ts
  src/helper/webgal-script/sentence.ts
  src/services/directory-cache.ts
  src/stores/command-panel.ts
  src/stores/editor-view-state.ts
  src/stores/workspace.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/AssetPreview.vue
  src/components/edit/PreviewPanel.vue
  src/helper/asset-url.ts
  src/stores/workspace.ts
Due: eslint --fix, stylelint --fix

🐛 修复问题
  src/components/edit/AssetPreview.vue
Due: eslint --fix, stylelint --fix

👷 统一构建产物与发布资源命名
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/formatArtifactComment.js
Due: eslint --fix

✨ 实现动画编辑器
  src/components.d.ts
  src/components/edit/EditorPanel.vue
  src/components/edit/EditorStatusBar.vue
  src/components/edit/EffectEditorPanel.vue
  src/components/edit/FileEditor.vue
  src/components/edit/StatementAnimationEditorPanel.vue
  src/components/edit/StatementEditorInline.vue
  src/components/edit/StatementEditorPanel.vue
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/VisualEditorStatementCard.vue
  src/components/edit/animation/AnimationEditorPane.vue
  src/components/edit/animation/AnimationTimeline.vue
  src/components/edit/animation/animation-editor-contract.ts
  src/components/edit/animation/animation-inspector.ts
  src/components/edit/animation/useAnimationEditorSession.ts
  src/components/edit/effect-editor/EffectDraftForm.vue
  src/components/modals/CommandDefaultsModal.vue
  src/components/modals/StatementAnimationSubDialog.vue
  src/components/modals/StatementGroupModal.vue
  src/composables/effect-editor/useEffectDurationControl.ts
  src/composables/useEffectEditorDialog.ts
  src/composables/useStatementAnimationDialog.ts
  src/composables/useStatementAnimationEditorBridge.ts
  src/composables/useStatementEditor.ts
  src/composables/useTextEditorHistory.ts
  src/helper/animation-frame.ts
  src/helper/command-registry/effect.ts
  src/helper/command-registry/schema.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/models/transaction-apply.ts
  src/models/visual-projection.ts
  src/stores/editor.ts
  src/stores/internal/editor-document-actions.ts
  src/stores/internal/editor-file-lifecycle.ts
  src/stores/internal/editor-transaction-inverse.ts
  src/styles/main.css
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/StatementAnimationEditorPanel.vue
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/animation/AnimationTimeline.vue
  src/components/edit/animation/animation-timeline-layout.ts
  src/components/edit/effect-editor/EffectDraftForm.vue
  src/components/modals/StatementAnimationSubDialog.vue
  src/composables/effect-editor/useEffectDurationControl.ts
  src/composables/useStatementAnimationEditorBridge.ts
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix, stylelint --fix

🐛 修复报告问题
  src/components/edit/VisualEditorAnimation.vue
  src/components/edit/animation/AnimationTimeline.vue
  src/components/edit/animation/animation-timeline-layout.ts
  src/components/edit/effect-editor/EffectDraftForm.vue
  src/stores/internal/editor-file-lifecycle.ts
Due: eslint --fix, stylelint --fix

🐛 将 say 语句的 vocal 序列化为简写形式
  src/helper/webgal-script/serialize.ts
Due: eslint --fix

🐛 修复文本编辑器视图状态按文件路径恢复
  src/composables/useTextEditorWorkspace.ts
Due: eslint --fix

🚩 添加允许自动播放的浏览器参数
  src-tauri/src/window.rs
Due: none

🐛 修复文本编辑器场景光标恢复跳动
  src/composables/useTextEditorRuntime.ts
  src/helper/text-editor-scene-restore.ts
Due: eslint --fix

♻️ 收敛文本编辑器 URI 匹配逻辑
  src/composables/useTextEditorContentSync.ts
  src/composables/useTextEditorWorkspace.ts
  src/helper/text-editor-model-uri.ts
Due: eslint --fix

🐛 修复 FilePicker 提前归一化导致的文本编辑器意外序列化
  src/components/FilePicker.vue
Due: eslint --fix, stylelint --fix

✨ 为文本编辑器添加「执行到此句」按钮
  src/components/edit/TextEditor.vue
  src/helper/text-editor-play-to-line.ts
  src/helper/text-editor-scene-sync.ts
Due: eslint --fix, stylelint --fix

🐛 修复问题
  src/components/edit/TextEditor.vue
  src/helper/text-editor-play-to-line.ts
Due: eslint --fix, stylelint --fix

🧪 建立单元测试基础设施并补充工具层覆盖
  .gitignore
  bun.lock
  package.json
  src/__tests__/mocks/i18n.ts
  src/__tests__/mocks/modal-store.ts
  src/__tests__/mocks/router.ts
  src/__tests__/mocks/tauri-fs.ts
  src/__tests__/setup.ts
  src/utils/__tests__/artifact-comment.test.ts
  src/utils/__tests__/batch.test.ts
  src/utils/__tests__/error-handler.test.ts
  src/utils/__tests__/format.test.ts
  src/utils/__tests__/path.test.ts
  src/utils/__tests__/sort.test.ts
  src/utils/__tests__/speaker.test.ts
  src/utils/__tests__/wheel.test.ts
  vite.config.ts
Due: eslint --fix

♻️ 改进
  package.json
  src/__tests__/mocks/tauri-fs.ts
  src/utils/__tests__/artifact-comment.test.ts
  vite.config.ts
Due: eslint --fix

🐛 修复报告问题
  src/utils/__tests__/artifact-comment.test.ts
Due: eslint --fix

🧪 为通用辅助函数与模型层补充单元测试覆盖
  src/helper/__tests__/asset-url.test.ts
  src/helper/__tests__/async-queue.test.ts
  src/helper/__tests__/color.test.ts
  src/helper/__tests__/dynamic-options.test.ts
  src/helper/__tests__/history-shortcut.test.ts
  src/helper/__tests__/math.test.ts
  src/helper/__tests__/preview-media-session.test.ts
  src/helper/__tests__/scene-presentation.test.ts
  src/helper/__tests__/scene-text-panel.test.ts
  src/helper/__tests__/text-editor-history-adapter.test.ts
  src/helper/__tests__/text-editor-language.test.ts
  src/helper/__tests__/text-editor-model-uri.test.ts
  src/helper/__tests__/text-editor-options.test.ts
  src/helper/__tests__/text-editor-play-to-line.test.ts
  src/helper/__tests__/text-editor-scene-sync.test.ts
  src/helper/__tests__/visual-editor-focus.test.ts
  src/models/__tests__/animation-document-codec.test.ts
  src/models/__tests__/file-codec.test.ts
  src/models/__tests__/scene-selection.test.ts
  src/models/__tests__/serializer.test.ts
  src/models/__tests__/text-projection.test.ts
  src/models/__tests__/transaction-engine.test.ts
  src/models/__tests__/visual-projection.test.ts
Due: eslint --fix

♻️ 改进
  src/helper/__tests__/asset-url.test.ts
  src/helper/__tests__/async-queue.test.ts
  src/helper/__tests__/color.test.ts
  src/helper/__tests__/text-editor-model-uri.test.ts
  src/helper/__tests__/visual-editor-focus.test.ts
  src/models/__tests__/scene-selection.test.ts
Due: eslint --fix

🧪 补充测试
  src/helper/__tests__/asset-url.test.ts
  src/helper/__tests__/text-editor-model-uri.test.ts
  src/models/__tests__/scene-selection.test.ts
Due: eslint --fix

🧪 为 WebGAL 脚本与语句编辑器内核补充单元测试覆盖
  src/helper/command-registry/__tests__/common-params.test.ts
  src/helper/command-registry/__tests__/registry.test.ts
  src/helper/command-registry/__tests__/schema.test.ts
  src/helper/statement-editor/__tests__/field-utils.test.ts
  src/helper/statement-editor/__tests__/file-missing.test.ts
  src/helper/statement-editor/__tests__/helpers.test.ts
  src/helper/statement-editor/__tests__/json-fields.test.ts
  src/helper/statement-editor/__tests__/param-value.test.ts
  src/helper/statement-editor/__tests__/preview.test.ts
  src/helper/statement-editor/__tests__/visibility.test.ts
  src/helper/webgal-script/__tests__/arg-utils.test.ts
  src/helper/webgal-script/__tests__/command-node-codec.test.ts
  src/helper/webgal-script/__tests__/command-node-param-access.test.ts
  src/helper/webgal-script/__tests__/command-node-update-content.test.ts
  src/helper/webgal-script/__tests__/command-node-update-extra-args.test.ts
  src/helper/webgal-script/__tests__/command-node-update-inline-comment.test.ts
  src/helper/webgal-script/__tests__/command-node-update-param.test.ts
  src/helper/webgal-script/__tests__/command-node-update-speaker.test.ts
  src/helper/webgal-script/__tests__/content.test.ts
  src/helper/webgal-script/__tests__/parse-check.test.ts
  src/helper/webgal-script/__tests__/parser.test.ts
  src/helper/webgal-script/__tests__/roundtrip.test.ts
  src/helper/webgal-script/__tests__/serialize.test.ts
Due: eslint --fix

♻️ 改进
  src/helper/command-registry/__tests__/common-params.test.ts
  src/helper/command-registry/__tests__/registry.test.ts
  src/helper/webgal-script/__tests__/command-node-param-access.test.ts
  src/helper/webgal-script/__tests__/command-node-update-content.test.ts
Due: eslint --fix

♻️ 改进
  src/helper/webgal-script/__tests__/command-node-codec.test.ts
  src/helper/webgal-script/__tests__/command-node-param-access.test.ts
  src/helper/webgal-script/__tests__/command-node-update-content.test.ts
  src/helper/webgal-script/__tests__/command-node-update-extra-args.test.ts
  src/helper/webgal-script/__tests__/command-node-update-inline-comment.test.ts
  src/helper/webgal-script/__tests__/command-node-update-param.test.ts
  src/helper/webgal-script/__tests__/command-node-update-speaker.test.ts
  src/helper/webgal-script/__tests__/utils.test.ts
  src/helper/webgal-script/__tests__/utils.ts
Due: eslint --fix

🚨 修复 lint 警告
  src/helper/webgal-script/__tests__/command-node-codec.test.ts
  src/helper/webgal-script/__tests__/command-node-param-access.test.ts
  src/helper/webgal-script/__tests__/command-node-update-content.test.ts
  src/helper/webgal-script/__tests__/command-node-update-extra-args.test.ts
  src/helper/webgal-script/__tests__/command-node-update-inline-comment.test.ts
  src/helper/webgal-script/__tests__/command-node-update-param.test.ts
  src/helper/webgal-script/__tests__/command-node-update-speaker.test.ts
Due: eslint --fix

🧪 为 stores 与 services 补充单元测试覆盖
  src/services/__tests__/config-manager.test.ts
  src/services/__tests__/directory-cache.test.ts
  src/services/__tests__/document-write-intents.test.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/game-fs.test.ts
  src/services/__tests__/game-manager.test.ts
  src/stores/__tests__/command-panel.test.ts
  src/stores/__tests__/edit-settings.test.ts
  src/stores/__tests__/editor-auto-save.test.ts
  src/stores/__tests__/editor-preview-sync.test.ts
  src/stores/__tests__/editor-ui-state.test.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/file.test.ts
  src/stores/__tests__/general-settings.test.ts
  src/stores/__tests__/preference.test.ts
  src/stores/__tests__/preview-settings.test.ts
  src/stores/__tests__/resource.test.ts
  src/stores/__tests__/storage-settings.test.ts
  src/stores/__tests__/tabs.test.ts
  src/stores/__tests__/workspace.test.ts
  src/stores/internal/__tests__/editor-document-actions.test.ts
  src/stores/internal/__tests__/editor-document-state.test.ts
  src/stores/internal/__tests__/editor-file-lifecycle.test.ts
  src/stores/internal/__tests__/editor-session.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
