Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx,cjs,mjs,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "src/locales/*.{json,json5,yaml,yml}": "eslint --fix"
}

🐛 统一托管注册路径归一化
  src/services/__tests__/game-manager.test.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/services/template-manager.ts
Due: eslint --fix

🧪 补充 Android 托管目录只读断言
  src/components/settings/form/SettingsForm.spec.ts
Due: eslint --fix

🧪 补充启动恢复流程测试
  src/features/app-startup/__tests__/app-startup.test.ts
Due: eslint --fix

🧪 补充资源导入工作流调用顺序断言
  src/features/resource-import/__tests__/resource-import-workflows.test.ts
Due: eslint --fix

🐛 修复托管导入 session 恢复顺序
  src/features/resource-import/__tests__/managed-import-recovery.test.ts
  src/features/resource-import/managed-import-recovery.ts
  src/types/managed-import.ts
Due: eslint --fix

🐛 修复托管导入状态 i18n lint
  src/components/home/ManagedImportStatus.vue
Due: eslint --fix, stylelint --fix

🐛 拒绝未知的托管暂存结果
  src/commands/__tests__/resource-import.test.ts
  src/commands/resource-import.ts
Due: eslint --fix

🐛 忙时拒绝引擎拖放导入
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/engines-tab/EnginesTab.vue
  src/components/home/engines-tab/EnginesTabCollectionSection.spec.ts
  src/components/home/engines-tab/EnginesTabCollectionSection.vue
Due: eslint --fix, stylelint --fix

✨ 发布 Android Web 导出到下载目录
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/export.rs
  src-tauri/src/lib.rs
Due: none

🐛 恢复中断的 Android 导出会话
  src/App.vue
  src/commands/export.ts
  src/features/app-startup/__tests__/app-startup.test.ts
  src/features/app-startup/app-startup.ts
  src/features/export/__tests__/android-web-export-workflow.test.ts
  src/features/export/android-web-export-workflow.ts
Due: eslint --fix, stylelint --fix

✨ 接入 Android Web 导出流程
  src-tauri/src/commands/export.rs
  src/commands/export.ts
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
  src/components/export/ExportOutputDirectoryField.vue
  src/features/export/__tests__/android-web-export-workflow.test.ts
  src/features/export/android-export-publisher.ts
  src/features/export/android-web-export-workflow.ts
  src/features/export/useWebExportDialog.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/export-manager.test.ts
  src/services/export-manager.ts
Due: eslint --fix, stylelint --fix

♻️ 收口 Android 导出平台边界
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/gen/android/app/src/androidTest/java/com/akirami/webgalcraft/AndroidExportRecoveryInstrumentationTest.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/AndroidExportPlugin.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/AndroidExportSession.kt
  src-tauri/src/commands/android_export.rs
  src-tauri/src/commands/export.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/mobile/android_export.rs
  src-tauri/src/mobile/mod.rs
  src/commands/export.ts
  src/features/export/android-export-publisher.ts
Due: eslint --fix

🐛 修复 Android 导出模块 CI 错误
  src-tauri/src/commands/android_export.rs
  src-tauri/src/mobile/android_export.rs
Due: none

🐛 启用 Android Web 导出 ZIP 压缩
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

✨ 支持 Android Web 导出产物发布到公共下载目录 (#303)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/gen/android/app/src/androidTest/java/com/akirami/webgalcraft/AndroidExportRecoveryInstrumentationTest.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/AndroidExportPlugin.kt
  src-tauri/gen/android/app/src/main/java/com/akirami/webgalcraft/AndroidExportSession.kt
  src-tauri/src/commands/android_export.rs
  src-tauri/src/commands/export.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/mobile/android_export.rs
  src-tauri/src/mobile/mod.rs
  src/App.vue
  src/commands/export.ts
  src/components/export/ExportDialog.spec.ts
  src/components/export/ExportDialog.vue
  src/components/export/ExportOutputDirectoryField.vue
  src/features/app-startup/__tests__/app-startup.test.ts
  src/features/app-startup/app-startup.ts
  src/features/export/__tests__/android-web-export-workflow.test.ts
  src/features/export/android-export-publisher.ts
  src/features/export/android-web-export-workflow.ts
  src/features/export/useWebExportDialog.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/services/__tests__/export-manager.test.ts
  src/services/export-manager.ts
Due: eslint --fix, stylelint --fix

fix: cover statement highlights in high contrast themes
  src/components/editor/TextEditor.vue
Due: eslint --fix, stylelint --fix

test: allow editor status fixtures to override capabilities
  src/features/editor/status-bar/__tests__/editor-status-bar.test.ts
Due: eslint --fix

fix: preserve multiline statements during file drops
  src/features/editor/text-editor/__tests__/text-editor-file-drop.test.ts
  src/features/editor/text-editor/text-editor-file-drop.ts
Due: eslint --fix

fix: require indentation for continuation markers
  src/plugins/editor/index.ts
Due: eslint --fix

chore: clarify legacy multiline diagnostics parsing
  src/plugins/editor/diagnostics.ts
Due: eslint --fix

perf: cache completion statement ranges by model version
  src/plugins/editor/index.ts
Due: eslint --fix

🐛 修复触控设备下按钮与开关默认尺寸异常
  src/styles/main.css
Due: stylelint --fix

🐛 修复按钮与开关默认尺寸被全局样式覆盖 (#305)
  src/styles/main.css
Due: stylelint --fix

🐛 修复托管资源卸载的平台回收站策略
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/engine-manager.ts
  src/services/template-manager.ts
Due: eslint --fix

🐛 修复浏览器测试运行时 mock 缺少导出
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
Due: eslint --fix

🐛 修复托管资源卸载的平台回收站策略 (#306)
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/__tests__/template-manager.test.ts
  src/services/engine-manager.ts
  src/services/template-manager.ts
Due: eslint --fix

✨ 支持 Opus 音频文件
  integration/support/mock-tauri.ts
  src/components/modals/game-config/GameConfigFieldsSection.spec.ts
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/common-params.ts
Due: eslint --fix

🐛 诊断旧引擎 Opus 语音简写兼容性
  src/components/editor/TextEditor.spec.ts
  src/domain/engine/__tests__/runtime-capabilities.test.ts
  src/domain/engine/runtime-capabilities.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/resource.test.ts
Due: eslint --fix

✨ 支持 Opus 格式音频文件 (#307)
  integration/support/mock-tauri.ts
  src/components/editor/TextEditor.spec.ts
  src/components/modals/game-config/GameConfigFieldsSection.spec.ts
  src/domain/engine/__tests__/runtime-capabilities.test.ts
  src/domain/engine/runtime-capabilities.ts
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/diagnostics.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/diagnostics.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/diagnostics/useEditorDiagnostics.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/resource.test.ts
Due: eslint --fix

✨ 支持 WebGAL 4.6.3 四个新立绘位置
  src/components/editor/EditorPanel.vue
  src/components/editor/StatementEditorInline.vue
  src/components/editor/StatementEditorPanel.vue
  src/components/editor/TextEditor.spec.ts
  src/components/editor/VisualEditorScene.vue
  src/components/editor/VisualEditorStatementCard.vue
  src/domain/engine/__tests__/runtime-capabilities.test.ts
  src/domain/engine/runtime-capabilities.ts
  src/domain/script/__tests__/command-node-codec.test.ts
  src/domain/script/__tests__/command-node-param-access.test.ts
  src/domain/script/__tests__/command-node-update-param.test.ts
  src/domain/script/params.ts
  src/domain/script/types.ts
  src/domain/script/update.ts
  src/features/editor/__tests__/statement-editor-test-utils.ts
  src/features/editor/command-registry/__tests__/common-params.test.ts
  src/features/editor/command-registry/__tests__/completion.test.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/autocomplete-options.ts
  src/features/editor/command-registry/common-params.ts
  src/features/editor/command-registry/completion.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/effect-editor/__tests__/useStatementEffectEditorBridge.test.ts
  src/features/editor/effect-editor/useStatementEffectEditorBridge.ts
  src/features/editor/statement-editor/__tests__/useStatementEditorParams.test.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/features/editor/statement-editor/useStatementEditorParams.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/completion/webgal-argument-keys.ts
  src/plugins/editor/index.ts
  src/stores/__tests__/editor.test.ts
  src/stores/__tests__/resource.test.ts
Due: eslint --fix, stylelint --fix

✨ 增加旧引擎扩展立绘位置诊断
  src/domain/script/__tests__/figure-position-diagnostics.test.ts
  src/domain/script/figure-position-diagnostics.ts
  src/features/editor/command-registry/__tests__/monaco-completion-adapter.browser.test.ts
  src/features/editor/command-registry/__tests__/monaco-diagnostics-adapter.browser.test.ts
  src/features/editor/diagnostics/__tests__/scene-diagnostics.test.ts
  src/features/editor/diagnostics/__tests__/useEditorDiagnostics.test.ts
  src/features/editor/diagnostics/document-diagnostics.ts
  src/features/editor/diagnostics/presentation.ts
  src/features/editor/diagnostics/scene-diagnostics.ts
  src/features/editor/diagnostics/types.ts
  src/features/editor/statement-editor/__tests__/useStatementFieldDiagnostics.test.ts
  src/features/editor/statement-editor/useStatementEditor.ts
  src/features/editor/statement-editor/useStatementFieldDiagnostics.ts
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
  src/plugins/editor/diagnostics.ts
Due: eslint --fix

🐛 修复旧引擎显示扩展立绘位置选项
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/__tests__/useParamChoiceFieldViewModel.test.ts
  src/components/editor/param-renderer/useParamChoiceFieldViewModel.ts
  src/components/editor/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/editor/statement-editor/types.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
  src/stores/editor.ts
Due: eslint --fix, stylelint --fix

✨ 面板支持 4.6.3 立绘位置图标控件
  src/components.d.ts
  src/components/editor/param-renderer/ParamRenderer.spec.ts
  src/components/editor/param-renderer/ParamRenderer.vue
  src/components/editor/param-renderer/controls/FigurePositionControl.spec.ts
  src/components/editor/param-renderer/controls/FigurePositionControl.vue
  src/components/editor/statement-editor/StatementCommandFieldsSection.spec.ts
  src/components/editor/statement-editor/types.ts
  src/features/editor/command-registry/__tests__/registry.test.ts
  src/features/editor/command-registry/perform.ts
  src/features/editor/command-registry/schema.ts
  src/features/editor/statement-editor/useStatementEditorFieldBindings.ts
Due: eslint --fix, stylelint --fix

🐛 明确扩展立绘位置所需引擎版本
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 优化 WebGAL 4.6.3 兼容性诊断文案
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix

🐛 优化 WebGAL 4.6.3 兼容性诊断文案 (#309)
  src/locales/en.yml
  src/locales/ja.yml
  src/locales/zh-Hans.yml
  src/locales/zh-Hant.yml
Due: eslint --fix
