Repository A-kirami/webgal-craft: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

✨ 引入 VFS 核心后端与项目配置命令 (#161)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/fs.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/project_config.rs
  src-tauri/src/commands/vfs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/fs.ts
  src/commands/project-config.ts
  src/commands/vfs.ts
  src/services/engine-manager.ts
  src/services/game-manager.ts
  src/types/project-config.ts
Due: eslint --fix

✨ 重构预览服务器以支持站点级 engine / template 注入
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/vfs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/server.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/preview-runtime.ts
  src/types/server.ts
Due: eslint --fix

🔥 移除冗余的静态资源 URI 构造逻辑
  src-tauri/src/commands/server.rs
Due: none

🔥 移除冗余的 Content-Type 兜底逻辑
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/server.rs
  src-tauri/src/vfs.rs
Due: none

♻️ 收敛预览站点入参为 StaticSiteConfig
  src/components/modals/DiscoveredResourcesModal.vue
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/composables/useResourcePreviewPrimer.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/preview-runtime.ts
  src/stores/preview-session.ts
Due: eslint --fix, stylelint --fix

🐛 切换 engine 时同步刷新默认模板路径
  src-tauri/src/commands/server.rs
Due: none

🎨 格式化 rust 后端代码
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/vfs.rs
Due: none

✅ 补充 SiteNotRegistered 错误码契约断言
  src-tauri/src/commands/error.rs
Due: none

✅ 测试 create_temp_dir 增加原子计数避免并发碰撞
  src-tauri/src/commands/vfs.rs
Due: none

♻️ 简化代码
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/vfs.rs
  src/stores/preview-runtime.ts
Due: eslint --fix

✨ 支持站点级 VFS 预览服务及 engine/template 动态注入 (#162)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/error.rs
  src-tauri/src/commands/server.rs
  src-tauri/src/commands/vfs.rs
  src-tauri/src/lib.rs
  src-tauri/src/vfs.rs
  src/commands/server.ts
  src/components/modals/DiscoveredResourcesModal.vue
  src/composables/__tests__/useResourcePreviewPrimer.test.ts
  src/composables/useResourcePreviewPrimer.ts
  src/stores/__tests__/preview-runtime.test.ts
  src/stores/__tests__/preview-session.test.ts
  src/stores/preview-runtime.ts
  src/stores/preview-session.ts
  src/types/server.ts
Due: eslint --fix, stylelint --fix

🐛 修复引擎切换在旧引擎记录缺失时无法回滚站点路径
  src/services/engine-switch.ts
Due: eslint --fix

♻️ 显式以最新版本的 name 作为引擎组显示名
  src/composables/use-engine-groups.ts
Due: eslint --fix

✅ 补充引擎切换回滚路径的 fault-injection 测试
  src/services/__tests__/engine-switch.test.ts
Due: eslint --fix

🚨 移除测试文件中未使用的 afterEach 导入
  src/components/home/engines-tab/EnginesTab.spec.ts
  src/components/home/games-tab/GamesTab.spec.ts
  src/components/home/templates-tab/TemplatesTab.spec.ts
  src/components/modals/CreateGameModal.spec.ts
  src/components/modals/DeleteEngineGroupModal.spec.ts
  src/components/modals/DeleteEngineModal.spec.ts
  src/components/modals/DeleteGameModal.spec.ts
  src/components/shared/EngineSelector.spec.ts
Due: eslint --fix

✅ 补全 ScenePanel 测试中 app-paths mock 的 gameConfigPath 等导出
  src/components/editor/ScenePanel.spec.ts
Due: eslint --fix

✅ 补全 DeleteEngineGroupModal 测试的 groupName 必填属性
  src/components/modals/DeleteEngineGroupModal.spec.ts
Due: eslint --fix

✅ 集成测试 mock 补全 VFS/项目配置等新增 Tauri 命令
  integration/support/mock-tauri.ts
Due: eslint --fix

🐛 引擎切换将模板清理放在所有可回滚步骤之后
  src/services/__tests__/engine-switch.test.ts
  src/services/engine-switch.ts
Due: eslint --fix

🐛 启动校验失败不再阻断自动打开最近项目
  src/App.vue
Due: eslint --fix, stylelint --fix

🐛 引擎选择弹窗重新打开时清空已选引擎
  src/components/modals/EngineSelectionModal.vue
Due: eslint --fix, stylelint --fix

🐛 删除弹窗增加重入保护防止并发触发
  src/components/modals/DeleteGameConfirmModal.vue
  src/components/modals/DeleteGameModal.vue
  src/components/modals/DeleteTemplateModal.vue
Due: eslint --fix, stylelint --fix

🐛 引擎切换前校验目标状态并避免通知失败回滚清理后的模板
  src/services/engine-switch.ts
Due: eslint --fix

🐛 引擎切换重新解析当前预览的 serve URL
  src/services/__tests__/engine-switch.test.ts
  src/services/engine-switch.ts
  src/stores/preview-session.ts
Due: eslint --fix

✅ uninstallEngineGroup 测试以 engineId 字段值传入
  src/services/__tests__/engine-manager.test.ts
Due: eslint --fix

✅ createTestTemplate 默认 metadata 不再被 options spread 覆盖
  src/__tests__/factories.ts
Due: eslint --fix

🐛 isFieldDirty 纳入 gameTemplate 的脏检查
  src/features/modals/create-game/useCreateGameForm.ts
Due: eslint --fix

🐛 refreshCurrentGameSnapshot 防止 await 期间游戏切换写入旧快照
  src/stores/workspace.ts
Due: eslint --fix

🐛 模板分组的引擎来源不再受模板搜索过滤影响
  src/stores/resource.ts
Due: eslint --fix

🐛 引擎发现弹窗以最新版本作为分组展示项
  src/components/modals/DiscoveredResourcesModal.vue
Due: eslint --fix, stylelint --fix

🐛 文件 watcher 事件路径统一规范化为 POSIX
  src/stores/file.ts
Due: eslint --fix

♻️ 简化代码
  src/App.vue
  src/components/home/engines-tab/EngineGroupCard.vue
  src/components/home/engines-tab/EngineVersionPopover.vue
  src/components/home/templates-tab/TemplateGroupCard.vue
  src/components/home/templates-tab/TemplatesTabCollectionSection.vue
  src/components/modals/DiscoveredResourcesModal.vue
  src/components/modals/SwitchEngineModal.vue
  src/components/modals/SwitchTemplateModal.vue
  src/components/shared/EngineSelector.vue
  src/features/home/useDiscoverResources.ts
  src/services/engine-manager.ts
  src/services/engine-switch.ts
  src/services/template-manager.ts
  src/services/template-switch.ts
Due: eslint --fix, stylelint --fix

🐛 file store 无工作区时立即兑现 initialized
  src/stores/file.ts
Due: eslint --fix

🚨 修复 DiscoveredResourcesModal 标题 switch 缺失 default 分支
  src/components/modals/DiscoveredResourcesModal.vue
Due: eslint --fix, stylelint --fix

🚨 修复 useDiscoverResources 缺失 default 分支与动态 i18n key
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 允许默认引擎组在无可用版本时取消默认
  src/components/home/engines-tab/EngineGroupCard.spec.ts
  src/components/home/engines-tab/EngineGroupCard.vue
Due: eslint --fix, stylelint --fix

🐛 跳过元数据损坏的已发现模板
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 资源发现按语义键过滤已导入项
  src/features/home/__tests__/useDiscoverResources.test.ts
  src/features/home/useDiscoverResources.ts
Due: eslint --fix

🐛 保留无效引擎清单的具体错误原因
  src/features/home/shared/__tests__/home-resource-import.test.ts
  src/features/home/shared/home-resource-import.ts
  src/services/__tests__/engine-manager.test.ts
  src/services/engine-manager.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx,cjs,mjs,vue}) or (any of: src/locales/*.{json,json5,yaml,yml})
  stylelint --fix: any of: *.{css,vue}
